<div class="row">
    <div class="col-md-6 col-lg-3">
        <div class="card">
            <div class="card-body">
                <h5><b>Active Users</b></h5>
            </div>
            <div style="width: 100%">
                <canvas id="pie1"></canvas>
            </div>
            <br>
            <br>
        </div>
    </div>

    <div class="col-md-6 col-lg-3">
        <div class="card">
            <div class="card-body">
                <h5><b>Users in Main</b></h5>
            </div>
            <div style="width: 100%">
                <canvas id="pie2"></canvas>
            </div>
            <br>
            <br>
        </div>
    </div>
    <!--   
    <div class="col-md-6 col-lg-3">
      <div class="card">
        <div class="card-body">
          <h5><b>{{field_dashboard_heading_files}}</b></h5>
        </div>
        <div style="width: 100%">
          <canvas id="pie2"></canvas>
        </div>
        <br>
        <br>
      </div>
    </div>
  
    <div class="col-md-6 col-lg-3">
      <div class="card">
        <div class="card-body">
          <h5><b>{{field_dashboard_heading_applications}}</b></h5>
        </div>
        <div style="width: 100%">
          <canvas id="pie3"></canvas>
        </div>
        <br>
        <br>
      </div>
    </div> -->
</div>