<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h2>{{currentSectorDetailName}} List</h2>
            </div>
            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let obj of userToEntityArr">
                            <div class="card">
                                <div class="card-body text-center">
                                    <img class="rounded-circle"
                                        src="{{IMAGES_BASE_LOCATION}}/{{getEntityIconFileNameFromEntityId(obj.entity_id)}}" />
                                    <div>
                                        <h4 class="card-title">{{getEntityNameFromEntityId(obj.entity_id)}}</h4>
                                    </div>
                                    <hr>
                                    <div *ngIf="obj.current_status == -1">
                                        <button class="btn btn-danger" (click)="onClickAccess(obj)">
                                            Request Access
                                        </button>
                                    </div>

                                    <div *ngIf="obj.current_status == 0">
                                        Sorry, Your access to this entity is declined.
                                    </div>

                                    <div *ngIf="obj.current_status == 1">
                                        <button class="btn btn-primary" (click)="onClickAccess(obj)">
                                            Access
                                        </button>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>