<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <form class="form-horizontal form-material" name="form" #f="ngForm">
                <div class="card-header">
                    <h2> {{field_editFields_heading_configure_fields}} </h2>
                    <h6>{{field_editFields_info}}</h6>
                </div>
                <div class="card-body">
                    <h6 class="card-subtitle"></h6>
                    <div class="form-group row">
                        <label for="componentName" class="col-2">{{field_editFields_select_component}}</label>
                        <div class="col-10">
                            <select class="form-control" name="componentName" [(ngModel)]="componentName"
                                (change)="onSelectComponentChange()" required>
                                <option *ngFor="let obj of componentNameArr" [value]="obj">{{obj}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="field_name" class="col-2">{{field_editFields_select_field_to_edit}}</label>
                        <div class="col-10">
                            <select class="form-control" name="field_name" [(ngModel)]="currentFieldDetail"
                                (change)="onSelectFieldChange()" required>
                                <option [ngValue]="obj" *ngFor="let obj of currentFieldDetailArr">
                                    {{obj.field_name}}</option>
                            </select>
                        </div>
                    </div>


                    <div class="form-group row">
                        <label for="field_value" class="col-2">{{field_editFields_current_field_value}}</label>
                        <div class="col-10">
                            <input type="text" class="form-control" name="field_value"
                                [(ngModel)]="currentFieldDetail.field_value" required />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-3 col-form-label"
                            for="inline-radios">{{field_editFields_make_field}}</label>
                        <div class="col-md-9 col-form-label">
                            <div class="form-check form-check-inline mr-1" id="inline-radios">
                                <input class="form-check-input" type="radio" name="inline-radios" id="inlineRadio1"
                                    [(ngModel)]="currentFieldDetail.is_required" [value]="true">
                                <label class="form-check-label"
                                    for="inlineRadio1">{{field_editFields_mandatory}}</label>
                            </div>
                            <div class="form-check form-check-inline mr-1">
                                <input class="form-check-input" type="radio" name="inline-radios" id="inlineRadio2"
                                    [(ngModel)]="currentFieldDetail.is_required" [value]="false">
                                <label class="form-check-label" for="inlineRadio2">{{field_editFields_optional}}</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="error_message" class="col-2">{{field_editFields_error_message}}</label>
                        <div class="col-10">
                            <input type="text" class="form-control" name="error_message"
                                [(ngModel)]="currentFieldDetail.error_message" required />
                        </div>
                    </div>


                    <div class="container">
                        <div class="row">
                            <div class="col-2">
                                <button class="btn btn-primary"
                                    (click)="onClickUpdate()">{{field_editFields_button_update}}
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="col-2">
                                <button type="button" class="btn btn-danger"
                                    (click)="onClickReset()">{{field_editFields_button_reset}}
                                    <i class="fa fa-times" aria-hidden="true"></i></button>
                            </div>
                            <div class="col-2">
                                <button class="btn btn-secondary" type="button">{{field_editFields_cancel}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>