<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <form class="form-horizontal form-material" name="form" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()">
                <div class="card-header">
                    <h2 *ngIf="isComponentNew">Add New Access Policy</h2>
                    <h2 *ngIf="!isComponentNew">Update Access Policy </h2>
                    <h6>{{field_crudAccessPolicy_info}}</h6>
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <label for="access_policy_name" class="col-2">{{field_crudAccessPolicy_access_policy_name}}
                            <span *ngIf="field_access_policy_name_required"> (*) </span></label>
                        <div class="col-10">
                            <input type="text" class="form-control" name="access_policy_name"
                                [(ngModel)]="accessPolicy.access_policy_name" #access_policy_name="ngModel"
                                pattern="^(?:[A-Za-z0-9]+)(?:[A-Za-z0-9 _]*)$" [disabled]="!isComponentNew"
                                [ngClass]="{ 'is-invalid': f.submitted && access_policy_name.invalid }"
                                [required]="field_access_policy_name_required" />
                            <div *ngIf="f.submitted && access_policy_name.invalid && (access_policy_name.dirty || access_policy_name.touched)"
                                class="invalid-feedback">
                                <div *ngIf="access_policy_name.errors.required || access_policy_name.errors.pattern">
                                    {{field_crudAccessPolicy_access_policy_name_error_message}}</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="details" class="col-2">{{field_crudAccessPolicy_access_policy_details}}<span
                                *ngIf="field_access_policy_details_required">
                                (*) </span></label>
                        <div class="col-10">
                            <input type="text" class="form-control" name="details" #details="ngModel" pattern="^\S.*$"
                                [(ngModel)]="accessPolicy.details" [required]="field_details_required"
                                [ngClass]="{ 'is-invalid': f.submitted && details.invalid }">
                            <div *ngIf="f.submitted && details.invalid" class="invalid-feedback">
                                <div *ngIf="details.errors.required || details.errors.pattern">
                                    {{field_crudAccessPolicy_details_error_message}}</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-2">
                            <h5>{{field_crudAccessPolicy_entity_name}}<span *ngIf="field_entity_id_arr_required">
                                    (*)</span>
                            </h5>
                        </label>
                        <div class="col-10">
                            <select multiple size="6" class="form-control" name="currentEntityId"
                                [(ngModel)]="accessPolicy.entity_id_arr"
                                [required]="field_crudAccessPolicy_entity_id_arr_required">
                                <option *ngFor="let obj of entityDetailArr" [value]="obj.entity_id">
                                    {{obj.entity_name}}</option>
                            </select>
                        </div>

                    </div>

                    <div *ngIf="!accessPolicy.is_default" class="form-group form-check">
                        <input type="checkbox" name="can_be_deleted" [(ngModel)]="accessPolicy.can_be_deleted" />
                        <label for="can_be_deleted" class="col-2">{{field_crudAccessPolicy_can_be_deleted}} ?</label>
                    </div>

                    <div class="container">
                        <div class="row">
                            <div class="col-2">
                                <button class="btn btn-primary">
                                    <span *ngIf="isComponentNew">{{field_crudAccessPolicy_button_save}}</span>
                                    <span *ngIf="!isComponentNew">{{field_crudAccessPolicy_button_update}}</span>
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="col-2">
                                <button type="button" class="btn btn-danger"
                                    (click)="onClickReset()">{{field_crudAccessPolicy_button_reset}}
                                    <i class="fa fa-times" aria-hidden="true"></i></button>
                            </div>
                            <div class="col-2">
                                <button class="btn btn-secondary" type="button"
                                    (click)="onCancel()">{{field_crudAccessPolicy_button_cancel}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>