<nav class="navbar navbar-dark bg-primary navbar-expand-sm">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-list-2"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-list-2">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">
                    <h5>{{field_listAccessPolicy_heading_access_policy_management}}</h5><span
                        class="sr-only">(current)</span>
                </a>
            </li>

        </ul>

        <div class="ml-auto">
            <form class="form-inline">
                <input class="form-control search-input rounded-0 border-right-0" type="search" aria-label="Search"
                    (keyup)='search($event.target.value)'>
                <button class="btn btn-info" type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
        <button type="button" class="btn btn-primary" (click)="onClickAdd()">
            <i class="fa fa-plus-circle"
                aria-hidden="true"></i>{{field_listAccessPolicy_button_add_access_policy}}</button>
    </div>
</nav>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h2>{{field_listAccessPolicy_heading_access_policy_details}}</h2>
                <h6>{{field_listAccessPolicy_info}}</h6>
            </div>
            <div class="card-body  table-responsive">
                <table class={{COMMON_TABLE_OPTIONS}} [mfData]="tableDataArr" #mf="mfDataTable" [mfRowsOnPage]="10">
                    <thead>
                        <tr>
                            <th width="20%">
                                <mfDefaultSorter by="access_policy_id">{{field_listAccessPolicy_access_policy_id}}
                                </mfDefaultSorter>
                            </th>
                            <th width="20%">
                                <mfDefaultSorter by="access_policy_name">{{field_listAccessPolicy_access_policy_name}}
                                </mfDefaultSorter>
                            </th>
                            <th width="20%">
                                <mfDefaultSorter by="details">{{field_listAccessPolicy_details}}
                                </mfDefaultSorter>
                            </th>
                            <th width="20%">
                                <mfDefaultSorter by="action"></mfDefaultSorter>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let obj of mf.data">
                            <td>{{obj.access_policy_id}}</td>
                            <td>{{obj.access_policy_name}}</td>
                            <td>{{obj.details}}</td>
                            <td>
                                <button type="button" class="btn btn-primary" (click)="onClickEdit(obj)"><i
                                        class="fa fa-pencil-square"
                                        aria-hidden="true"></i>{{field_listAccessPolicy_button_edit}}</button>
                                <!-- <button *ngIf="!obj.is_default" type="button" class="btn btn-danger"
                                    (click)="onClickDelete(obj)"><i class="fa fa-trash"
                                        aria-hidden="true"></i>{{field_listAccessPolicy_button_delete}}</button> -->
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4">
                                <mfBootstrapPaginator [rowsOnPageSet]="[10,25,50]"></mfBootstrapPaginator>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>