
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h2>Network List</h2>
            </div>
            <div class="card-body">
                <div class="container">
                    <div class="row">

                        <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let obj of entitydetailsArr">
                            <div class="card">
                                <div class="card-body text-center">
                                    <img class="rounded-circle" src={{obj.icon_location}} />
                                    <div>
                                        <h4 class="card-title">{{obj.entity_name}}</h4>
                                    </div>
                                    <hr>
                                    <div>
                                        <a href="#" class="btn btn-primary "><i class="fa fa-plus"></i>Request</a>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>