====>
<div class="form-check form-check-inline mr-1">
    <input class="form-check-input" type="checkbox" [(ngModel)]="permissionFromParent.read"
        (change)="childOutputMethod()" name="read" disabled/>
    <label for="read" class="form-check-label">Read</label>
</div>
<div class="form-check form-check-inline mr-1">
    <input class="form-check-input" type="checkbox" [(ngModel)]="permissionFromParent.create"
        (change)="childOutputMethod()" name="create" />
    <label for="create" class="form-check-label">Create</label>
</div>
<div class="form-check form-check-inline mr-1">
    <input class="form-check-input" type="checkbox" [(ngModel)]="permissionFromParent.update"
        (change)="childOutputMethod()" name="update" />
    <label for="update" class="form-check-label">Update</label>
</div>
<div class="form-check form-check-inline mr-1">
    <input class="form-check-input" type="checkbox" [(ngModel)]="permissionFromParent.delete"
        (change)="childOutputMethod()" name="delete" />
    <label for="delete" class="form-check-label">Delete</label>
</div>
<div class="form-check form-check-inline mr-1">
    <input class="form-check-input" type="checkbox" 
        (change)="onSelectAll()" name="selectAll" />
    <label for="delete" class="form-check-label">All</label>
</div>