<div class="row">
    <div class="col-sm-12">
        <form class="form-horizontal form-material" name="form" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()">
            <div class="card">
                <div class="card-header">
                    <h2> {{field_crudPageMatrix_heading_page_matrix}} {{userOrRoleName}}</h2>
                    <h6>{{field_crudPageMatrix_info}}</h6>
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <label for="page_matrix_name" class="col-3">{{field_crudPageMatrix_page_matrix_name}}<span
                                *ngIf="field_crudPageMatrix_page_matrix_name_required">
                                (*) </span></label>
                        <div class="col-4">
                            <input type="text" class="form-control" name="page_matrix_name" #page_matrix_name="ngModel"
                                [(ngModel)]="pageMatrix.page_matrix_name" [required]="field_page_matrix_name_required"
                                [ngClass]="{ 'is-invalid': f.submitted && page_matrix_name.invalid }">
                            <div *ngIf="f.submitted && page_matrix_name.invalid" class="invalid-feedback">
                                <div *ngIf="page_matrix_name.errors.required || page_matrix_name.errors.pattern">
                                    {{field_crudPageMatrix_page_matrix_name_error_message}}</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="details" class="col-3">{{field_crudPageMatrix_details}}<span
                                *ngIf="field_crudPageMatrix_details_required">
                                (*) </span></label>
                        <div class="col-4">
                            <input type="text" class="form-control" name="details" #details="ngModel"
                                [(ngModel)]="pageMatrix.details" [required]="field_details_required"
                                [ngClass]="{ 'is-invalid': f.submitted && details.invalid }">
                            <div *ngIf="f.submitted && details.invalid" class="invalid-feedback">
                                <div *ngIf="details.errors.required || details.errors.pattern">
                                    {{field_crudPageMatrix_details_error_message}}</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row" *ngIf="isComponentNew">
                        <label for="details" class="col-3">{{field_crudPageMatrix_defaults}}</label>
                        <div class="col-4">
                            <select class="form-control" name="selectedDefault" [(ngModel)]="selectedDefault"
                                (change)="onChangeDefault()">
                                <option value="none" selected>None</option>
                                <option *ngFor="let obj of defaultPageMatrixArr" [value]="obj.id">
                                    {{obj.name}}
                                </option>
                            </select>
                        </div>
                    </div>



                    <hr>

                    <span *ngIf="flagShowPageMatrix">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">User Details</h5>
                                        <hr>


                                        <div class="form-group row">
                                            <label class="col-md-3 col-form-label"
                                                for="show_field_menu_link_editUserProfile">{{field_crudPageMatrix_editUserProfile}}</label>
                                            <div class="col-md-9 col-form-label">
                                                <div class="form-check form-check-inline mr-1"
                                                    id="show_field_menu_link_editUserProfile">
                                                    <input class="form-check-input" type="radio"
                                                        name="show_field_menu_link_editUserProfile"
                                                        [(ngModel)]="pageMatrix.show_field_menu_link_editUserProfile"
                                                        [value]="true">
                                                    <label class="form-check-label"
                                                        for="inlineRadio1">{{field_crudPageMatrix_allow}}</label>
                                                </div>
                                                <div class="form-check form-check-inline mr-1">
                                                    <input class="form-check-input" type="radio"
                                                        name="show_field_menu_link_editUserProfile"
                                                        [(ngModel)]="pageMatrix.show_field_menu_link_editUserProfile"
                                                        [value]="false">
                                                    <label class="form-check-label"
                                                        for="inlineRadio2">{{field_crudPageMatrix_deny}}</label>
                                                </div>
                                                <span *ngIf="pageMatrix.show_field_menu_link_editUserProfile">
                                                    <app-childPermission
                                                        [permissionFromParent]="pageMatrix.permission_editUserProfile"
                                                        (permissionFromChild)="permissionEditUserProfile($event)">
                                                    </app-childPermission>
                                                </span>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-md-3 col-form-label"
                                                for="show_field_menu_link_listUser">{{field_crudPageMatrix_listUser}}</label>
                                            <div class="col-md-9 col-form-label">
                                                <div class="form-check form-check-inline mr-1"
                                                    id="show_field_menu_link_listUser">
                                                    <input class="form-check-input" type="radio"
                                                        name="show_field_menu_link_listUser"
                                                        [(ngModel)]="pageMatrix.show_field_menu_link_listUser"
                                                        [value]="true">
                                                    <label class="form-check-label"
                                                        for="inlineRadio1">{{field_crudPageMatrix_allow}}</label>
                                                </div>
                                                <div class="form-check form-check-inline mr-1">
                                                    <input class="form-check-input" type="radio"
                                                        name="show_field_menu_link_listUser"
                                                        [(ngModel)]="pageMatrix.show_field_menu_link_listUser"
                                                        [value]="false">
                                                    <label class="form-check-label"
                                                        for="inlineRadio2">{{field_crudPageMatrix_deny}}</label>
                                                </div>
                                                <span *ngIf="pageMatrix.show_field_menu_link_listUser">
                                                    <app-childPermission
                                                        [permissionFromParent]="pageMatrix.permission_listUser"
                                                        (permissionFromChild)="permissionListUser($event)">
                                                    </app-childPermission>
                                                </span>
                                            </div>
                                        </div>

                                        <!-- <div class="form-group row">
                                            <label class="col-md-3 col-form-label"
                                                for="show_field_menu_link_crudUser">{{field_crudPageMatrix_crudUser}}</label>
                                            <div class="col-md-9 col-form-label">
                                                <div class="form-check form-check-inline mr-1"
                                                    id="show_field_menu_link_crudUser">
                                                    <input class="form-check-input" type="radio"
                                                        name="show_field_menu_link_crudUser"
                                                        [(ngModel)]="pageMatrix.show_field_menu_link_crudUser"
                                                        [value]="true">
                                                    <label class="form-check-label"
                                                        for="inlineRadio1">{{field_crudPageMatrix_allow}}</label>
                                                </div>
                                                <div class="form-check form-check-inline mr-1">
                                                    <input class="form-check-input" type="radio"
                                                        name="show_field_menu_link_crudUser"
                                                        [(ngModel)]="pageMatrix.show_field_menu_link_crudUser"
                                                        [value]="false">
                                                    <label class="form-check-label"
                                                        for="inlineRadio2">{{field_crudPageMatrix_deny}}</label>
                                                </div>
                                            </div>
                                        </div> -->



                                        <div class="form-group row">
                                            <label class="col-md-3 col-form-label"
                                                for="show_field_menu_link_listApprovalMatrix">{{field_crudPageMatrix_listApprovalMatrix}}</label>
                                            <div class="col-md-9 col-form-label">
                                                <div class="form-check form-check-inline mr-1"
                                                    id="show_field_menu_link_listApprovalMatrix">
                                                    <input class="form-check-input" type="radio"
                                                        name="show_field_menu_link_listApprovalMatrix"
                                                        [(ngModel)]="pageMatrix.show_field_menu_link_listApprovalMatrix"
                                                        [value]="true">
                                                    <label class="form-check-label"
                                                        for="inlineRadio1">{{field_crudPageMatrix_allow}}</label>
                                                </div>
                                                <div class="form-check form-check-inline mr-1">
                                                    <input class="form-check-input" type="radio"
                                                        name="show_field_menu_link_listApprovalMatrix"
                                                        [(ngModel)]="pageMatrix.show_field_menu_link_listApprovalMatrix"
                                                        [value]="false">
                                                    <label class="form-check-label"
                                                        for="inlineRadio2">{{field_crudPageMatrix_deny}}</label>
                                                </div>
                                                <span *ngIf="pageMatrix.show_field_menu_link_listApprovalMatrix">
                                                    <app-childPermission
                                                        [permissionFromParent]="pageMatrix.permission_listApprovalMatrix"
                                                        (permissionFromChild)="permissionListApprovalMatrix($event)">
                                                    </app-childPermission>
                                                </span>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-md-3 col-form-label"
                                                for="show_field_menu_link_listMakerCheckerRequest">{{field_crudPageMatrix_listMakerCheckerRequest}}</label>
                                            <div class="col-md-9 col-form-label">
                                                <div class="form-check form-check-inline mr-1"
                                                    id="show_field_menu_link_listMakerCheckerRequest">
                                                    <input class="form-check-input" type="radio"
                                                        name="show_field_menu_link_listMakerCheckerRequest"
                                                        [(ngModel)]="pageMatrix.show_field_menu_link_listMakerCheckerRequest"
                                                        [value]="true">
                                                    <label class="form-check-label"
                                                        for="inlineRadio1">{{field_crudPageMatrix_allow}}</label>
                                                </div>
                                                <div class="form-check form-check-inline mr-1">
                                                    <input class="form-check-input" type="radio"
                                                        name="show_field_menu_link_listMakerCheckerRequest"
                                                        [(ngModel)]="pageMatrix.show_field_menu_link_listMakerCheckerRequest"
                                                        [value]="false">
                                                    <label class="form-check-label"
                                                        for="inlineRadio2">{{field_crudPageMatrix_deny}}</label>
                                                </div>
                                                <span *ngIf="pageMatrix.show_field_menu_link_listMakerCheckerRequest">
                                                    <app-childPermission
                                                        [permissionFromParent]="pageMatrix.permission_listMakerCheckerRequest"
                                                        (permissionFromChild)="permissionListMakerCheckerRequest($event)">
                                                    </app-childPermission>
                                                </span>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-md-3 col-form-label"
                                                for="show_field_menu_link_listManagerUser">{{field_crudPageMatrix_listManagerUser}}</label>
                                            <div class="col-md-9 col-form-label">
                                                <div class="form-check form-check-inline mr-1"
                                                    id="show_field_menu_link_listManagerUser">
                                                    <input class="form-check-input" type="radio"
                                                        name="show_field_menu_link_listManagerUser"
                                                        [(ngModel)]="pageMatrix.show_field_menu_link_listManagerUser"
                                                        [value]="true">
                                                    <label class="form-check-label"
                                                        for="inlineRadio1">{{field_crudPageMatrix_allow}}</label>
                                                </div>
                                                <div class="form-check form-check-inline mr-1">
                                                    <input class="form-check-input" type="radio"
                                                        name="show_field_menu_link_listManagerUser"
                                                        [(ngModel)]="pageMatrix.show_field_menu_link_listManagerUser"
                                                        [value]="false">
                                                    <label class="form-check-label"
                                                        for="inlineRadio2">{{field_crudPageMatrix_deny}}</label>
                                                </div>
                                                <span *ngIf="pageMatrix.show_field_menu_link_listManagerUser">
                                                    <app-childPermission
                                                        [permissionFromParent]="pageMatrix.permission_listManagerUser"
                                                        (permissionFromChild)="permissionListManagerUser($event)">
                                                    </app-childPermission>
                                                </span>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-md-3 col-form-label"
                                                for="show_field_standard_menu_link_editUserProfile">{{field_crudPageMatrix_standardEditUserProfile}}</label>
                                            <div class="col-md-9 col-form-label">
                                                <div class="form-check form-check-inline mr-1"
                                                    id="show_field_standard_menu_link_editUserProfile">
                                                    <input class="form-check-input" type="radio"
                                                        name="show_field_standard_menu_link_editUserProfile"
                                                        [(ngModel)]="pageMatrix.show_field_standard_menu_link_editUserProfile"
                                                        [value]="true">
                                                    <label class="form-check-label"
                                                        for="inlineRadio1">{{field_crudPageMatrix_allow}}</label>
                                                </div>
                                                <div class="form-check form-check-inline mr-1">
                                                    <input class="form-check-input" type="radio"
                                                        name="show_field_standard_menu_link_editUserProfile"
                                                        [(ngModel)]="pageMatrix.show_field_standard_menu_link_editUserProfile"
                                                        [value]="false">
                                                    <label class="form-check-label"
                                                        for="inlineRadio2">{{field_crudPageMatrix_deny}}</label>
                                                </div>
                                                <span *ngIf="pageMatrix.show_field_standard_menu_link_editUserProfile">
                                                    <app-childPermission
                                                        [permissionFromParent]="pageMatrix.permission_standard_editUserProfile"
                                                        (permissionFromChild)="permissionStandardEditUserProfile($event)">
                                                    </app-childPermission>
                                                </span>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">List of Reports</h5>
                                        <hr>
                                        <div class="form-group row">
                                            <label class="col-md-3 col-form-label"
                                                for="show_field_menu_link_editFields">{{field_crudPageMatrix_editFields}}</label>
                                            <div class="col-md-9 col-form-label">
                                                <div class="form-check form-check-inline mr-1"
                                                    id="show_field_menu_link_editFields">
                                                    <input class="form-check-input" type="radio"
                                                        name="show_field_menu_link_editFields"
                                                        [(ngModel)]="pageMatrix.show_field_menu_link_editFields"
                                                        [value]="true">
                                                    <label class="form-check-label"
                                                        for="inlineRadio1">{{field_crudPageMatrix_allow}}</label>
                                                </div>
                                                <div class="form-check form-check-inline mr-1">
                                                    <input class="form-check-input" type="radio"
                                                        name="show_field_menu_link_editFields"
                                                        [(ngModel)]="pageMatrix.show_field_menu_link_editFields"
                                                        [value]="false">
                                                    <label class="form-check-label"
                                                        for="inlineRadio2">{{field_crudPageMatrix_deny}}</label>
                                                </div>
                                                <span *ngIf="pageMatrix.show_field_menu_link_editFields">
                                                    <app-childPermission
                                                        [permissionFromParent]="pageMatrix.permission_editFields"
                                                        (permissionFromChild)="permissionEditFields($event)">
                                                    </app-childPermission>
                                                </span>
                                            </div>
                                        </div>



                                        <div class="form-group row">
                                            <label class="col-md-3 col-form-label"
                                                for="show_field_menu_link_defaultSetting">{{field_crudPageMatrix_defaultSetting}}</label>
                                            <div class="col-md-9 col-form-label">
                                                <div class="form-check form-check-inline mr-1"
                                                    id="show_field_menu_link_defaultSetting">
                                                    <input class="form-check-input" type="radio"
                                                        name="show_field_menu_link_defaultSetting"
                                                        [(ngModel)]="pageMatrix.show_field_menu_link_defaultSetting"
                                                        [value]="true">
                                                    <label class="form-check-label"
                                                        for="inlineRadio1">{{field_crudPageMatrix_allow}}</label>
                                                </div>
                                                <div class="form-check form-check-inline mr-1">
                                                    <input class="form-check-input" type="radio"
                                                        name="show_field_menu_link_defaultSetting"
                                                        [(ngModel)]="pageMatrix.show_field_menu_link_defaultSetting"
                                                        [value]="false">
                                                    <label class="form-check-label"
                                                        for="inlineRadio2">{{field_crudPageMatrix_deny}}</label>
                                                </div>
                                                <span *ngIf="pageMatrix.show_field_menu_link_defaultSetting">
                                                    <app-childPermission
                                                        [permissionFromParent]="pageMatrix.permission_defaultSetting"
                                                        (permissionFromChild)="permissionDefaultSetting($event)">
                                                    </app-childPermission>
                                                </span>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-md-3 col-form-label"
                                                for="show_field_menu_link_report_default">{{field_crudPageMatrix_report_default}}</label>
                                            <div class="col-md-9 col-form-label">
                                                <div class="form-check form-check-inline mr-1"
                                                    id="show_field_menu_link_report_default">
                                                    <input class="form-check-input" type="radio"
                                                        name="show_field_menu_link_report_default"
                                                        [(ngModel)]="pageMatrix.show_field_menu_link_report_default"
                                                        [value]="true">
                                                    <label class="form-check-label"
                                                        for="inlineRadio1">{{field_crudPageMatrix_allow}}</label>
                                                </div>
                                                <div class="form-check form-check-inline mr-1">
                                                    <input class="form-check-input" type="radio"
                                                        name="show_field_menu_link_report_default"
                                                        [(ngModel)]="pageMatrix.show_field_menu_link_report_default"
                                                        [value]="false">
                                                    <label class="form-check-label"
                                                        for="inlineRadio2">{{field_crudPageMatrix_deny}}</label>
                                                </div>
                                                <span *ngIf="pageMatrix.show_field_menu_link_report_default">
                                                    <app-childPermission
                                                        [permissionFromParent]="pageMatrix.permission_report_default"
                                                        (permissionFromChild)="permissionReport_default($event)">
                                                    </app-childPermission>
                                                </span>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-md-3 col-form-label"
                                                for="show_field_menu_link_report_entityEvents">{{field_crudPageMatrix_report_entityEvents}}</label>
                                            <div class="col-md-9 col-form-label">
                                                <div class="form-check form-check-inline mr-1"
                                                    id="show_field_menu_link_report_entityEvents">
                                                    <input class="form-check-input" type="radio"
                                                        name="show_field_menu_link_report_entityEvents"
                                                        [(ngModel)]="pageMatrix.show_field_menu_link_report_entityEvents"
                                                        [value]="true">
                                                    <label class="form-check-label"
                                                        for="inlineRadio1">{{field_crudPageMatrix_allow}}</label>
                                                </div>
                                                <div class="form-check form-check-inline mr-1">
                                                    <input class="form-check-input" type="radio"
                                                        name="show_field_menu_link_report_entityEvents"
                                                        [(ngModel)]="pageMatrix.show_field_menu_link_report_entityEvents"
                                                        [value]="false">
                                                    <label class="form-check-label"
                                                        for="inlineRadio2">{{field_crudPageMatrix_deny}}</label>
                                                </div>
                                                <span *ngIf="pageMatrix.show_field_menu_link_report_entityEvents">
                                                    <app-childPermission
                                                        [permissionFromParent]="pageMatrix.permission_report_entityEvents"
                                                        (permissionFromChild)="permissionReport_entityEvents($event)">
                                                    </app-childPermission>
                                                </span>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-md-3 col-form-label"
                                                for="show_field_menu_link_report_systemEvents">{{field_crudPageMatrix_report_systemEvents}}</label>
                                            <div class="col-md-9 col-form-label">
                                                <div class="form-check form-check-inline mr-1"
                                                    id="show_field_menu_link_report_systemEvents">
                                                    <input class="form-check-input" type="radio"
                                                        name="show_field_menu_link_report_systemEvents"
                                                        [(ngModel)]="pageMatrix.show_field_menu_link_report_systemEvents"
                                                        [value]="true">
                                                    <label class="form-check-label"
                                                        for="inlineRadio1">{{field_crudPageMatrix_allow}}</label>
                                                </div>
                                                <div class="form-check form-check-inline mr-1">
                                                    <input class="form-check-input" type="radio"
                                                        name="show_field_menu_link_report_systemEvents"
                                                        [(ngModel)]="pageMatrix.show_field_menu_link_report_systemEvents"
                                                        [value]="false">
                                                    <label class="form-check-label"
                                                        for="inlineRadio2">{{field_crudPageMatrix_deny}}</label>
                                                </div>
                                                <span *ngIf="pageMatrix.show_field_menu_link_report_systemEvents">
                                                    <app-childPermission
                                                        [permissionFromParent]="pageMatrix.permission_report_systemEvents"
                                                        (permissionFromChild)="permissionReport_systemEvents($event)">
                                                    </app-childPermission>
                                                </span>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-md-3 col-form-label"
                                                for="show_field_menu_link_report_existingUsers">{{field_crudPageMatrix_report_existingUsers}}</label>
                                            <div class="col-md-9 col-form-label">
                                                <div class="form-check form-check-inline mr-1"
                                                    id="show_field_menu_link_report_existingUsers">
                                                    <input class="form-check-input" type="radio"
                                                        name="show_field_menu_link_report_existingUsers"
                                                        [(ngModel)]="pageMatrix.show_field_menu_link_report_existingUsers"
                                                        [value]="true">
                                                    <label class="form-check-label"
                                                        for="inlineRadio1">{{field_crudPageMatrix_allow}}</label>
                                                </div>
                                                <div class="form-check form-check-inline mr-1">
                                                    <input class="form-check-input" type="radio"
                                                        name="show_field_menu_link_report_existingUsers"
                                                        [(ngModel)]="pageMatrix.show_field_menu_link_report_existingUsers"
                                                        [value]="false">
                                                    <label class="form-check-label"
                                                        for="inlineRadio2">{{field_crudPageMatrix_deny}}</label>
                                                </div>
                                                <span *ngIf="pageMatrix.show_field_menu_link_report_existingUsers">
                                                    <app-childPermission
                                                        [permissionFromParent]="pageMatrix.permission_report_existingUsers"
                                                        (permissionFromChild)="permissionReport_existingUsers($event)">
                                                    </app-childPermission>
                                                </span>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-md-3 col-form-label"
                                                for="show_field_menu_link_report_userLogging">{{field_crudPageMatrix_report_userLogging}}</label>
                                            <div class="col-md-9 col-form-label">
                                                <div class="form-check form-check-inline mr-1"
                                                    id="show_field_menu_link_report_userLogging">
                                                    <input class="form-check-input" type="radio"
                                                        name="show_field_menu_link_report_userLogging"
                                                        [(ngModel)]="pageMatrix.show_field_menu_link_report_userLogging"
                                                        [value]="true">
                                                    <label class="form-check-label"
                                                        for="inlineRadio1">{{field_crudPageMatrix_allow}}</label>
                                                </div>
                                                <div class="form-check form-check-inline mr-1">
                                                    <input class="form-check-input" type="radio"
                                                        name="show_field_menu_link_report_userLogging"
                                                        [(ngModel)]="pageMatrix.show_field_menu_link_report_userLogging"
                                                        [value]="false">
                                                    <label class="form-check-label"
                                                        for="inlineRadio2">{{field_crudPageMatrix_deny}}</label>
                                                </div>
                                                <span *ngIf="pageMatrix.show_field_menu_link_report_userLogging">
                                                    <app-childPermission
                                                        [permissionFromParent]="pageMatrix.permission_report_userLogging"
                                                        (permissionFromChild)="permissionReport_userLogging($event)">
                                                    </app-childPermission>
                                                </span>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-md-3 col-form-label"
                                                for="show_field_menu_link_report_userActivityReports">{{field_crudPageMatrix_report_userActivityReports}}</label>
                                            <div class="col-md-9 col-form-label">
                                                <div class="form-check form-check-inline mr-1"
                                                    id="show_field_menu_link_report_userActivityReports">
                                                    <input class="form-check-input" type="radio"
                                                        name="show_field_menu_link_report_userActivityReports"
                                                        [(ngModel)]="pageMatrix.show_field_menu_link_report_userActivityReports"
                                                        [value]="true">
                                                    <label class="form-check-label"
                                                        for="inlineRadio1">{{field_crudPageMatrix_allow}}</label>
                                                </div>
                                                <div class="form-check form-check-inline mr-1">
                                                    <input class="form-check-input" type="radio"
                                                        name="show_field_menu_link_report_userActivityReports"
                                                        [(ngModel)]="pageMatrix.show_field_menu_link_report_userActivityReports"
                                                        [value]="false">
                                                    <label class="form-check-label"
                                                        for="inlineRadio2">{{field_crudPageMatrix_deny}}</label>
                                                </div>
                                                <span
                                                    *ngIf="pageMatrix.show_field_menu_link_report_userActivityReports">
                                                    <app-childPermission
                                                        [permissionFromParent]="pageMatrix.permission_report_userActivityReports"
                                                        (permissionFromChild)="permissionReport_userActivityReports($event)">
                                                    </app-childPermission>
                                                </span>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-md-3 col-form-label"
                                                for="show_field_menu_link_listPageMatrix">{{field_crudPageMatrix_listPageMatrix}}</label>
                                            <div class="col-md-9 col-form-label">
                                                <div class="form-check form-check-inline mr-1"
                                                    id="show_field_menu_link_listPageMatrix">
                                                    <input class="form-check-input" type="radio"
                                                        name="show_field_menu_link_listPageMatrix"
                                                        [(ngModel)]="pageMatrix.show_field_menu_link_listPageMatrix"
                                                        [value]="true">
                                                    <label class="form-check-label"
                                                        for="inlineRadio1">{{field_crudPageMatrix_allow}}</label>
                                                </div>
                                                <div class="form-check form-check-inline mr-1">
                                                    <input class="form-check-input" type="radio"
                                                        name="show_field_menu_link_listPageMatrix"
                                                        [(ngModel)]="pageMatrix.show_field_menu_link_listPageMatrix"
                                                        [value]="false">
                                                    <label class="form-check-label"
                                                        for="inlineRadio2">{{field_crudPageMatrix_deny}}</label>
                                                </div>
                                                <span *ngIf="pageMatrix.show_field_menu_link_listPageMatrix">
                                                    <app-childPermission
                                                        [permissionFromParent]="pageMatrix.permission_listPageMatrix"
                                                        (permissionFromChild)="permissionListPageMatrix($event)">
                                                    </app-childPermission>
                                                </span>
                                            </div>
                                        </div>



                                        <div class="form-group row">
                                            <label class="col-md-3 col-form-label"
                                                for="show_field_menu_link_listPredefinedConnectors">{{field_crudPageMatrix_listPredefinedConnector}}</label>
                                            <div class="col-md-9 col-form-label">
                                                <div class="form-check form-check-inline mr-1"
                                                    id="show_field_menu_link_listPredefinedConnectors">
                                                    <input class="form-check-input" type="radio"
                                                        name="show_field_menu_link_listPredefinedConnectors"
                                                        [(ngModel)]="pageMatrix.show_field_menu_link_listPredefinedConnectors"
                                                        [value]="true">
                                                    <label class="form-check-label"
                                                        for="inlineRadio1">{{field_crudPageMatrix_allow}}</label>
                                                </div>
                                                <div class="form-check form-check-inline mr-1">
                                                    <input class="form-check-input" type="radio"
                                                        name="show_field_menu_link_listPredefinedConnectors"
                                                        [(ngModel)]="pageMatrix.show_field_menu_link_listPredefinedConnectors"
                                                        [value]="false">
                                                    <label class="form-check-label"
                                                        for="inlineRadio2">{{field_crudPageMatrix_deny}}</label>
                                                </div>
                                                <span *ngIf="pageMatrix.show_field_menu_link_listPredefinedConnectors">
                                                    <app-childPermission
                                                        [permissionFromParent]="pageMatrix.permission_listPredefinedConnectors"
                                                        (permissionFromChild)="permissionListPredefinedConnectors($event)">
                                                    </app-childPermission>
                                                </span>
                                            </div>
                                        </div>




                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">List of dashboards</h5>
                                        <hr>
                                        <div class="form-group row">
                                            <label class="col-md-3 col-form-label"
                                                for="show_field_hr_menu_heading_navigation">{{field_crudPageMatrix_hrDashboard}}</label>
                                            <div class="col-md-9 col-form-label">
                                                <div class="form-check form-check-inline mr-1"
                                                    id="show_field_hr_menu_heading_navigation">
                                                    <input class="form-check-input" type="radio"
                                                        name="show_field_hr_menu_heading_navigation"
                                                        [(ngModel)]="pageMatrix.show_field_hr_menu_heading_navigation"
                                                        [value]="true">
                                                    <label class="form-check-label"
                                                        for="inlineRadio1">{{field_crudPageMatrix_allow}}</label>
                                                </div>
                                                <div class="form-check form-check-inline mr-1">
                                                    <input class="form-check-input" type="radio"
                                                        name="show_field_hr_menu_heading_navigation"
                                                        [(ngModel)]="pageMatrix.show_field_hr_menu_heading_navigation"
                                                        [value]="false">
                                                    <label class="form-check-label"
                                                        for="inlineRadio2">{{field_crudPageMatrix_deny}}</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 col-form-label"
                                                for="show_field_menu_heading_navigation">{{field_crudPageMatrix_dashboard}}</label>
                                            <div class="col-md-9 col-form-label">
                                                <div class="form-check form-check-inline mr-1"
                                                    id="show_field_menu_heading_navigation">
                                                    <input class="form-check-input" type="radio"
                                                        name="show_field_menu_heading_navigation"
                                                        [(ngModel)]="pageMatrix.show_field_menu_heading_navigation"
                                                        [value]="true">
                                                    <label class="form-check-label"
                                                        for="inlineRadio1">{{field_crudPageMatrix_allow}}</label>
                                                </div>
                                                <div class="form-check form-check-inline mr-1">
                                                    <input class="form-check-input" type="radio"
                                                        name="show_field_menu_heading_navigation"
                                                        [(ngModel)]="pageMatrix.show_field_menu_heading_navigation"
                                                        [value]="false">
                                                    <label class="form-check-label"
                                                        for="inlineRadio2">{{field_crudPageMatrix_deny}}</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 col-form-label"
                                                for="show_field_standard_menu_heading_navigation">{{field_crudPageMatrix_standardDashboard}}</label>
                                            <div class="col-md-9 col-form-label">
                                                <div class="form-check form-check-inline mr-1"
                                                    id="show_field_standard_menu_heading_navigation">
                                                    <input class="form-check-input" type="radio"
                                                        name="show_field_standard_menu_heading_navigation"
                                                        [(ngModel)]="pageMatrix.show_field_standard_menu_heading_navigation"
                                                        [value]="true">
                                                    <label class="form-check-label"
                                                        for="inlineRadio1">{{field_crudPageMatrix_allow}}</label>
                                                </div>
                                                <div class="form-check form-check-inline mr-1">
                                                    <input class="form-check-input" type="radio"
                                                        name="show_field_standard_menu_heading_navigation"
                                                        [(ngModel)]="pageMatrix.show_field_standard_menu_heading_navigation"
                                                        [value]="false">
                                                    <label class="form-check-label"
                                                        for="inlineRadio2">{{field_crudPageMatrix_deny}}</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 col-form-label"
                                                for="show_field_menu_link_emailAlerts">{{field_crudPageMatrix_emailAlerts}}</label>
                                            <div class="col-md-9 col-form-label">
                                                <div class="form-check form-check-inline mr-1"
                                                    id="show_field_menu_link_emailAlerts">
                                                    <input class="form-check-input" type="radio"
                                                        name="show_field_menu_link_emailAlerts"
                                                        [(ngModel)]="pageMatrix.show_field_menu_link_emailAlerts"
                                                        [value]="true">
                                                    <label class="form-check-label"
                                                        for="inlineRadio1">{{field_crudPageMatrix_allow}}</label>
                                                </div>
                                                <div class="form-check form-check-inline mr-1">
                                                    <input class="form-check-input" type="radio"
                                                        name="show_field_menu_link_emailAlerts"
                                                        [(ngModel)]="pageMatrix.show_field_menu_link_emailAlerts"
                                                        [value]="false">
                                                    <label class="form-check-label"
                                                        for="inlineRadio2">{{field_crudPageMatrix_deny}}</label>
                                                </div>
                                                <span *ngIf="pageMatrix.show_field_menu_link_emailAlerts">
                                                    <app-childPermission
                                                        [permissionFromParent]="pageMatrix.permission_emailAlerts"
                                                        (permissionFromChild)="permissionEmailAlerts($event)">
                                                    </app-childPermission>
                                                </span>
                                            </div>
                                        </div>


                                        <div class="form-group row">
                                            <label class="col-md-3 col-form-label"
                                                for="show_field_menu_link_listAlertNotification">{{field_crudPageMatrix_listAlertNotification}}</label>
                                            <div class="col-md-9 col-form-label">
                                                <div class="form-check form-check-inline mr-1"
                                                    id="show_field_menu_link_listAlertNotification">
                                                    <input class="form-check-input" type="radio"
                                                        name="show_field_menu_link_listAlertNotification"
                                                        [(ngModel)]="pageMatrix.show_field_menu_link_listAlertNotification"
                                                        [value]="true">
                                                    <label class="form-check-label"
                                                        for="inlineRadio1">{{field_crudPageMatrix_allow}}</label>
                                                </div>
                                                <div class="form-check form-check-inline mr-1">
                                                    <input class="form-check-input" type="radio"
                                                        name="show_field_menu_link_listAlertNotification"
                                                        [(ngModel)]="pageMatrix.show_field_menu_link_listAlertNotification"
                                                        [value]="false">
                                                    <label class="form-check-label"
                                                        for="inlineRadio2">{{field_crudPageMatrix_deny}}</label>
                                                </div>
                                                <span *ngIf="pageMatrix.show_field_menu_link_listAlertNotification">
                                                    <app-childPermission
                                                        [permissionFromParent]="pageMatrix.permission_listAlertNotification"
                                                        (permissionFromChild)="permissionListAlertNotification($event)">
                                                    </app-childPermission>
                                                </span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">List of Sectors</h5>
                                        <hr>
                                        <div class="form-group row">
                                            <label class="col-md-3 col-form-label"
                                                for="show_field_menu_link_listEntity">{{field_crudPageMatrix_listEntity}}</label>
                                            <div class="col-md-9 col-form-label">
                                                <div class="form-check form-check-inline mr-1"
                                                    id="show_field_menu_link_listEntity">
                                                    <input class="form-check-input" type="radio"
                                                        name="show_field_menu_link_listEntity"
                                                        [(ngModel)]="pageMatrix.show_field_menu_link_listEntity"
                                                        [value]="true">
                                                    <label class="form-check-label"
                                                        for="inlineRadio1">{{field_crudPageMatrix_allow}}</label>
                                                </div>
                                                <div class="form-check form-check-inline mr-1">
                                                    <input class="form-check-input" type="radio"
                                                        name="show_field_menu_link_listEntity"
                                                        [(ngModel)]="pageMatrix.show_field_menu_link_listEntity"
                                                        [value]="false">
                                                    <label class="form-check-label"
                                                        for="inlineRadio2">{{field_crudPageMatrix_deny}}</label>
                                                </div>
                                                <span *ngIf="pageMatrix.show_field_menu_link_listEntity">
                                                    <app-childPermission
                                                        [permissionFromParent]="pageMatrix.permission_listEntity"
                                                        (permissionFromChild)="permissionListEntity($event)">
                                                    </app-childPermission>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 col-form-label"
                                                for="show_field_menu_link_listSector">{{field_crudPageMatrix_listSector}}</label>
                                            <div class="col-md-9 col-form-label">
                                                <div class="form-check form-check-inline mr-1"
                                                    id="show_field_menu_link_listSector">
                                                    <input class="form-check-input" type="radio"
                                                        name="show_field_menu_link_listSector"
                                                        [(ngModel)]="pageMatrix.show_field_menu_link_listSector"
                                                        [value]="true">
                                                    <label class="form-check-label"
                                                        for="inlineRadio1">{{field_crudPageMatrix_allow}}</label>
                                                </div>
                                                <div class="form-check form-check-inline mr-1">
                                                    <input class="form-check-input" type="radio"
                                                        name="show_field_menu_link_listSector"
                                                        [(ngModel)]="pageMatrix.show_field_menu_link_listSector"
                                                        [value]="false">
                                                    <label class="form-check-label"
                                                        for="inlineRadio2">{{field_crudPageMatrix_deny}}</label>
                                                </div>
                                                <span *ngIf="pageMatrix.show_field_menu_link_listSector">
                                                    <app-childPermission
                                                        [permissionFromParent]="pageMatrix.permission_listSector"
                                                        (permissionFromChild)="permissionListSector($event)">
                                                    </app-childPermission>
                                                </span>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-md-3 col-form-label"
                                                for="show_field_standard_menu_link_showEntities">{{field_crudPageMatrix_standardShowEntities}}</label>
                                            <div class="col-md-9 col-form-label">
                                                <div class="form-check form-check-inline mr-1"
                                                    id="show_field_standard_menu_link_showEntities">
                                                    <input class="form-check-input" type="radio"
                                                        name="show_field_standard_menu_link_showEntities"
                                                        [(ngModel)]="pageMatrix.show_field_standard_menu_link_showEntities"
                                                        [value]="true">
                                                    <label class="form-check-label"
                                                        for="inlineRadio1">{{field_crudPageMatrix_allow}}</label>
                                                </div>
                                                <div class="form-check form-check-inline mr-1">
                                                    <input class="form-check-input" type="radio"
                                                        name="show_field_standard_menu_link_showEntities"
                                                        [(ngModel)]="pageMatrix.show_field_standard_menu_link_showEntities"
                                                        [value]="false">
                                                    <label class="form-check-label"
                                                        for="inlineRadio2">{{field_crudPageMatrix_deny}}</label>
                                                </div>
                                                <span *ngIf="pageMatrix.show_field_standard_menu_link_showEntities">
                                                    <app-childPermission
                                                        [permissionFromParent]="pageMatrix.permission_standard_showEntities"
                                                        (permissionFromChild)="permissionStandard_showEntities($event)">
                                                    </app-childPermission>
                                                </span>
                                            </div>
                                        </div>




                                        <div class="form-group row">
                                            <label class="col-md-3 col-form-label"
                                                for="show_field_menu_link_listSectorElements">{{field_crudPageMatrix_listSectorElements}}</label>
                                            <div class="col-md-9 col-form-label">
                                                <div class="form-check form-check-inline mr-1"
                                                    id="show_field_menu_link_listSectorElements">
                                                    <input class="form-check-input" type="radio"
                                                        name="show_field_menu_link_listSectorElements"
                                                        [(ngModel)]="pageMatrix.show_field_menu_link_listSectorElements"
                                                        [value]="true">
                                                    <label class="form-check-label"
                                                        for="inlineRadio1">{{field_crudPageMatrix_allow}}</label>
                                                </div>
                                                <div class="form-check form-check-inline mr-1">
                                                    <input class="form-check-input" type="radio"
                                                        name="show_field_menu_link_listSectorElements"
                                                        [(ngModel)]="pageMatrix.show_field_menu_link_listSectorElements"
                                                        [value]="false">
                                                    <label class="form-check-label"
                                                        for="inlineRadio2">{{field_crudPageMatrix_deny}}</label>
                                                </div>
                                                <span *ngIf="pageMatrix.show_field_menu_link_listSectorElements">
                                                    <app-childPermission
                                                        [permissionFromParent]="pageMatrix.permission_listSectorElements"
                                                        (permissionFromChild)="permissionListSectorElements($event)">
                                                    </app-childPermission>
                                                </span>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-md-3 col-form-label"
                                                for="show_field_menu_link_listRole">{{field_crudPageMatrix_listRole}}</label>
                                            <div class="col-md-9 col-form-label">
                                                <div class="form-check form-check-inline mr-1"
                                                    id="show_field_menu_link_listRole">
                                                    <input class="form-check-input" type="radio"
                                                        name="show_field_menu_link_listRole"
                                                        [(ngModel)]="pageMatrix.show_field_menu_link_listRole"
                                                        [value]="true">
                                                    <label class="form-check-label"
                                                        for="inlineRadio1">{{field_crudPageMatrix_allow}}</label>
                                                </div>
                                                <div class="form-check form-check-inline mr-1">
                                                    <input class="form-check-input" type="radio"
                                                        name="show_field_menu_link_listRole"
                                                        [(ngModel)]="pageMatrix.show_field_menu_link_listRole"
                                                        [value]="false">
                                                    <label class="form-check-label"
                                                        for="inlineRadio2">{{field_crudPageMatrix_deny}}</label>
                                                </div>
                                                <span *ngIf="pageMatrix.show_field_menu_link_listRole">
                                                    <app-childPermission
                                                        [permissionFromParent]="pageMatrix.permission_listRole"
                                                        (permissionFromChild)="permissionListRole($event)">
                                                    </app-childPermission>
                                                </span>
                                            </div>
                                        </div>


                                        <div class="form-group row">
                                            <label class="col-md-3 col-form-label"
                                                for="show_field_menu_link_listAccessPolicy">{{field_crudPageMatrix_listPermission}}</label>
                                            <div class="col-md-9 col-form-label">
                                                <div class="form-check form-check-inline mr-1"
                                                    id="show_field_menu_link_listAccessPolicy">
                                                    <input class="form-check-input" type="radio"
                                                        name="show_field_menu_link_listAccessPolicy"
                                                        [(ngModel)]="pageMatrix.show_field_menu_link_listAccessPolicy"
                                                        [value]="true">
                                                    <label class="form-check-label"
                                                        for="inlineRadio1">{{field_crudPageMatrix_allow}}</label>
                                                </div>
                                                <div class="form-check form-check-inline mr-1">
                                                    <input class="form-check-input" type="radio"
                                                        name="show_field_menu_link_listAccessPolicy"
                                                        [(ngModel)]="pageMatrix.show_field_menu_link_listAccessPolicy"
                                                        [value]="false">
                                                    <label class="form-check-label"
                                                        for="inlineRadio2">{{field_crudPageMatrix_deny}}</label>
                                                </div>
                                                <span *ngIf="pageMatrix.show_field_menu_link_listAccessPolicy">
                                                    <app-childPermission
                                                        [permissionFromParent]="pageMatrix.permission_listAccessPolicy"
                                                        (permissionFromChild)="permissionListAccessPolicy($event)">
                                                    </app-childPermission>
                                                </span>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-md-3 col-form-label"
                                                for="show_field_menu_link_listRule">{{field_crudPageMatrix_listRule}}</label>
                                            <div class="col-md-9 col-form-label">
                                                <div class="form-check form-check-inline mr-1"
                                                    id="show_field_menu_link_listRule">
                                                    <input class="form-check-input" type="radio"
                                                        name="show_field_menu_link_listRule"
                                                        [(ngModel)]="pageMatrix.show_field_menu_link_listRule"
                                                        [value]="true">
                                                    <label class="form-check-label"
                                                        for="inlineRadio1">{{field_crudPageMatrix_allow}}</label>
                                                </div>
                                                <div class="form-check form-check-inline mr-1">
                                                    <input class="form-check-input" type="radio"
                                                        name="show_field_menu_link_listRule"
                                                        [(ngModel)]="pageMatrix.show_field_menu_link_listRule"
                                                        [value]="false">
                                                    <label class="form-check-label"
                                                        for="inlineRadio2">{{field_crudPageMatrix_deny}}</label>
                                                </div>
                                                <span *ngIf="pageMatrix.show_field_menu_link_listRule">
                                                    <app-childPermission
                                                        [permissionFromParent]="pageMatrix.permission_listRule"
                                                        (permissionFromChild)="permissionListRule($event)">
                                                    </app-childPermission>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 col-form-label"
                                                for="show_field_menu_link_listPermission">{{field_crudPageMatrix_listPermission}}</label>
                                            <div class="col-md-9 col-form-label">
                                                <div class="form-check form-check-inline mr-1"
                                                    id="show_field_menu_link_listPermission">
                                                    <input class="form-check-input" type="radio"
                                                        name="show_field_menu_link_listPermission"
                                                        [(ngModel)]="pageMatrix.show_field_menu_link_listPermission"
                                                        [value]="true">
                                                    <label class="form-check-label"
                                                        for="inlineRadio1">{{field_crudPageMatrix_allow}}</label>
                                                </div>
                                                <div class="form-check form-check-inline mr-1">
                                                    <input class="form-check-input" type="radio"
                                                        name="show_field_menu_link_listPermission"
                                                        [(ngModel)]="pageMatrix.show_field_menu_link_listPermission"
                                                        [value]="false">
                                                    <label class="form-check-label"
                                                        for="inlineRadio2">{{field_crudPageMatrix_deny}}</label>
                                                </div>
                                                <span *ngIf="pageMatrix.show_field_menu_link_listPermission">
                                                    <app-childPermission
                                                        [permissionFromParent]="pageMatrix.permission_listPermission"
                                                        (permissionFromChild)="permissionListPermission($event)">
                                                    </app-childPermission>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 col-form-label"
                                                for="show_field_menu_link_listAccessEntity">{{field_crudPageMatrix_listAccessEntity}}</label>
                                            <div class="col-md-9 col-form-label">
                                                <div class="form-check form-check-inline mr-1"
                                                    id="show_field_menu_link_listAccessEntity">
                                                    <input class="form-check-input" type="radio"
                                                        name="show_field_menu_link_listAccessEntity"
                                                        [(ngModel)]="pageMatrix.show_field_menu_link_listAccessEntity"
                                                        [value]="true">
                                                    <label class="form-check-label"
                                                        for="inlineRadio1">{{field_crudPageMatrix_allow}}</label>
                                                </div>
                                                <div class="form-check form-check-inline mr-1">
                                                    <input class="form-check-input" type="radio"
                                                        name="show_field_menu_link_listAccessEntity"
                                                        [(ngModel)]="pageMatrix.show_field_menu_link_listAccessEntity"
                                                        [value]="false">
                                                    <label class="form-check-label"
                                                        for="inlineRadio2">{{field_crudPageMatrix_deny}}</label>
                                                </div>
                                            </div>
                                            <span *ngIf="pageMatrix.show_field_menu_link_listAccessEntity">
                                                <app-childPermission
                                                    [permissionFromParent]="pageMatrix.permission_listAccessEntity"
                                                    (permissionFromChild)="permissionListAccessEntity($event)">
                                                </app-childPermission>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </span>




                </div>
                <hr>

                <div class="container">
                    <div class="row">
                        <div class="col-4">
                            <button class="btn btn-success">
                                <span *ngIf="isComponentNew">{{field_crudPageMatrix_button_save}}</span>
                                <span *ngIf="!isComponentNew">{{field_crudPageMatrix_button_update}}</span>
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </button>
                        </div>
                        <div class="col-4">
                            <button type="button" class="btn btn-danger"
                                (click)="onClickReset()">{{field_crudPageMatrix_button_reset}}
                                <i class="fa fa-times" aria-hidden="true"></i></button>
                        </div>
                        <div class="col-4">
                            <button class="btn btn-secondary"
                                type="button">{{field_crudPageMatrix_button_cancel}}</button>
                        </div>
                    </div>
                </div>
                <br>
            </div>
        </form>
    </div>
</div>