<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <form class="form-horizontal form-material" name="form" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()">
                <fieldset [disabled]="flagIsRead">
                    <div class="card-header">
                        <h2 *ngIf="isComponentNew">Add New Role</h2>
                        <h2 *ngIf="!isComponentNew">Update Role </h2>
                        <h6>{{field_crudRole_info}}</h6>
                    </div>
                    <div class="card-body">
                        <ul class="nav nav-pills" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="pill" href="#menu1">Basics</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="pill" href="#menu2">Access Policies</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="pill" href="#menu3">Rules</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="pill" href="#menu4">Users/Members</a>
                            </li>
                            <li class="nav-item" *ngIf="!flagIsRead">
                                <a class="nav-link" data-toggle="pill" href="#menu5">Finish</a>
                            </li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">

                            <div class="tab-pane container active" id="menu1"><br>
                                <div class="card">
                                    <div class="card-header">
                                        <h3>Basic Details</h3>
                                    </div>
                                    <div class="card-body">

                                        <div class="form-group row">
                                            <label for="role_name" class="col-2">{{field_role_name}} <span
                                                    *ngIf="field_role_name_required">
                                                    (*)</span></label>
                                            <div class="col-10">
                                                <input type="text" class="form-control" name="role_name"
                                                    pattern="^(?:[A-Za-z0-9]+)(?:[A-Za-z0-9 _]*)$"
                                                    [(ngModel)]="roleDetail.role_name" #role_name="ngModel"
                                                    [ngClass]="{ 'is-invalid': f.submitted && role_name.invalid }"
                                                    required />
                                                <div *ngIf="f.submitted && role_name.invalid && (role_name.dirty || role_name.touched)"
                                                    class="invalid-feedback">
                                                    <div *ngIf="role_name.errors.required || role_name.errors.pattern">
                                                        {{field_crudRole_role_name_error_message}}</div>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="details" class="col-2">{{field_details}} <span
                                                    *ngIf="field_details_required">
                                                    (*)</span></label>
                                            <div class="col-10">
                                                <input type="text" class="form-control" name="details" pattern="^\S.*$"
                                                    #details="ngModel"
                                                    [ngClass]="{ 'is-invalid': f.submitted && details.invalid }"
                                                    [(ngModel)]="roleDetail.details"
                                                    [required]="field_details_required">
                                                <div *ngIf="f.submitted && details.invalid" class="invalid-feedback">
                                                    <div *ngIf="details.errors.required  || details.errors.pattern ">
                                                        {{field_crudRole_details_error_message}}</div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="form-group row">
                                            <input type="checkbox" name="can_be_deleted" class="col-2"
                                                [(ngModel)]="roleDetail.can_be_deleted" />
                                            <div class="col-10">
                                                <div *ngIf="!roleDetail.is_default" class="form-group form-check">
                                                    <label for="can_be_deleted"
                                                        class="col-2">{{field_crudRole_can_be_deleted}}
                                                        ?</label>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>


                            </div>


                            <div class="tab-pane container fade" id="menu2"><br>
                                <div class="card">
                                    <div class="card-header">
                                        <h3>All access policies</h3>
                                    </div>
                                    <div class="card-body">
                                        <div class="form-group row">
                                            <label for="details" class="col-2"></label>
                                            <div class="col-5">
                                                <label for="allowed_access_policy_id_arr">
                                                    <h5>Selected Policies</h5>
                                                </label>
                                                <select multiple class="form-control"
                                                    name="allowed_access_policy_id_arr" size="10" [(ngModel)]="tmpId1"
                                                    #allowed_access_policy_id_arr="ngModel"
                                                    [ngClass]="{ 'is-invalid': f.submitted && allowed_access_policy_id_arr.invalid }"
                                                    [required]="field_crudRole_allowed_access_policy_id_arr_required">
                                                    <option *ngFor="let obj of selected_access_policy_id_arr"
                                                        [value]="obj">
                                                        {{getAccessPolicyNameFromId(obj)}}
                                                    </option>
                                                </select>
                                                <div *ngIf="f.submitted && allowed_access_policy_id_arr.invalid"
                                                    class="invalid-feedback">
                                                    <div *ngIf="allowed_access_policy_id_arr.errors.required">
                                                        {{field_crudRole_allowed_access_policy_id_arr_error_message}}
                                                    </div>
                                                </div>
                                            </div>


                                            <!-- <div class="col-5">
                                                <label for="allowed_access_policy_id_arr">
                                                    <h5>Policy</h5>
                                                </label>
                                                <select multiple class="form-control"
                                                    name="allowed_access_policy_id_arr" size="10"
                                                    [(ngModel)]="roleDetail.allowed_access_policy_id_arr"
                                                    #allowed_access_policy_id_arr="ngModel"
                                                    [ngClass]="{ 'is-invalid': f.submitted && allowed_access_policy_id_arr.invalid }"
                                                    [required]="field_crudRole_allowed_access_policy_id_arr_required">
                                                    <option *ngFor="let obj of accessPolicyArr"
                                                        [value]="obj.access_policy_id">
                                                        {{obj.access_policy_name}}
                                                    </option>
                                                </select>
                                                <div *ngIf="f.submitted && allowed_access_policy_id_arr.invalid"
                                                    class="invalid-feedback">
                                                    <div *ngIf="allowed_access_policy_id_arr.errors.required">
                                                        {{field_crudRole_allowed_access_policy_id_arr_error_message}}
                                                    </div>
                                                </div>
                                            </div> -->





                                            <div class="col-5">
                                                <label for="permissions">
                                                    <h5>Common Permission for all Policies</h5>
                                                </label>
                                                <select multiple class="form-control" name="allowed_permission_id_arr"
                                                    size="5" [(ngModel)]="roleDetail.allowed_permission_id_arr"
                                                    #allowed_permission_id_arr="ngModel" (change)="onPermissionChange()"
                                                    [ngClass]="{ 'is-invalid': f.submitted && allowed_permission_id_arr.invalid }"
                                                    [required]="field_crudRole_allowed_permission_id_arr_required">
                                                    <option *ngFor="let obj of PICKLIST_ARRAY_PERMISSIONS"
                                                        [value]="obj.permission_id">
                                                        {{obj.name}}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>


                                        <div class="row">
                                            <div class="form-group col-5">
                                                <button type="button" class="btn btn-primary"
                                                    (click)="onClickGetAccessPolicy()">Add/Modify Access
                                                    Policies</button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane container fade" id="menu3"><br>
                                <div class="card">
                                    <div class="card-header">
                                        <h3>Rules</h3>
                                    </div>
                                    <div class="card-body">

                                        <div class="form-group row" *ngIf="!flagIsRead">
                                            <label class="col-md-3 col-form-label"
                                                for="inline-radios">{{field_crudRole_add_rule}}</label>
                                            <div class="col-md-9 col-form-label">
                                                <div class="form-check form-check-inline mr-1" id="inline-radios1">
                                                    <input class="form-check-input" type="radio" name="inline-radios1"
                                                        id="inlineRadio1" [(ngModel)]="flagAddSpecificRule"
                                                        [value]="true">
                                                    <label class="form-check-label" for="inlineRadio1">YES</label>
                                                </div>
                                                <div class="form-check form-check-inline mr-1">
                                                    <input class="form-check-input" type="radio" name="inline-radios1"
                                                        id="inlineRadio2" [(ngModel)]="flagAddSpecificRule"
                                                        [value]="false">
                                                    <label class="form-check-label" for="inlineRadio2">NO</label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group row" *ngIf="flagAddSpecificRule">
                                            <label for="details" class="col-1">{{field_crudRole_rule_if}} </label>
                                            <div class="col-2">
                                                <select class="form-control" name="attribute_name"
                                                    [(ngModel)]="specificRule.attribute_name" #attribute_name="ngModel"
                                                    [ngClass]="{ 'is-invalid': f.submitted && attribute_name.invalid }"
                                                    (change)="onAttributeNameChange()"
                                                    [required]="field_crudUser_attribute_name_required">
                                                    <option *ngFor="let obj of PICKLIST_ARRAY_RULES_USER_SPECIFIC"
                                                        [value]="obj.id">
                                                        {{obj.value}}
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="col-2">
                                                <select class="form-control" name="arithmetic_operation"
                                                    [(ngModel)]="specificRule.arithmetic_operation"
                                                    #arithmetic_operation="ngModel"
                                                    [ngClass]="{ 'is-invalid': f.submitted && arithmetic_operation.invalid }"
                                                    [required]="field_crudUser_arithmetic_operation_required">
                                                    <option *ngFor="let obj of PICKLIST_ARRAY_ARITHMETIC_OPERATIONS"
                                                        [value]="obj.id">
                                                        {{obj.value}}
                                                    </option>
                                                </select>
                                            </div>
                                            <div *ngIf="specificRuleShowSelectBox">
                                                <select class="form-control" name="attribute_value"
                                                    [(ngModel)]="specificRule.attribute_value"
                                                    #attribute_value="ngModel"
                                                    [ngClass]="{ 'is-invalid': f.submitted && attribute_value.invalid }"
                                                    [required]="field_crudUser_attribute_value_required">
                                                    <option *ngFor="let obj of specificRuleFormElementArr"
                                                        [value]="obj.data_value">
                                                        {{obj.data_value}}
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="col-2" *ngIf="specificRuleShowTextBox">
                                                <input type="text" class="form-control" name="attribute_value"
                                                    pattern="^(?:[A-Za-z0-9]+)(?:[A-Za-z0-9 _]*)$"
                                                    [(ngModel)]="specificRule.attribute_value"
                                                    #attribute_value="ngModel"
                                                    [ngClass]="{ 'is-invalid': f.submitted && attribute_value.invalid }" />
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>


                            <div id="menu4" class="container tab-pane fade"><br>
                                <div class="card">
                                    <div class="card-header">
                                        <h3>Add Users</h3>
                                    </div>
                                    <div class="card-body">
                                        <div class="container">
                                            <div class="row">

                                                <!-- <div class="col-5" *ngIf="!flagIsRead">
                                                    <label for="allowed_access_user_id_arr">
                                                        <h5>Available Users</h5>
                                                    </label>
                                                    <select class="form-control" name="allowed_access_user_id_arr"
                                                        size="5" [(ngModel)]="chosen_remaining_user_id"
                                                        #allowed_access_user_id_arr="ngModel"
                                                        [ngClass]="{ 'is-invalid': f.submitted && allowed_access_user_id_arr.invalid }"
                                                        [required]="field_crudRole_allowed_access_user_id_arr_required">
                                                        <option *ngFor="let obj of remaining_user_id_arr" [value]="obj">
                                                            {{getUsernameFromUserId(obj)}}
                                                        </option>
                                                    </select>
                                                    <div *ngIf="f.submitted && allowed_access_user_id_arr.invalid"
                                                        class="invalid-feedback">
                                                        <div *ngIf="allowed_access_user_id_arr.errors.required">
                                                            {{field_crudRole_allowed_access_user_id_arr_error_message}}
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-2" *ngIf="!flagIsRead">
                                                    <div class="form-group">
                                                        <button type="button" class="btn btn-primary"
                                                            (click)="onClickAddUser()">Add >>></button>
                                                    </div>

                                                    <div class="form-group">
                                                        <button type="button" class="btn btn-primary"
                                                            (click)="onClickRemoveUser()">
                                                            <<< Remove</button>
                                                    </div>
                                                </div> -->

                                                <div class="col-5">
                                                    <label for="allowed_access_user_id_arr">
                                                        <h5>Selected Users</h5>
                                                    </label>
                                                    <select class="form-control" name="allowed_access_user_id_arr"
                                                        size="5" [(ngModel)]="chosen_selected_user_id"
                                                        #allowed_access_user_id_arr="ngModel"
                                                        [ngClass]="{ 'is-invalid': f.submitted && allowed_access_user_id_arr.invalid }"
                                                        [required]="field_crudRole_allowed_access_user_id_arr_required">
                                                        <option *ngFor="let obj of selected_user_id_arr" [value]="obj">
                                                            {{getUsernameFromUserId(obj)}}
                                                        </option>
                                                    </select>
                                                    <div *ngIf="f.submitted && allowed_access_user_id_arr.invalid"
                                                        class="invalid-feedback">
                                                        <div *ngIf="allowed_access_user_id_arr.errors.required">
                                                            {{field_crudRole_allowed_access_user_id_arr_error_message}}
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                            <div class="row">
                                                <div class="form-group col-5">
                                                    <button type="button" class="btn btn-primary"
                                                        (click)="onClickGetUsers()">Add/Modify Users</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div id="menu5" class="container tab-pane fade"><br>
                                <div class="card">
                                    <div class="card-header">
                                        <h3>Finish</h3>
                                    </div>
                                    <div class="card-body">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-2">
                                                    <button class="btn btn-primary">
                                                        <span *ngIf="isComponentNew">{{field_button_save}}</span>
                                                        <span *ngIf="!isComponentNew">{{field_button_update}}</span>
                                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                                    </button>
                                                </div>
                                                <div class="col-2">
                                                    <button type="button" class="btn btn-danger"
                                                        (click)="onClickReset()">{{field_button_reset}}
                                                        <i class="fa fa-times" aria-hidden="true"></i></button>
                                                </div>
                                                <div class="col-2">
                                                    <button class="btn btn-secondary" type="button"
                                                        (click)="onCancel()">{{field_button_cancel}}</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>