<div class="modal-header">
    <h4 class="modal-title">Access Policies To Add</h4>
    <button type="button" class="close" aria-label="Close" (click)="dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
    <nav class="navbar navbar-dark bg-primary navbar-expand-sm">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-list-2"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-list-2">
            <ul class="navbar-nav">
                <li class="nav-item active">
                </li>
            </ul>
            <div class="ml-auto">
                <form class="form-inline">
                    <input class="form-control search-input rounded-0 border-right-0" type="search" aria-label="Search"
                        (keyup)='search($event.target.value)'>
                    <button class="btn btn-info" type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>            
        </div>
    </nav>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h2>{{field_listPermission_heading_permission_details}}</h2>
                    <h6>{{field_listPermission_info}}</h6>
                </div>
                <div class="card-body  table-responsive">

                    <table class={{COMMON_TABLE_OPTIONS}} [mfData]="filteredTableDataArr" #mf="mfDataTable"
                        [mfRowsOnPage]="10">
                        <thead>
                            <tr>
                                <th width="20%">
                                    <mfDefaultSorter by="">Select</mfDefaultSorter>
                                </th>
                                <th width="20%">
                                    <mfDefaultSorter by="access_policy_id">{{field_listAccessPolicy_access_policy_id}}
                                    </mfDefaultSorter>
                                </th>
                                <th width="20%">
                                    <mfDefaultSorter by="access_policy_name">
                                        {{field_listAccessPolicy_access_policy_name}}
                                    </mfDefaultSorter>
                                </th>
                                <th width="20%">
                                    <mfDefaultSorter by="details">{{field_listAccessPolicy_details}}
                                    </mfDefaultSorter>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let obj of mf.data">
                                <td>
                                    <div class="form-group form-check">
                                        <input type="checkbox" name="choose"
                                            [checked]="isSelected(obj.access_policy_id)"
                                            (change)="onSelectAccessPolicy(obj.access_policy_id)" />
                                    </div>
                                </td>
                                <td>{{obj.access_policy_id}}</td>
                                <td>{{obj.access_policy_name}}</td>
                                <td>{{obj.details}}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="4">
                                    <mfBootstrapPaginator [rowsOnPageSet]="[10,25,50]"></mfBootstrapPaginator>
                                </td>
                            </tr>
                        </tfoot>
                    </table>

                </div>
            </div>
        </div>
    </div>

</div>

<div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="passBack()">{{ btnOkText }}</button>
    <button type="button" class="btn btn-danger" (click)="decline()">{{ btnCancelText }}</button>
</div>