<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <form class="form-horizontal form-material" name="form" #f="ngForm">
                <div class="card-header">
                    <h2> {{field_emailAlert_heading_configure_email_alert}} </h2>
                    <h6>{{field_emailAlertComponent_info}}</h6>
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label"
                            for="inline-radios">{{field_emailAlert_should_send_email}}</label>
                        <div class="col-md-9 col-form-label">
                            <div class="form-check form-check-inline mr-1" id="inline-radios1">
                                <input class="form-check-input" type="radio" name="inline-radios1" id="inlineRadio1"
                                    [(ngModel)]="emailAlert.should_send_email" [value]="true">
                                <label class="form-check-label" for="inlineRadio1">{{field_emailAlert_yes}}</label>
                            </div>
                            <div class="form-check form-check-inline mr-1">
                                <input class="form-check-input" type="radio" name="inline-radios1" id="inlineRadio2"
                                    [(ngModel)]="emailAlert.should_send_email" [value]="false">
                                <label class="form-check-label" for="inlineRadio2">{{field_emailAlert_no}}</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row" *ngIf="emailAlert.should_send_email">
                        <label class="col-md-3 col-form-label"
                            for="alert_level">{{field_emailAlert_alert_level}}</label>
                        <div class="col-md-9 col-form-label">
                            <div class="form-check form-check-inline mr-1" id="inline-radios2">
                                <input class="form-check-input" type="radio" name="inline-radios2" id="inlineRadio3"
                                    [(ngModel)]="emailAlert.alert_level" [value]="0">
                                <label class="form-check-label" for="inlineRadio1">{{field_emailAlert_fatal}}</label>
                            </div>
                            <div class="form-check form-check-inline mr-1">
                                <input class="form-check-input" type="radio" name="inline-radios2" id="inlineRadio4"
                                    [(ngModel)]="emailAlert.alert_level" [value]="1">
                                <label class="form-check-label" for="inlineRadio2">{{field_emailAlert_critical}}</label>
                            </div>
                            <div class="form-check form-check-inline mr-1">
                                <input class="form-check-input" type="radio" name="inline-radios2" id="inlineRadio5"
                                    [(ngModel)]="emailAlert.alert_level" [value]="2">
                                <label class="form-check-label" for="inlineRadio2">{{field_emailAlert_high}}</label>
                            </div>
                            <div class="form-check form-check-inline mr-1">
                                <input class="form-check-input" type="radio" name="inline-radios2" id="inlineRadio6"
                                    [(ngModel)]="emailAlert.alert_level" [value]="3">
                                <label class="form-check-label" for="inlineRadio2">{{field_emailAlert_medium}}</label>
                            </div>
                            <div class="form-check form-check-inline mr-1">
                                <input class="form-check-input" type="radio" name="inline-radios2" id="inlineRadio7"
                                    [(ngModel)]="emailAlert.alert_level" [value]="4">
                                <label class="form-check-label" for="inlineRadio2">{{field_emailAlert_low}}</label>
                            </div>
                        </div>
                    </div>


                    <div class="container">
                        <div class="row">
                            <div class="col-2">
                                <button class="btn btn-primary" (click)="onClickUpdate()">
                                    {{field_emailAlert_button_update}} <i class="fa fa-pencil" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>