<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <form class="form-horizontal form-material" name="form" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()">
                <div class="card-header">
                    <h2> {{field_crudManagerUser_heading}} - {{currentUserDetail.username}}</h2>
                    <h6>{{field_crudManagerUser_info}}</h6>
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <label for="managerUserIdArr" class="col-2">{{field_crudManagerUser_username}} <span
                                *ngIf="field_crudManagerUser_username_required"> (*) </span></label>
                        <div class="col-10">
                            <select size="6" class="form-control" name="managerUserIdArr" multiple
                                (change)="onSelectUser($event.target.value)"
                                [(ngModel)]="managerUserDetail.managerUserIdArr" [required]="field_username_required">
                                <option value="None">None</option>
                                <option *ngFor="let obj of allUnmanagedUserDetailArr" [value]="obj.user_id">
                                    {{obj.username}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="container">
                        <div class="row">
                            <div class="col-2">
                                <button class="btn btn-primary">
                                    {{field_button_update}}
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="col-2">
                                <button type="button" class="btn btn-danger"
                                    (click)="onClickReset()">{{field_button_reset}}
                                    <i class="fa fa-times" aria-hidden="true"></i></button>
                            </div>
                            <div class="col-2">
                                <button class="btn btn-secondary" type="button"
                                (click)="onCancel()">{{field_button_cancel}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>