<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <form class="form-horizontal form-material" name="form" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()"
                appInvalidinputsfocus>
                <fieldset [disabled]="flagIsReadonly">
                    <div class="card-header content-header">
                        <div class="header-title">
                            <div class="p-l-30 p-r-30">

                                <h2 *ngIf="flagIsReadonly">{{field_crudUser_read}} {{field_crudUser_heading_user}}
                                </h2>
                                <h2 *ngIf="isComponentNew">{{field_crudUser_add_new}} {{field_crudUser_heading_user}}
                                </h2>
                                <h2 *ngIf="!isComponentNew && !flagIsReadonly">{{field_crudUser_update}}
                                    {{field_crudUser_heading_user}}
                                </h2>
                                <h6>{{field_crudUser_info}}</h6>
                            </div>
                        </div>
                    </div>

                    <ul class="nav nav-pills center-block" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="pill" href="#menu1">Basics</a>
                        </li>
                        <li class="nav-item" *ngIf="flagIsReadonly">
                            <a class="nav-link" data-toggle="pill" href="#menu2">Roles</a>
                        </li>
                        <li class="nav-item" *ngIf="flagIsReadonly">
                            <a class="nav-link" data-toggle="pill" href="#menu3">Entities</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="menu1" class="container tab-pane active"><br>
                            <br>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">LOGIN DETAILS </h5>
                                            <hr>
                                            <div class="form-group row">
                                                <label for="user_type" class="col-4">{{field_user_type}}<span
                                                        *ngIf="field_user_type_required">
                                                        (*)</span></label>
                                                <div class="col-8">
                                                    <select class="form-control" name="user_type"
                                                        [(ngModel)]="userDetail.user_type" (change)="onChangeUserType()"
                                                        #user_type="ngModel"
                                                        [ngClass]="{ 'is-invalid': f.submitted && user_type.invalid }"
                                                        [required]="field_user_type_required">
                                                        <option *ngFor="let obj of PICKLIST_TYPE_OF_USER"
                                                            [value]="obj.id">
                                                            {{obj.name}}
                                                        </option>
                                                    </select>
                                                    <div *ngIf="f.submitted && user_type.invalid"
                                                        class="invalid-feedback">
                                                        <div *ngIf="user_type.errors.required">
                                                            {{field_user_type_error_message}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- <div class="form-group row">
                                    <label for="role_id" class="col-4">{{field_role_id}} <span
                                            *ngIf="field_role_id_required">
                                            (*)</span></label>
                                    <div class="col-8">
                                        <select class="form-control" name="role_id" [(ngModel)]="userDetail.role_id"
                                            #role_id="ngModel"
                                            [ngClass]="{ 'is-invalid': f.submitted && role_id.invalid }"
                                            [required]="field_role_id_required" [disabled]="flagDisableRoleId">
                                            <option *ngFor="let obj of roleDetailArr" [value]="obj.role_id">
                                                {{obj.role_name}}
                                            </option>
                                        </select>
                                        <div *ngIf="f.submitted && role_id.invalid" class="invalid-feedback">
                                            <div *ngIf="role_id.errors.required">{{field_role_id_error_message}}</div>
                                        </div>
                                    </div>
                                </div> -->

                                            <div class="form-group row">
                                                <label for="page_matrix_id"
                                                    class="col-4">{{field_crudUser_page_matrix_id}}
                                                    <span *ngIf="field_crudUser_page_matrix_id_required">
                                                        (*)</span></label>
                                                <div class="col-8">
                                                    <select class="form-control" name="page_matrix_id"
                                                        [(ngModel)]="userDetail.page_matrix_id"
                                                        #page_matrix_id="ngModel"
                                                        [ngClass]="{ 'is-invalid': f.submitted && page_matrix_id.invalid }"
                                                        [required]="field_crudUser_page_matrix_id_required"
                                                        [disabled]="flagDisableRoleId">
                                                        <option *ngFor="let obj of pageMatrixArr"
                                                            [value]="obj.page_matrix_id">
                                                            {{obj.page_matrix_name}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <!-- <label for="username" class="col-2">User Name (*)</label> -->
                                                <label for="username" class="col-4">{{field_username}}<span
                                                        *ngIf="field_username_required">
                                                        (*)</span></label>
                                                <div class="col-8">
                                                    <input type="text" class="form-control" name="username"
                                                        pattern="^(?:[A-Za-z0-9]+)(?:[A-Za-z0-9]*)$"
                                                        [(ngModel)]="userDetail.username" #username="ngModel"
                                                        [disabled]="!isComponentNew"
                                                        [ngClass]="{ 'is-invalid': f.submitted && username.invalid }"
                                                        [required]="field_username_required" />
                                                    <span *ngIf="flagIsADAuthenticationType">
                                                        <p class="text-info" style="text-align:left;">
                                                            cn={{userDetail.username}},{{baseDN}}</p>
                                                    </span>
                                                    <div *ngIf="f.submitted && username.invalid "
                                                        class="invalid-feedback">
                                                        <div
                                                            *ngIf="username.errors.required || username.errors.pattern">
                                                            {{field_username_error_message}}</div>
                                                        <!-- <div *ngIf="username.errors.pattern"> Only alphabets allowed</div> -->
                                                    </div>

                                                    <span class="btn-danger" *ngIf="isComponentNew"
                                                        (click)="onCheckLDAP(userDetail.username)">{{field_crudUser_heading_check_username}}</span>
                                                </div>
                                            </div>

                                            <div class="form-group row" *ngIf="isComponentNew">
                                                <label for="password" class="col-4">{{field_password}}<span
                                                        *ngIf="field_password_required">
                                                        (*)</span></label>
                                                <div class="col-8">
                                                    <input type="password" class="form-control" name="password"
                                                        [(ngModel)]="userDetail.password" #password="ngModel"
                                                        [ngClass]="{ 'is-invalid': f.submitted && password.invalid }"
                                                        [required]="field_password_required" minlength="6" />
                                                    <div *ngIf="f.submitted && password.invalid"
                                                        class="invalid-feedback">
                                                        <div
                                                            *ngIf="password.errors.required || password.errors.minlength">
                                                            {{field_password_error_message}}</div>
                                                        <!-- <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div> -->
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row" *ngIf="isComponentNew">
                                                <label for="retypePassword" class="col-4">{{field_retypePassword}}<span
                                                        *ngIf="field_password_required">
                                                        (*)</span></label>
                                                <div class="col-8">
                                                    <input type="password" class="form-control" name="retypePassword"
                                                        [(ngModel)]="retypePasswordText" #retypePassword="ngModel"
                                                        [ngClass]="{ 'is-invalid': f.submitted && retypePassword.invalid }"
                                                        [required]="field_password_required" minlength="6" />
                                                    <div *ngIf="f.submitted && retypePassword.invalid"
                                                        class="invalid-feedback">
                                                        <div
                                                            *ngIf="retypePassword.errors.required || retypePassword.errors.minlength">
                                                            {{field_password_error_message}}</div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label for="email" class="col-4">{{field_email}} <span
                                                        *ngIf="field_email_required">
                                                        (*)</span>
                                                </label>
                                                <div class="col-8">
                                                    <input type="text" class="form-control" name="email" required
                                                        pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                                                        [(ngModel)]="userDetail.email" #email="ngModel"
                                                        [ngClass]="{ 'is-invalid': f.submitted && email.invalid }"
                                                        [required]="field_email_required" />
                                                    <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                                                        <div *ngIf="email.errors.required || email.errors.pattern">
                                                            {{field_email_error_message}}
                                                        </div>
                                                        <!-- <div *ngIf="email.errors.pattern">Email format should be<small><b>joe@abc.com</b></small></div> -->
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="phone" class="col-4">{{field_phone}} <span
                                                        *ngIf="field_phone_required">
                                                        (*)</span></label>
                                                <div class="col-8">
                                                    <input type="text" class="form-control" name="phone"
                                                        #phone="ngModel" maxlength="" minlength="" required
                                                        pattern="^[0-9()\-+\s]+$" [(ngModel)]="userDetail.phone"
                                                        [ngClass]="{ 'is-invalid': f.submitted && phone.invalid }"
                                                        [required]="field_phone_required">
                                                    <div *ngIf="f.submitted && phone.invalid" class="invalid-feedback">
                                                        <div *ngIf="phone.errors.required || phone.errors.pattern">
                                                            {{field_phone_error_message}}</div>
                                                        <!-- <div *ngIf="phone.errors.minlength">Phone number should be 10digit </div>
                                    <div *ngIf="phone.errors.pattern">Phone number should be only numbers </div> -->
                                                    </div>

                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>


                                <div class="col-sm-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">PERSONAL DETAILS</h5>
                                            <hr>
                                            <div class="form-group row">
                                                <label for="salutation" class="col-4">{{field_salutation}}<span
                                                        *ngIf="field_salutation_required"> (*)</span></label>
                                                <div class="col-8">
                                                    <select name="salutation" class="form-control"
                                                        [(ngModel)]="userDetail.salutation" #salutation="ngModel"
                                                        [ngClass]="{ 'is-invalid': f.submitted && salutation.invalid }"
                                                        [required]="field_salutation_required">
                                                        <option value="Mr.">Mr.</option>
                                                        <option value="Mrs.">Mrs.</option>
                                                        <option value="Ms.">Ms.</option>
                                                    </select>
                                                    <div *ngIf="f.submitted && salutation.invalid"
                                                        class="invalid-feedback">
                                                        <div *ngIf="salutation.errors.required">
                                                            {{field_salutation_error_message}}
                                                        </div>
                                                    </div>
                                                    <!-- <input type="text"  class="form-control" name="salutation"
                                            [(ngModel)]="userDetail.salutation" [required]="field_salutation_required"> -->
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="first_name" class="col-4">{{field_first_name}} <span
                                                        *ngIf="field_first_name_required"> (*)</span></label>
                                                <div class="col-8">
                                                    <input type="text" class="form-control" name="first_name"
                                                        pattern="[a-zA-Z]+" [(ngModel)]="userDetail.first_name"
                                                        #first_name="ngModel"
                                                        [ngClass]="{ 'is-invalid': f.submitted && first_name.invalid }"
                                                        [required]="field_first_name_required" />
                                                    <div *ngIf="f.submitted && first_name.invalid"
                                                        class="invalid-feedback">
                                                        <div
                                                            *ngIf="first_name.errors.required || first_name.errors.pattern">
                                                            {{field_first_name_error_message}}</div>
                                                        <!-- <div *ngIf="first_name.errors.pattern"> Only alphabets allowed</div> -->
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="middle_name" class="col-4">{{field_middle_name}} <span
                                                        *ngIf="field_middle_name_required"> (*)</span></label>
                                                <div class="col-8">
                                                    <input type="text" class="form-control" name="middle_name"
                                                        #middle_name="ngModel" pattern="[a-zA-Z]+"
                                                        [(ngModel)]="userDetail.middle_name"
                                                        [ngClass]="{ 'is-invalid': f.submitted && middle_name.invalid }"
                                                        [required]="field_middle_name_required">
                                                    <div *ngIf="f.submitted && middle_name.invalid"
                                                        class="invalid-feedback">
                                                        <div
                                                            *ngIf="middle_name.errors.required || middle_name.errors.pattern">
                                                            {{field_middle_name_error_message}}</div>
                                                        <!-- <div *ngIf="middle_name.errors.pattern"> Only alphabets allowed</div> -->
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="last_name" class="col-4">{{field_last_name}} <span
                                                        *ngIf="field_last_name_required">
                                                        (*)</span></label>
                                                <div class="col-8">
                                                    <input type="text" class="form-control" name="last_name"
                                                        pattern="[a-zA-Z]+" [(ngModel)]="userDetail.last_name"
                                                        #last_name="ngModel"
                                                        [ngClass]="{ 'is-invalid': f.submitted && last_name.invalid }"
                                                        [required]="field_last_name_required" />
                                                    <div *ngIf="f.submitted && last_name.invalid"
                                                        class="invalid-feedback">
                                                        <div
                                                            *ngIf="last_name.errors.required || last_name.errors.pattern">
                                                            {{field_last_name_error_message}}</div>
                                                        <!-- <div *ngIf="last_name.errors.pattern"> Only alphabets allowed</div> -->
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="full_name" class="col-4">{{field_full_name}}<span
                                                        *ngIf="field_full_name_required">
                                                        (*)</span></label>
                                                <div class="col-8">
                                                    <input type="text" class="form-control" name="full_name"
                                                        pattern="^(?:[A-Za-z]+)(?:[A-Za-z _]*)$"
                                                        [(ngModel)]="userDetail.full_name" #full_name="ngModel"
                                                        [ngClass]="{ 'is-invalid': f.submitted && full_name.invalid }"
                                                        [required]="field_full_name_required">
                                                    <div *ngIf="f.submitted && full_name.invalid"
                                                        class="invalid-feedback">
                                                        <div
                                                            *ngIf="full_name.errors.required || full_name.errors.pattern">
                                                            {{field_full_name_error_message}}</div>
                                                        <!-- <div *ngIf="full_name.errors.pattern"> Only alphabets allowed</div> -->
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="date_of_birth" class="col-4">{{field_dob}}<span
                                                        *ngIf="field_dob_required">
                                                        (*)</span></label>
                                                <div class="col-8">
                                                    <input type="text" class="form-control" name="date_of_birth"
                                                        #date_of_birth="ngModel" required
                                                        pattern="^(0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01])[- /.](19|20)\d\d$"
                                                        [(ngModel)]="userDetail.date_of_birth"
                                                        [ngClass]="{ 'is-invalid': f.submitted && date_of_birth.invalid }"
                                                        [required]="field_dob_required">
                                                    <div *ngIf="f.submitted && date_of_birth.invalid"
                                                        class="invalid-feedback">
                                                        <div
                                                            *ngIf="date_of_birth.errors.required || date_of_birth.errors.pattern">
                                                            {{field_dob_error_message}}</div>
                                                        <!-- <div *ngIf="date_of_birth.errors.pattern"> DOB format should be (DD/MM/YYYY or MM/DD/YYYY)</div> -->
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">SOCIAL LOGIN DETAILS</h5>
                                            <hr>
                                            <div class="form-group row">
                                                <label for="facebook_id" class="col-4">{{field_facebook_id}}<span
                                                        *ngIf="field_facebook_id_required"> <span
                                                            *ngIf="field_facebook_id_required">
                                                            (*)</span></span></label>
                                                <div class="col-8">
                                                    <input type="text" class="form-control" name="facebook_id"
                                                        #facebook_id="ngModel" pattern="[^\s]+"
                                                        [(ngModel)]="userDetail.facebook_id"
                                                        [ngClass]="{ 'is-invalid': f.submitted && facebook_id.invalid }"
                                                        [required]="field_facebook_id_required">
                                                    <div *ngIf="f.submitted && facebook_id.invalid"
                                                        class="invalid-feedback">
                                                        <div
                                                            *ngIf="facebook_id.errors.required || facebook_id.errors.pattern">
                                                            {{field_facebook_id_error_message}}</div>
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label for="google_id" class="col-4">{{field_google_id}}<span
                                                        *ngIf="field_google_id_required">
                                                        (*)</span></label>
                                                <div class="col-8">
                                                    <input type="text" class="form-control" name="google_id"
                                                        #google_id="ngModel" pattern="[^\s]+"
                                                        [(ngModel)]="userDetail.google_id"
                                                        [ngClass]="{ 'is-invalid': f.submitted && google_id.invalid }"
                                                        [required]="field_google_id_required">
                                                    <div *ngIf="f.submitted && google_id.invalid"
                                                        class="invalid-feedback">
                                                        <div
                                                            *ngIf="google_id.errors.required || google_id.errors.pattern">
                                                            {{field_google_id_error_message}}</div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="profile_link" class="col-4">{{field_profile_link}}<span
                                                        *ngIf="field_profile_link_required"> (*)</span></label>
                                                <div class="col-8">
                                                    <input type="text" class="form-control" name="profile_link"
                                                        #profile_link="ngModel" pattern="^\S.*$"
                                                        [(ngModel)]="userDetail.profile_link"
                                                        [ngClass]="{ 'is-invalid': f.submitted && profile_link.invalid }"
                                                        [required]="field_profile_link_required">
                                                    <div *ngIf="f.submitted && profile_link.invalid"
                                                        class="invalid-feedback">
                                                        <div
                                                            *ngIf="profile_link.errors.required || profile_link.errors.pattern">
                                                            {{field_profile_link_error_message}}</div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="card">
                                        <div class="card-body">

                                            <h5 class="card-title">OTHER INFORMATION</h5>
                                            <hr>
                                            <div class="form-group row">
                                                <label for="department" class="col-4">{{field_crudUser_department}}<span
                                                        *ngIf="field_crudUser_department_required"> (*)</span></label>
                                                <div class="col-8">
                                                    <select class="form-control" name="department"
                                                        [(ngModel)]="userDetail.department" #department="ngModel"
                                                        [ngClass]="{ 'is-invalid': f.submitted && department.invalid }"
                                                        [required]="field_crudUser_department_required">
                                                        <option *ngFor="let obj of departmentFormElementArr"
                                                            [value]="obj.data_value">
                                                            {{obj.data_value}}
                                                        </option>
                                                    </select>

                                                    <div *ngIf="f.submitted && department.invalid"
                                                        class="invalid-feedback">
                                                        <div *ngIf="department.errors.required">
                                                            {{field_crudUser_department_error_message}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="job_title" class="col-4">{{field_crudUser_job_title}}<span
                                                        *ngIf="field_crudUser_job_title_required"> (*)</span></label>
                                                <div class="col-8">
                                                    <select class="form-control" name="job_title"
                                                        [(ngModel)]="userDetail.job_title" #job_title="ngModel"
                                                        [ngClass]="{ 'is-invalid': f.submitted && job_title.invalid }"
                                                        [required]="field_crudUser_job_title_required">
                                                        <option *ngFor="let obj of jobTitleFormElementArr"
                                                            [value]="obj.data_value">
                                                            {{obj.data_value}}
                                                        </option>
                                                    </select>

                                                    <div *ngIf="f.submitted && job_title.invalid"
                                                        class="invalid-feedback">
                                                        <div *ngIf="job_title.errors.required">
                                                            {{field_crudUser_job_title_error_message}}</div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <label for="can_be_deleted" class="col-4">{{field_can_be_deleted}}
                                                    ?</label>
                                                <div class="col-2">
                                                    <div class="form-check" class="pretty p-default p-curve"
                                                        *ngIf="!userDetail.is_default">
                                                        <input class="form-check-input" type="checkbox"
                                                            name="can_be_deleted"
                                                            [(ngModel)]="userDetail.can_be_deleted" />

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <label for="profile_link" class="col-4">{{field_is_otp_required}}<span
                                                        *ngIf="field_is_otp_required_required"> (*)</span></label>
                                                <div class="col-2">
                                                    <div class="form-check ">
                                                        <input class="form-check-input" type="checkbox"
                                                            name="is_otp_required"
                                                            [(ngModel)]="userDetail.is_otp_required">

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="menu2" class="container tab-pane fade"><br>
                            <br> Associated Roles with this User
                            <table class={{COMMON_TABLE_OPTIONS}} [mfData]="roleTableDataArr" #mf="mfDataTable"
                                [mfRowsOnPage]="10">
                                <thead>
                                    <tr>
                                        <th width="20%">
                                            <mfDefaultSorter by="role_id">{{field_crudUser_role_id}}</mfDefaultSorter>
                                        </th>
                                        <th width="20%">
                                            <mfDefaultSorter by="role_name">{{field_crudUser_role_name}}
                                            </mfDefaultSorter>
                                        </th>
                                        <th width="20%">
                                            <mfDefaultSorter by="details">{{field_crudUser_role_details}}
                                            </mfDefaultSorter>
                                        </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let obj of mf.data">
                                        <td>{{obj.role_id}}</td>
                                        <td>{{obj.role_name}}</td>
                                        <td>{{obj.details}}</td>

                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="4">
                                            <mfBootstrapPaginator [rowsOnPageSet]="[10,25,50]"></mfBootstrapPaginator>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>



                        </div>
                        <div id="menu3" class="container tab-pane fade"><br>
                            <br> ACCESSIBLE ENTITIES
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let obj of userToEntityArr">
                                    <div class="card">
                                        <div class="card-body text-center">
                                            <img class="rounded-circle"
                                                src="{{IMAGES_BASE_LOCATION}}/{{getEntityIconFileNameFromEntityId(obj.entity_id)}}"
                                                width="200" height="200" />
                                            <div>
                                                <h4 class="card-title">{{getEntityNameFromEntityId(obj.entity_id)}}</h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>



                    <hr />
                </fieldset>
                <div class="container">
                    <div class="row">
                        <div class="col-4" *ngIf="flagShowSaveButton">
                            <button class="btn btn-success">
                                <span *ngIf="isComponentNew">{{field_button_save}}</span>
                                <span *ngIf="!isComponentNew">{{field_button_update}}</span>

                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </button>
                        </div>
                        <div class="col-4" *ngIf="flagShowResetButton">
                            <button type="button" class="btn btn-danger" (click)="onClickReset()">{{field_button_reset}}
                                <i class="fa fa-times" aria-hidden="true"></i></button>
                        </div>
                        <div class="col-4" *ngIf="flagShowCancelButton">
                            <button class="btn btn-secondary" type="button"
                                (click)="onCancel()">{{field_button_cancel}}</button>
                        </div>
                    </div>
                </div>
                <br>

            </form>
        </div>
    </div>
</div>