<nav class="navbar navbar-dark bg-primary navbar-expand-sm">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-list-2"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-list-2">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">
                    <h5>{{field_listAccessEntity_heading_user_requests}}</h5><span class="sr-only">(current)</span>
                </a>
            </li>
        </ul>

        <div class="ml-auto">
            <form class="form-inline">
                <input class="form-control search-input rounded-0 border-right-0" type="search" aria-label="Search"
                    (keyup)='search($event.target.value)'>
                <button class="btn btn-info"><i class="fa fa-search"></i></button>
                <button class="btn btn-info" (click)="onClickRefresh()"><i class="fa fa-refresh"></i></button>
            </form>
        </div>
    </div>
</nav>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h6>{{field_listAccessEntityComponent_info}}</h6>
            </div>
            <div class="card-body table-responsive">

                <table class={{COMMON_TABLE_OPTIONS}} [mfData]="tableDataArr" #mf="mfDataTable" [mfRowsOnPage]="10">
                    <thead>
                        <tr>
                            <th width="20%">
                                <mfDefaultSorter by="details">
                                    {{field_listAccessEntity_details}}
                                </mfDefaultSorter>
                            </th>
                            <!-- <th width="20%">
                                <mfDefaultSorter by="requested_username">{{field_listAccessEntity_requested_username}}
                                </mfDefaultSorter>
                            </th> -->
                            <!-- <th width="20%">
                                <mfDefaultSorter by="requested_entity_id">{{field_listAccessEntity_requested_entity_id}}
                                </mfDefaultSorter>
                            </th> -->
                            <th width="20%">
                                <mfDefaultSorter by="requested_time">{{field_listAccessEntity_requested_time}}
                                </mfDefaultSorter>
                            </th>
                            <th width="20%">
                                <mfDefaultSorter by="current_status">{{field_listAccessEntity_current_status}}
                                </mfDefaultSorter>
                            </th>
                            <th width="20%">
                                <mfDefaultSorter by="is_request_new">{{field_listAccessEntity_is_new_request}}
                                </mfDefaultSorter>
                            </th>
                            <th width="20%">
                                <mfDefaultSorter by="action"></mfDefaultSorter>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let obj of mf.data">
                            <td>{{obj.details}}</td>
                            <!-- <td>{{mapIdToDetails.get(obj.mapping_user_entity_id)}}</td> -->
                            <td>{{ obj.requested_time | date: 'dd/MM/yyyy hh:mm:ss' }}</td>
                            <td>{{displayAccessEntityStatus(obj.current_status)}}</td>
                            <td>{{obj.is_request_new}}</td>
                            <td>
                                <button type="button" class="btn btn-primary" (click)="onClickApprove(obj)"><i
                                        class="fa fa-pencil-square"
                                        aria-hidden="true"></i>{{field_listAccessEntity_button_approve}}</button>
                                <button *ngIf="!obj.is_default" type="button" class="btn btn-danger"
                                    (click)="onClickDecline(obj)"><i class="fa fa-trash"
                                        aria-hidden="true"></i>{{field_listAccessEntity_button_decline}}</button>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4">
                                <mfBootstrapPaginator [rowsOnPageSet]="[10,25,50]"></mfBootstrapPaginator>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>