.btn-primary{
    margin-left: 20px;
    }
    
    .thead{
        background-color: #aec7ce;
    }
    
    .vl {
        border-left: 6px solid grey;
        height: 34px;
      }
    .form-group
    {
        margin-bottom: 0.10em;
    }
    .has-search .form-control {
        padding-left: 2.375rem;
    }
    
    .has-search .form-control-feedback {
        position: absolute;
        z-index: 2;
        display: block;
        width: 2.375rem;
        height: 2.375rem;
        line-height: 2.375rem;
        text-align: center;
        pointer-events: none;
        color: #aaa;
    }