<nav class="navbar navbar-dark bg-primary navbar-expand-sm">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-list-2"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-list-2">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">
                    <h5>{{field_listMakerCheckerRequest_heading}}</h5><span class="sr-only">(current)</span>
                </a>
            </li>
        </ul>

        <div class="ml-auto">
            <form class="form-inline">
                <input class="form-control search-input rounded-0 border-right-0" type="search" aria-label="Search"
                    (keyup)='search($event.target.value)'>
                <button class="btn btn-info"><i class="fa fa-search"></i></button>
                <button class="btn btn-info" (click)="onClickRefresh()"><i class="fa fa-refresh"></i></button>
            </form>
        </div>
    </div>
</nav>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h6>{{field_listMakerCheckerRequest_info}}</h6>
            </div>
            <div class="card-body table-responsive">

                <table class={{COMMON_TABLE_OPTIONS}} [mfData]="tableDataArr" #mf="mfDataTable" [mfRowsOnPage]="25">
                    <thead>
                        <tr>
                            <th width="20%">
                                <mfDefaultSorter by="maker_user_id">{{field_listMakerCheckerRequest_maker_user_id}}
                                </mfDefaultSorter>
                            </th>

                            <th width="20%">
                                <mfDefaultSorter by="maker_request_time">
                                    {{field_listMakerCheckerRequest_maker_request_time}}
                                </mfDefaultSorter>
                            </th>
                            <th width="20%">
                                <mfDefaultSorter by="maker_component_name">
                                    {{field_listMakerCheckerRequest_maker_component_name}}
                                </mfDefaultSorter>
                            </th>
                            <th width="20%">
                                <mfDefaultSorter by="maker_CRUD_operation">
                                    {{field_listMakerCheckerRequest_maker_CRUD_operation}}
                                </mfDefaultSorter>
                            </th>
                            <!-- <th width="20%">
                                <mfDefaultSorter by="current_status">{{field_listMakerCheckerRequest_current_status}}
                                </mfDefaultSorter>
                            </th> -->
                            <th width="20%">
                                <mfDefaultSorter by="action"></mfDefaultSorter>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let obj of mf.data">
                            <td>{{obj.maker_user_id}}</td>
                            <td>{{ obj.maker_request_time | date: 'dd/MM/yyyy hh:mm:ss' }}</td>
                            <td>{{obj.maker_component_name}}</td>
                            <td>{{displayCRUDOperationName(obj.maker_CRUD_operation)}}</td>
                            <!-- <td>{{obj.current_status}}</td> -->
                            <td *ngIf="isAdmin">
                                <button type="button" class="btn btn-primary" (click)="onClickApprove(obj)"><i
                                        class="fa fa-pencil-square"
                                        aria-hidden="true"></i>{{field_listMakerCheckerRequest_button_approve}}</button>
                                <button *ngIf="!obj.is_default" type="button" class="btn btn-danger"
                                    (click)="onClickDecline(obj)"><i class="fa fa-trash"
                                        aria-hidden="true"></i>{{field_listMakerCheckerRequest_button_decline}}</button>
                            </td>
                            <td *ngIf="!isAdmin">
                                <button type="button" class="btn btn-primary" (click)="onClickCancel(obj)"><i
                                        class="fa fa-pencil-square"
                                        aria-hidden="true"></i>{{field_listMakerCheckerRequest_button_cancel}}</button>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="5">
                                <mfBootstrapPaginator [rowsOnPageSet]="[25,50,100]"></mfBootstrapPaginator>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>