<nav class="navbar navbar-dark bg-primary navbar-expand-sm">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-list-2"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-list-2">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">
                    <h5>{{field_listManagerUser_heading_user_management}}</h5><span class="sr-only">(current)</span>
                </a>
            </li>
        </ul>

        <div class="ml-auto">
            <form class="form-inline">
                <input class="form-control search-input rounded-0 border-right-0" type="search" aria-label="Search"
                    (keyup)='search($event.target.value)'>
            </form>
        </div>
    </div>
</nav>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h6>{{field_listManagerUserComponent_info}}</h6>
            </div>
            <div class="card-body table-responsive">
                <table class={{COMMON_TABLE_OPTIONS}} [mfData]="tableDataArr" #mf="mfDataTable" [mfRowsOnPage]="10">
                    <thead>
                        <tr>
                            <th width="20%">
                                <mfDefaultSorter by="username">{{field_listManagerUser_username}}</mfDefaultSorter>
                            </th>

                            <th width="20%">
                                <mfDefaultSorter by="action"></mfDefaultSorter>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let obj of mf.data">
                            <td>{{obj.username}}</td>

                            <td>
                                <button type="button" class="btn btn-primary" (click)="onClickEdit(obj)"><i
                                        class="fa fa-pencil-square"
                                        aria-hidden="true"></i>{{field_listManagerUser_button_edit}}</button>

                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="2">
                                <mfBootstrapPaginator [rowsOnPageSet]="[10,25,50]"></mfBootstrapPaginator>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>