<nav class="navbar navbar-dark bg-primary navbar-expand-sm">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-list-2"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbar-list-2">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">
          <h5>{{field_listUser_heading_user_management}}</h5><span class="sr-only">(current)</span>
        </a>
      </li>
    </ul>

    <div class="ml-auto">
      <form class="form-inline">
        <input class="form-control search-input rounded-0 border-right-0" type="search" aria-label="Search"
          (keyup)='search($event.target.value)'>
        <!-- <button class="btn btn-info"><i class="fa fa-search"></i></button> -->
      </form>
    </div>
    <button type="button" class="btn btn-primary" (click)="onClickAddUser()">
      <i class="fa fa-plus-circle" aria-hidden="true"></i>{{field_listUser_heading_add_user}}</button>
  </div>
</nav>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h6>{{field_listUserComponent_info}}</h6>
      </div>
      <div class="card-body">
        <h2> Search Users </h2><br>
        <div class="form-group row">
          <label for="username" class="col-form-label col-1">Username</label>
          <div class="col-sm-3">
            <input type="text" class="form-control" name="username" [(ngModel)]="searchUserDetail.username">
          </div>
          <label for="email" class="col-form-label col-1">Added to Main</label>
          <div class="col-sm-3">
            <select class="custom-select mr-sm-5" id="inlineFormCustomSelect" name="is_added_to_main"
              [(ngModel)]="searchUserDetail.is_added_to_main">
              <option *ngFor="let obj of PICKLIST_SEARCH_USER_BOOLEAN_OPTION" [value]="obj">
                {{obj}}
              </option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label for="user_id" class="col-form-label col-1">ID</label>
          <div class="col-sm-3">
            <input type="text" class="form-control" name="user_id" [(ngModel)]="searchUserDetail.user_id">
          </div>
          <label for="email" class="col-form-label col-1">Email</label>
          <div class="col-sm-3">
            <input type="email" class="form-control" name="email" [(ngModel)]="searchUserDetail.email">
          </div>
        </div>
        <div class="form-group row">
          <label for="first_name" class="col-form-label col-1">First Name</label>
          <div class="col-sm-3">
            <input type="text" class="form-control" name="first_name" [(ngModel)]="searchUserDetail.first_name">
          </div>
          <label for="last_name" class="col-form-label col-1">Last Name</label>
          <div class="col-sm-3">
            <input type="text" class="form-control" name="last_name" [(ngModel)]="searchUserDetail.last_name">
          </div>
        </div>
        <div class="form-group row">
          <label for="active" class="col-form-label col-1">Active</label>
          <div class="col-sm-3">
            <select class="custom-select mr-sm-5" id="inlineFormCustomSelect" name="active"
              [(ngModel)]="searchUserDetail.active">
              <option *ngFor="let obj of PICKLIST_SEARCH_USER_BOOLEAN_OPTION" [value]="obj">
                {{obj}}
              </option>
            </select>

          </div>
          <label for="locked" class="col-form-label col-1">Locked</label>
          <div class="col-sm-3">
            <select class="custom-select mr-sm-5" id="inlineFormCustomSelect" name="locked"
              [(ngModel)]="searchUserDetail.locked">
              <option *ngFor="let obj of PICKLIST_SEARCH_USER_BOOLEAN_OPTION" [value]="obj">
                {{obj}}
              </option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label for="department" class="col-form-label col-1">Department</label>
          <div class="col-sm-3">
            <select class="form-control" name="department" [(ngModel)]="searchUserDetail.department">
              <option value=""></option>
              <option *ngFor="let obj of departmentFormElementArr" [value]="obj.data_value">
                {{obj.data_value}}
              </option>
            </select>
          </div>
          <label for="job_title" class="col-form-label col-1">Job Title</label>
          <div class="col-sm-3">
            <select class="form-control" name="job_title" [(ngModel)]="searchUserDetail.job_title">
              <option value=""></option>
              <option *ngFor="let obj of jobTitleFormElementArr" [value]="obj.data_value">
                {{obj.data_value}}
              </option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-3">
            <button type="button" class="btn btn-primary" (click)="onClickSearch()"><i class="fa fa-pencil-square"
                aria-hidden="true"></i>Search</button>
            <button type="button" class="btn btn-danger" (click)="onClickReset()"><i class="fa fa-pencil-square"
                aria-hidden="true"></i>Reset</button>
          </div>
        </div>
        <hr>

        <!-- ADVANCED SEARCH -->
        <h2> Advanced Users Search </h2><br>
        <div class="col-12">
          <div class="form-row align-items-center">
            <div class="col-auto my-1">
              <label type="label">Search Category :</label>
            </div>
            <div class="col-auto my-1">
              <select class="custom-select mr-sm-5" id="inlineFormCustomSelect" name="searchBy"
                [(ngModel)]="advancedUsersSearchBy" (change)="onAdvancedSearchByChange()">
                <option *ngFor="let obj of PICKLIST_ADVANCED_USERS_SEARCH_BY" [value]="obj">
                  {{obj}}
                </option>
              </select>
            </div>

            <div class="vl"></div>
            <div class="col-auto my-1">
              <label type="label">Search Value :</label>
            </div>

            <div class="col-auto my-1">
              <select class="custom-select mr-sm-5" id="inlineFormCustomSelect" name="searchValue"
                [(ngModel)]="advancedUsersSearchValue">
                <option *ngFor="let obj of advancedUsersSearchValueArr" [value]="obj.id">
                  {{obj.value}}
                </option>
              </select>
            </div>
            <div class="vl"></div>
            <div class="col-auto my-1">
              <button type="button" class="btn btn-light" (click)="onClickAdvancedUserSearch()"><i
                  class="fa fa-plus-circle" aria-hidden="true"></i>Search</button>
            </div>
            <div class="vl"></div>
            <div class="col-auto my-1">
              <button type="button" class="btn btn-light" (click)="onResetAdvancedSearch()"><i class="fa fa-refresh"
                  aria-hidden="true"></i>Reset</button>
            </div>
            <div class="vl"></div>
            <div class="vl"></div>
            <div class="vl"></div>
            <div class="col-auto my-1">
              <button type="button" class="btn btn-light" (click)="onGetAllUsers()"><i class="fa fa-refresh"
                  aria-hidden="true"></i>Get all Users</button>
            </div>
            <div class="vl"></div>
            <div class="col-auto my-1">
              <button type="button" class="btn btn-light" (click)="onClickAddUser()" *ngIf="isCreatable"><i class="fa fa-plus-circle"
                  aria-hidden="true"></i>Create User</button>
            </div>
            <div class="vl"></div>

          </div>
        </div>
        <hr>
        <div class="col-12">
          <div class="form-row align-items-center">
            <!-- <div class="col-auto my-1">
              <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                <option selected>action</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
            <div class="vl"></div> -->
            
            <!-- <div class="col-auto my-1">
              <button type="button" class="btn btn-light"><i class="fa fa-pencil-square"
                  aria-hidden="true"></i>Edit</button>
            </div>
            <div class="col-auto my-1">
              <button type="button" class="btn btn-light"><i class="fa fa-chevron-circle-down"
                  aria-hidden="true"></i>Enable</button>
            </div>
            <div class="col-auto my-1">
              <button type="button" class="btn btn-light"><i class="fa fa-minus-circle"
                  aria-hidden="true"></i>Disable</button>
            </div>
            <div class="col-auto my-1">
              <button type="button" class="btn btn-light"><i class="fa fa-times" aria-hidden="true"></i>Delete</button>
            </div>
            <div class="col-auto my-1">
              <button type="button" class="btn btn-light"><i class="fa fa-lock" aria-hidden="true"></i>Lock
                Account</button>
            </div>
            <div class="col-auto my-1">
              <button type="button" class="btn btn-light"><i class="fa fa-unlock" aria-hidden="true"></i>Unlock
                Account</button>
            </div>
            <div class="col-auto my-1">
              <button type="button" class="btn btn-light"><i class="fa fa-refresh" aria-hidden="true"></i>Reset
                Password</button>
            </div> -->
          </div>
        </div>
        <div class="d-flex" *ngIf="WHICH_SEARCH_HEADING != ''">
          <div class="p-2 bg-primary flex-grow-1">{{WHICH_SEARCH_HEADING}}</div>
        </div>
        <table class={{COMMON_TABLE_OPTIONS}} [mfData]="filteredTableDataArr" #mf="mfDataTable" [mfRowsOnPage]="10">
          <thead>
            <tr>
              <!-- <th width="20%">
                <mfDefaultSorter by="user_id">{{field_listUser_user_name}}</mfDefaultSorter>
              </th> -->
              <th width="20%">
                <mfDefaultSorter by="username">{{field_listUser_user_name}}</mfDefaultSorter>
              </th>
              <th width="20%">
                <mfDefaultSorter by="is_added_to_main">{{field_listUser_is_added_to_main}}</mfDefaultSorter>
              </th>
              <th width="20%">
                <mfDefaultSorter by="email">{{field_listUser_email}}</mfDefaultSorter>
              </th>
              <th width="20%">
                <mfDefaultSorter by="first_name">{{field_listUser_first_name}}</mfDefaultSorter>
              </th>
              <th width="20%">
                <mfDefaultSorter by="last_name">{{field_listUser_last_name}}</mfDefaultSorter>
              </th>
              <th width="20%">
                <mfDefaultSorter by="is_active">{{field_listUser_is_active}}</mfDefaultSorter>
              </th>
              <th width="20%">
                <mfDefaultSorter by="is_locked">{{field_listUser_is_locked}}</mfDefaultSorter>
              </th>
              <th width=" 20%">
                <mfDefaultSorter by="department">{{field_listUser_department}}</mfDefaultSorter>
              </th>
              <th width="20%">
                <mfDefaultSorter by="job_title">{{field_listUser_job_title}}</mfDefaultSorter>
              </th>
              <th width="20%">
                <mfDefaultSorter by="action"></mfDefaultSorter>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let obj of mf.data">
              <!-- <td>{{obj.user_id}}</td> -->
              <td>{{obj.username}}</td>
              <td>{{obj.is_added_to_main}}</td>
              <td>{{obj.email}}</td>
              <td>{{obj.first_name}}</td>
              <td>{{obj.last_name}}</td>
              <td>{{obj.is_active}}</td>
              <td>{{obj.is_locked}}</td>
              <td>{{obj.department}}</td>
              <td>{{obj.job_title}}</td>
              <td>
                <button type="button" class="btn btn-info" (click)="onClickView(obj)" *ngIf="isReadable"
                  title="{{field_listUser_button_view}}"><i class="ti-eye" aria-hidden="true"></i></button>
                <button type="button" class="btn btn-primary" (click)="onClickEdit(obj)" *ngIf="isUpdatable"
                  title="{{field_listUser_button_edit}}"><i class="fa fa-pencil-square" aria-hidden="true"></i></button>
                <button type="button" class="btn btn-danger" (click)="onClickDelete(obj)"
                  *ngIf="!obj.is_default && isDeletable" title="{{field_listUser_button_delete}}"><i
                    class="fa fa-trash" aria-hidden="true"></i></button>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="6">
                <mfBootstrapPaginator [rowsOnPageSet]="[10,25,50]"></mfBootstrapPaginator>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>