<div class="row">
    <div class="col-md-6 col-lg-3">
        <div class="card">
            <div class="card-body">
                <h5><b>Entities Connections </b></h5>
            </div>
            <div style="width: 100%">
                <canvas id="pie"></canvas>
            </div>
            <br>
            <br>
            <div class="card-footer">
                <div class="row">
                    <!-- <div class="col-4 b-r-default text-center">
                        <p class="text-muted">Created</p>
                        <span *ngFor="let system of systems">{{system.created}}</span>
                    </div>
                    <div class="col-4 b-r-default text-center">
                        <p class="text-muted">Deleted</p>
                        <span *ngFor="let system of systems">{{system.deleted}}</span>
                    </div>
                    <div class="col-4 text-center">
                        <p class="text-muted">Users</p>
                        <span *ngFor="let system of systems">{{system.users}}</span>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>