<nav class="navbar navbar-dark bg-primary navbar-expand-sm">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-list-2"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-list-2">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">
                    <h5>{{field_listApprovalMatrix_heading}}</h5><span class="sr-only">(current)</span>
                </a>
            </li>
        </ul>

        <div class="ml-auto">
            <form class="form-inline">
                <input class="form-control search-input rounded-0 border-right-0" type="search" aria-label="Search"
                    (keyup)='search($event.target.value)'>
            </form>
        </div>
    </div>
</nav>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <!-- <h2>{{field_listApprovalMatrix_heading}}</h2> -->
                <h6>{{field_listApprovalMatrix_info}}</h6>
            </div>
            <div class="card-body table-responsive">
                <table class={{COMMON_TABLE_OPTIONS}} [mfData]="tableDataArr" #mf="mfDataTable" [mfRowsOnPage]="25">
                    <thead>
                        <tr>
                            <!-- <th width="20%">
                                <mfDefaultSorter by="role_id">{{field_listApprovalMatrix_role_id}} </mfDefaultSorter>
                            </th> -->
                            <th width="20%">
                                <mfDefaultSorter by="component_name">{{field_listApprovalMatrix_component_name}}
                                </mfDefaultSorter>
                            </th>
                            <th width="20%">
                                <mfDefaultSorter by="requires_approval">{{field_listApprovalMatrix_requires_approval}}
                                </mfDefaultSorter>
                            </th>
                            <th width="20%">
                                <mfDefaultSorter by="create_permission">{{field_listApprovalMatrix_create_permission}}
                                </mfDefaultSorter>
                            </th>
                            <th width="20%">
                                <mfDefaultSorter by="update_permission">{{field_listApprovalMatrix_update_permission}}
                                </mfDefaultSorter>
                            </th>
                            <th width="20%">
                                <mfDefaultSorter by="delete_permission">{{field_listApprovalMatrix_delete_permission}}
                                </mfDefaultSorter>
                            </th>
                            <th width="20%">
                                <mfDefaultSorter by="action"></mfDefaultSorter>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let obj of mf.data">
                            <!-- <td>{{obj.role_id}}</td> -->
                            <td>{{obj.component_name}}</td>
                            <td><input class="form-check-input" [(ngModel)]="obj.requires_approval" type="checkbox"
                                    value="requires_approval" name="requires_approval"> </td>
                            <td><input class="form-check-input" [(ngModel)]="obj.create_permission" type="checkbox"
                                    *ngIf="obj.requires_approval" value="create_permission" name="create_permission">
                            </td>
                            <td><input class="form-check-input" [(ngModel)]="obj.update_permission" type="checkbox"
                                    *ngIf="obj.requires_approval" value="update_permission" name="update_permission">
                            </td>
                            <td><input class="form-check-input" [(ngModel)]="obj.delete_permission" type="checkbox"
                                    *ngIf="obj.requires_approval" value="delete_permission" name="delete_permission">
                            </td>
                            <td>
                                <button type="button" class="btn btn-primary" (click)="onClickUpdate(obj)"><i
                                        class="fa fa-pencil-square"
                                        aria-hidden="true"></i>{{field_listApprovalMatrix_button_update}}</button>
                                <button *ngIf="!obj.is_default" type="button" class="btn btn-danger"
                                    (click)="onClickDecline(obj)"><i class="fa fa-trash"
                                        aria-hidden="true"></i>{{field_listpprovalMatrix_button_reset}}</button>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="6">
                                <mfBootstrapPaginator [rowsOnPageSet]="[25,50,100]"></mfBootstrapPaginator>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>