<div class="card-header">
  <h2>Password Update Information</h2>
</div>
<div class="card-body">
  <table class={{COMMON_TABLE_OPTIONS}} [mfData]="filteredTableDataArr" #mf="mfDataTable" [mfRowsOnPage]="10">
    <thead>
      <tr>
        <th width="20%">
          <mfDefaultSorter by="device_id">Device ID </mfDefaultSorter>
        </th>
        <th width="20%">
          <mfDefaultSorter by="original_password">Original Password</mfDefaultSorter>
        </th>
        <th width="20%">
          <mfDefaultSorter by="last_password">Last Password</mfDefaultSorter>
        </th>
        <th width="20%">
          <mfDefaultSorter by="new_password">New Password</mfDefaultSorter>
        </th>
        <th width="20%">
          <mfDefaultSorter by="new_password_update_time">New Password Update Time</mfDefaultSorter>
        </th>
        <th width="20%">
          <mfDefaultSorter by="remarks">Remarks</mfDefaultSorter>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of mf.data; let i = index">
        <td> {{data.device_uid}} </td>
        <td> {{data.original_password}} </td>
        <td> {{data.last_password}} </td>
        <td> {{data.new_password}} </td>
        <td> {{data.new_password_update_time | date:'d/M/y h:mm:ss'}}</td>
        <td> {{data.remarks}} </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="1">
          <mfBootstrapPaginator [rowsOnPageSet]="[10,25,50]"></mfBootstrapPaginator>
        </td>
      </tr>
    </tfoot>
  </table>
</div>