<div class="card-header">
  <h2>Schedule Password</h2>
</div>
<div class="card-body">
  <form>
    <div class="form-group row">
      <label for="colFormLabelLg" class="col-sm-3 col-form-label col-form-label-lg"> Request for Password Change for Y
        days
      </label>
      <div class="col-sm-5">
        <input type="Request for password Change" class="form-control form-control-lg" name="password_change_days"
          [(ngModel)]="passwordScheduler.password_change_days">
      </div>
    </div>
    <div class="form-group row">
      <label for="colFormLabelLg" class="col-sm-3 col-form-label col-form-label-lg">Request for Password Verification
        for Y days</label>
      <div class="col-sm-5">
        <input type="Request for Password Verification" class="form-control form-control-lg"
          name="password_verification_days" [(ngModel)]="passwordScheduler.password_verification_days">
      </div>
    </div>
  </form>

  <div class="row">
    <div class="text-right col-7">
      <button type="update" class="btn btn-outline-primary" (click)="onClickUpdate()">Update</button></div>
    <div class="col-2">
      <button type="submit" class="btn btn-success">Cancel</button></div>

  </div>

</div>