<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <form class="form-horizontal form-material" name="form" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()">
                <div class="card-header">
                    <h2> {{field_editUserProfile_heading_update_user}} </h2>
                    <h6>{{field_editUserProfile_info}}</h6>
                </div>
                <div class="card-body">
                    <h6 class="card-subtitle"></h6>

                    <!-- <div class="form-group row">
                        <label for="password" class="col-2">{{field_password}} (*)</label>
                        <div class="col-10">
                            <input type="password" class="form-control" name="password"
                                [(ngModel)]="userDetail.password" #password="ngModel"
                                [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" required minlength="6" />
                            <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
                                <div *ngIf="password.errors.required || password.errors.minlength">
                                    {{field_password_error_message}}</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="retypePassword" class="col-2">{{field_retypePassword}} (*)</label>
                        <div class="col-10">
                            <input type="password" class="form-control" name="retypePassword"
                                [(ngModel)]="retypePasswordText" #retypePassword="ngModel"
                                [ngClass]="{ 'is-invalid': f.submitted && retypePassword.invalid }" required
                                minlength="6" />
                            <div *ngIf="f.submitted && retypePassword.invalid" class="invalid-feedback">
                                <div *ngIf="retypePassword.errors.required || retypePassword.errors.minlength">
                                    {{field_password_error_message}}</div>
                            </div>
                        </div>
                    </div> -->

                    <div class="form-group row">
                        <label for="email" class="col-2">{{field_email}} <span *ngIf="field_email_required"> (*)</span>
                        </label>
                        <div class="col-10">
                            <input type="text" class="form-control" name="email" required
                                pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" [(ngModel)]="userDetail.email"
                                #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }"
                                [required]="field_email_required" />
                            <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                                <div *ngIf="email.errors.required || email.errors.pattern">
                                    {{field_editUserProfile_email_error_message}}</div>
                                <!-- <div *ngIf="email.errors.pattern">Email format should be <small><b>joe@abc.com</b></small></div> -->
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="salutation" class="col-2">{{field_salutation}}<span
                                *ngIf="field_salutation_required"> (*)</span></label>
                        <div class="col-10">
                            <select class="form-control" name="salutation" [(ngModel)]="userDetail.salutation"
                                #salutation="ngModel" [ngClass]="{ 'is-invalid': f.submitted && salutation.invalid }"
                                [required]="field_salutation_required">
                                <option *ngFor="let obj of salutationFormElementArr" [value]="obj.data_value">
                                    {{obj.data_value}}
                                </option>
                            </select>

                            <div *ngIf="f.submitted && salutation.invalid" class="invalid-feedback">
                                <div *ngIf="salutation.errors.required">
                                    {{field_editUserProfile_salutation_error_message}}</div>
                            </div>

                        </div>
                    </div>


                    <div class="form-group row">
                        <label for="first_name" class="col-2">{{field_first_name}} <span
                                *ngIf="field_first_name_required"> (*)</span></label>
                        <div class="col-10">
                            <input type="text" class="form-control" name="first_name" pattern="[a-zA-Z]+"
                                [(ngModel)]="userDetail.first_name" #first_name="ngModel"
                                [ngClass]="{ 'is-invalid': f.submitted && first_name.invalid }"
                                [required]="field_first_name_required" />
                            <div *ngIf="f.submitted && first_name.invalid" class="invalid-feedback">
                                <div *ngIf="first_name.errors.required || first_name.errors.pattern">
                                    {{field_editUserProfile_first_name_error_message}}</div>
                                <!-- <div *ngIf="first_name.errors.pattern"> Only alphabets allowed</div> -->
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="middle_name" class="col-2">{{field_middle_name}} <span
                                *ngIf="field_middle_name_required"> (*)</span></label>
                        <div class="col-10">
                            <input type="text" class="form-control" name="middle_name" #middle_name="ngModel"
                                pattern="[a-zA-Z]+" [ngClass]="{ 'is-invalid': f.submitted && middle_name.invalid }"
                                [(ngModel)]="userDetail.middle_name" [required]="field_middle_name_required">
                            <div *ngIf="f.submitted && middle_name.invalid" class="invalid-feedback">
                                <div *ngIf="middle_name.errors.required || middle_name.errors.pattern">
                                    {{field_editUserProfile_middle_name_error_message}}</div>
                                <!-- <div *ngIf="middle_name.errors.pattern"> Only alphabets allowed</div> -->
                            </div>

                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="last_name" class="col-2">{{field_last_name}} <span *ngIf="field_last_name_required">
                                (*)</span></label>
                        <div class="col-10">
                            <input type="text" class="form-control" name="last_name" pattern="[a-zA-Z]+"
                                [(ngModel)]="userDetail.last_name" #last_name="ngModel"
                                [ngClass]="{ 'is-invalid': f.submitted && last_name.invalid }"
                                [required]="field_last_name_required" />
                            <div *ngIf="f.submitted && last_name.invalid" class="invalid-feedback">
                                <div *ngIf="last_name.errors.required || last_name.errors.pattern">
                                    {{field_editUserProfile_last_name_error_message}}</div>
                                <!-- <div *ngIf="last_name.errors.pattern"> Only alphabets allowed</div> -->
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="full_name" class="col-2">{{field_full_name}}<span *ngIf="field_full_name_required">
                                (*)</span></label>
                        <div class="col-10">
                            <input type="text" class="form-control" name="full_name"
                                pattern="^(?:[A-Za-z]+)(?:[A-Za-z _]*)$" [(ngModel)]="userDetail.full_name"
                                #full_name="ngModel" [ngClass]="{ 'is-invalid': f.submitted && full_name.invalid }"
                                [required]="field_full_name_required">
                            <div *ngIf="f.submitted && full_name.invalid" class="invalid-feedback">
                                <div *ngIf="full_name.errors.required">
                                    {{field_editUserProfile_full_name_error_message || full_name.errors.pattern}}</div>
                                <!-- <div *ngIf="full_name.errors.pattern"> Only alphabets allowed</div> -->
                            </div>

                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="facebook_id" class="col-2">{{field_facebook_id}}<span
                                *ngIf="field_facebook_id_required"> <span *ngIf="field_facebook_id_required">
                                    (*)</span></span></label>
                        <div class="col-10">
                            <input type="text" class="form-control" name="facebook_id" #facebook_id="ngModel"
                                [(ngModel)]="userDetail.facebook_id" pattern="[^\s]+"
                                [ngClass]="{ 'is-invalid': f.submitted && facebook_id.invalid }"
                                [required]="field_facebook_id_required">
                            <div *ngIf="f.submitted && facebook_id.invalid" class="invalid-feedback">
                                <div *ngIf="facebook_id.errors.required || facebook_id.errors.pattern">
                                    {{field_editUserProfile_facebook_id_error_message}}</div>
                            </div>

                        </div>

                    </div>
                    <div class="form-group row">
                        <label for="google_id" class="col-2">{{field_google_id}}<span *ngIf="field_google_id_required">
                                (*)</span></label>
                        <div class="col-10">
                            <input type="text" class="form-control" name="google_id" #google_id="ngModel"
                                pattern="[^\s]+" [(ngModel)]="userDetail.google_id"
                                [ngClass]="{ 'is-invalid': f.submitted && google_id.invalid }"
                                [required]="field_google_id_required">
                            <div *ngIf="f.submitted && google_id.invalid" class="invalid-feedback">
                                <div *ngIf="google_id.errors.required || google_id.errors.pattern">
                                    {{field_editUserProfile_google_id_error_message}}</div>
                            </div>

                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="phone" class="col-2">{{field_phone}} <span *ngIf="field_phone_required">
                                (*)</span></label>
                        <div class="col-10">
                            <input type="text" class="form-control" name="phone" #phone="ngModel" maxlength=""
                                minlength="" required pattern="^[0-9()\-+\s]+$" [(ngModel)]="userDetail.phone"
                                [ngClass]="{ 'is-invalid': f.submitted && phone.invalid }"
                                [required]="field_phone_required">
                            <div *ngIf="f.submitted && phone.invalid" class="invalid-feedback">
                                <div *ngIf="phone.errors.required || phone.errors.pattern">
                                    {{field_editUserProfile_phone_error_message}}</div>
                                <!-- <div *ngIf="phone.errors.maxlength">Phone number should be 10digit </div>
                                <div *ngIf="phone.errors.pattern">Phone number should be only numbers </div> -->

                            </div>

                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="date_of_birth" class="col-2">{{field_dob}}<span *ngIf="field_dob_required">
                                (*)</span></label>
                        <div class="col-10">
                            <input type="text" class="form-control" name="date_of_birth" #date_of_birth="ngModel"
                                required pattern="^(0[1-9]|1[012])[- /.](0[1-9]|[12][0-9]|3[01])[- /.](19|20)\d\d$"
                                [(ngModel)]="userDetail.date_of_birth"
                                [ngClass]="{ 'is-invalid': f.submitted && date_of_birth.invalid }"
                                [required]="field_dob_required">
                            <div *ngIf="f.submitted && date_of_birth.invalid" class="invalid-feedback">
                                <div *ngIf="date_of_birth.errors.required || date_of_birth.errors.pattern">
                                    {{field_editUserProfile_date_of_birth_error_message}}</div>
                                <!-- <div *ngIf="date_of_birth.errors.pattern"> DOB format should be (dd/mm/yyyy or mm/dd/yyyy)</div> -->

                            </div>

                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="profile_link" class="col-2">{{field_profile_link}}<span
                                *ngIf="field_profile_link_required"> (*)</span></label>
                        <div class="col-10">
                            <input type="text" class="form-control" name="profile_link" #profile_link="ngModel"
                                pattern="^\S.*$" [(ngModel)]="userDetail.profile_link"
                                [ngClass]="{ 'is-invalid': f.submitted && profile_link.invalid }"
                                [required]="field_profile_link_required">
                            <div *ngIf="f.submitted && profile_link.invalid" class="invalid-feedback">
                                <div *ngIf="profile_link.errors.required || profile_link.errors.pattern ">
                                    {{field_editUserProfile_profile_link_error_message}}</div>
                            </div>
                        </div>
                    </div>

                    <div class="container">
                        <div class="row">
                            <div class="col-2">
                                <button class="btn btn-primary">
                                    <span *ngIf="isComponentNew">{{field_button_save}}</span>
                                    <span *ngIf="!isComponentNew">{{field_button_update}}</span>

                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="col-2">
                                <button type="button" class="btn btn-danger"
                                    (click)="onClickReset()">{{field_button_reset}}
                                    <i class="fa fa-times" aria-hidden="true"></i></button>
                            </div>
                            <div class="col-2">
                                <button class="btn btn-secondary" type="button"
                                    appBackButton>{{field_button_cancel}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>