<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <form class="form-horizontal form-material" name="form" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()">
                <div class="card-header">
                    <h2 *ngIf="isComponentNew">Add New Permission</h2>
                    <h2 *ngIf="!isComponentNew">Update Permission </h2>
                    <h6>{{field_crudPermission_info}}</h6>
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <label for="permission_name" class="col-2">{{field_permission_name}} <span
                                *ngIf="field_permission_name_required"> (*) </span></label>
                        <div class="col-10">
                            <input type="text" class="form-control" name="permission_name"
                                [(ngModel)]="permissionDetail.permission_name" #permission_name="ngModel" pattern="^(?:[A-Za-z0-9]+)(?:[A-Za-z0-9 _]*)$" 
                                [disabled]="!isComponentNew"
                                [ngClass]="{ 'is-invalid': f.submitted && permission_name.invalid }"
                                [required]="field_permission_name_required" />
                            <div *ngIf="f.submitted && permission_name.invalid && (permission_name.dirty || permission_name.touched)"
                                class="invalid-feedback">
                                <div *ngIf="permission_name.errors.required || permission_name.errors.pattern">{{field_crudPermission_permission_name_error_message}}</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="details" class="col-2">{{field_details}}<span *ngIf="field_permission_name_required">
                                (*) </span></label>
                        <div class="col-10">
                            <input type="text" class="form-control" name="details" #details="ngModel"  pattern="^\S.*$"
                            [(ngModel)]="permissionDetail.details" [required]="field_details_required" 
                            [ngClass]="{ 'is-invalid': f.submitted && details.invalid }"  >
                            <div *ngIf="f.submitted && details.invalid" class="invalid-feedback">
                                <div *ngIf="details.errors.required || details.errors.pattern">{{field_crudPermission_details_error_message}}</div>    
                            </div>
                        </div>
                    </div>
    

                <div *ngIf="!permissionDetail.is_default" class="form-group form-check">
                    <input type="checkbox" name="can_be_deleted" [(ngModel)]="permissionDetail.can_be_deleted" />
                    <label for="can_be_deleted" class="col-2">{{field_can_be_deleted}} ?</label>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-2">
                            <button  class="btn btn-primary">
                                <span *ngIf="isComponentNew">{{field_button_save}}</span>
                                <span *ngIf="!isComponentNew">{{field_button_update}}</span>
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </button>
                        </div>
                        <div class="col-2">
                            <button type="button" class="btn btn-danger" (click)="onClickReset()">{{field_button_reset}}
                                <i class="fa fa-times" aria-hidden="true"></i></button>
                        </div>
                        <div class="col-2">
                            <button class="btn btn-secondary" type="button"
                            (click)="onCancel()">{{field_button_cancel}}</button>
                        </div>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>