<form>
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <form class="form-horizontal form-material" name="form" #f="ngForm" (ngSubmit)="f.form.valid && onClickSave()">
          <div class="card-header">
            <h2 *ngIf="isComponentNew">Add New Rule</h2>
            <h2 *ngIf="!isComponentNew">Update Rule </h2>
            <h6>{{field_crudRule_info}}</h6>
          </div>
          <div class="card-body">
            <div class="container">
              <div class="form-group row">
                <label for="rule_name" class="col-2">{{field_rule_name}}<span *ngIf="field_rule_name_required">
                    (*)</span></label>
                <div class="col-10">
                  <input type="text" class="form-control" name="rule_name" #rule_name="ngModel"
                    pattern="^(?:[A-Za-z0-9]+)(?:[A-Za-z0-9 _]*)$" [(ngModel)]="ruleDetail.rule_name"
                    [required]="field_rule_name_required"
                    [ngClass]="{ 'is-invalid': f.submitted && rule_name.invalid }">
                  <div *ngIf="f.submitted && rule_name.invalid" class="invalid-feedback">
                    <div *ngIf="rule_name.errors.required || rule_name.errors.pattern">
                      {{field_crudRule_rule_name_error_message}}</div>
                  </div>
                </div>
              </div>

              <div class="form-group row">
                <label for="details" class="col-2">{{field_details}}<span *ngIf="field_details_required">
                    (*)</span></label>
                <div class="col-10">
                  <input type="text" class="form-control" name="details" #details="ngModel" pattern="^\S.*$"
                    [(ngModel)]="ruleDetail.details" [required]="field_details_required"
                    [ngClass]="{ 'is-invalid': f.submitted && details.invalid }">
                  <div *ngIf="f.submitted && details.invalid" class="invalid-feedback">
                    <div *ngIf="details.errors.required || details.errors.pattern">
                      {{field_crudRule_details_error_message}}</div>
                  </div>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="inline-radios">{{field_crudRule_make_the_rule}}</label>
                <div class="col-md-9 col-form-label">
                  <div class="form-check form-check-inline mr-1" id="inline-radios">
                    <input class="form-check-input" type="radio" name="inline-radios" id="inlineRadio1"
                      [(ngModel)]="ruleDetail.rule_type" [value]="1">
                    <label class="form-check-label" for="inlineRadio1">{{field_crudRule_role_specific}}</label>
                  </div>
                  <div class="form-check form-check-inline mr-1">
                    <input class="form-check-input" type="radio" name="inline-radios" id="inlineRadio2"
                      [(ngModel)]="ruleDetail.rule_type" [value]="2">
                    <label class="form-check-label" for="inlineRadio2">{{field_crudRule_user_specific}}</label>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-10 col-sm-5 col-md-3" *ngIf="ruleDetail.rule_type == 1">
                  <div class="form-group">
                    <label for="roles">
                      <h5>{{field_role_id_arr}}<span *ngIf="field_role_id_arr_required"> (*)</span></h5>
                    </label>
                    <select size="6" class="form-control" name="role_id_arr" [(ngModel)]="ruleDetail.role_id"
                      (change)="fillUpEntitiesForRole($event.target.value)">
                      <option *ngFor="let obj of roleDetailArr" [value]="obj.role_id">{{obj.role_name}}
                      </option>
                    </select>
                  </div>
                </div>

                <div class="col-xs-10 col-sm-5 col-md-3" *ngIf="ruleDetail.rule_type == 2">
                  <div class="form-group">
                    <label>
                      <h5>{{field_associated_username}}<span *ngIf="field_associated_username_required"> (*)</span></h5>
                    </label>
                    <select size="6" class="form-control" name="associated_username"
                      [(ngModel)]="ruleDetail.associated_username" [required]="field_associated_username_required"
                      (change)="fillUpEntitiesForUser($event.target.value)">
                      <option *ngFor="let obj of userDetailArr" [value]="obj.username">
                        {{obj.username}}</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-xs-10 col-sm-5 col-md-3">
                  <div class="form-group">
                    <label>
                      <h5>{{field_entity_id_arr}}<span *ngIf="field_entity_id_arr_required"> (*)</span></h5>
                    </label>
                    <select size="6" class="form-control" name="currentEntityId" [(ngModel)]="currentEntityId"
                      [required]="field_entity_id_arr_required" (change)="fillUpPermissions()">
                      <option *ngFor="let obj of entityDetailArr" [value]="obj.entity_id">
                        {{obj.entity_name}}</option>
                    </select>
                  </div>
                </div>

                <div class="col-xs-10 col-sm-5 col-md-3">
                  <div class="form-group">
                    <label for="permissions">
                      <h5>{{field_permission_id_arr}}<span *ngIf="field_permission_id_arr_required"> (*)</span></h5>
                    </label>
                    <select multiple class="form-control" name="currentPermissionIdArr"
                      [(ngModel)]="currentPermissionIdArr" [required]="field_permission_id_arr_required"
                      (change)="onSelectedPermission()">
                      <option *ngFor="let obj of permissionDetailArr" [value]="obj.permission_id">
                        {{obj.permission_name}}
                      </option>
                    </select>
                  </div>
                </div>

              </div>
            </div>


            <div *ngIf="!ruleDetail.is_default" class="form-group form-check">
              <input type="checkbox" name="can_be_deleted" [(ngModel)]="ruleDetail.can_be_deleted" />
              <label for="can_be_deleted" class="col-2">{{field_crudRule_can_be_deleted}} ?</label>
            </div>

            <div class="container">
              <div class="row">
                <div class="col-2">
                  <button class="btn btn-primary">
                    <span *ngIf="isComponentNew">{{field_button_save}}</span>
                    <span *ngIf="!isComponentNew">{{field_button_update}}</span>

                    <i class="fa fa-pencil" aria-hidden="true"></i>
                  </button>
                </div>
                <div class="col-2">
                  <button type="button" class="btn btn-danger" (click)="onClickReset()">{{field_button_reset}}
                    <i class="fa fa-times" aria-hidden="true"></i></button>
                </div>
                <div class="col-2">
                  <button class="btn btn-secondary" type="button" (click)="onCancel()">{{field_button_cancel}}</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</form>