<div id="pcoded" (window:resize)="onResize($event)" class="pcoded iscollapsed" theme-layout="vertical"
  vertical-placement="left" vertical-layout="wide" [attr.pcoded-device-type]="deviceType"
  [attr.vertical-nav-type]="verticalNavType" [attr.vertical-effect]="verticalEffect" vnavigation-view="view1">
  <div class="pcoded-overlay-box"></div>
  <div class="pcoded-container navbar-wrapper">
    <nav class="navbar header-navbar pcoded-header" header-theme="theme4" pcoded-header-position="fixed">
      <div class="navbar-wrapper">
        <div class="navbar-logo" navbar-theme="theme4">
          <a class="mobile-menu" id="mobile-collapse" href="javascript:;" (click)="toggleOpened()"
            [exclude]="'#main_navbar'" (clickOutside)="onClickedOutside($event)">
            <i class="ti-menu"></i>
          </a>
          <a [routerLink]="['/']">
            <img class="img-fluid" src="assets/images/site-logo.png" alt="Theme-Logo" />
          </a>
          <a (click)="onMobileMenu()" class="mobile-options">
            <i class="ti-more"></i>
          </a>
        </div>

        <div class="navbar-container">
          <div>
            <ul class="nav-left">
              <li>
                <div class="sidebar_toggle"><a href="javascript:;" (click)="toggleOpened()">
                    <i class="ti-menu f-18"></i></a></div>
              </li>
              <!--   <li>
                <a href="javascript:;" appToggleFullscreen>
                  <i class="ti-fullscreen"></i>
                </a>
              </li> -->
              <!--  <li class="mega-menu-top">
                <a href="javascript:;">
                  Mega
                  <i class="ti-angle-down"></i>
                </a>
                </li> -->
            </ul>

            <ul [@mobileMenuTop]="isCollapsedMobile" class="nav-right" [ngClass]="isCollapsedMobile">

              <!--- <li class="header-notification lng-dropdown">
                <a href="javascript:;" id="dropdown-active-item">
                  <i class="flag-icon flag-icon-gb m-r-5"></i> English
                </a>
                <ul class="show-notification">
                  <li>
                    <a href="javascript:;" data-lng="en">
                      <i class="flag-icon flag-icon-gb m-r-5"></i> English
                    </a>
                  </li>
                  <li>
                    <a href="javascript:;" data-lng="es">
                      <i class="flag-icon flag-icon-es m-r-5"></i> Spanish
                    </a>
                  </li>
                  <li>
                    <a href="javascript:;" data-lng="pt">
                      <i class="flag-icon flag-icon-pt m-r-5"></i> Portuguese
                    </a>
                  </li>
                  <li>
                    <a href="javascript:;" data-lng="fr">
                      <i class="flag-icon flag-icon-fr m-r-5"></i> French
                    </a>
                  </li>
                </ul>
              </li>--->

              <!--- <li class="header-notification">
                <a href="javascript:;" (click)="toggleChat()" class="displayChatbox">
                  <i class="ti-comments"></i>
                  <span class="badge">9</span>
                </a></li>-->


              <li class="user-profile header-notification">
                <!--  <a [routerLink]="['/']" (click)="onClickLogout()">
                  <i class="fa fa-sign-out" aria-hidden="true"></i> Logout ({{displayName}})
                </a>
                <a [routerLink]="['/']">
                  <span>{{displayName}}</span>
                  <i class="ti-angle-down"></i>
                </a> -->

                <button type="button" class="btn btn-primary" [routerLink]="['/']" (click)="onClickLogout()"> Logout
                  ({{displayUserType}})
                  <i class="fa fa-sign-out" aria-hidden="true"></i>
                </button>

                <label id="admin">{{displayUsername}}</label>

                <!-- <ul class="show-notification profile-notification">
                  <li>
                    <a [routerLink]="['/crm-contact']">
                      <i class="ti-settings"></i> Settings
                    </a>
                  </li>
                  <li>
                    <a [routerLink]="['/user/profile']">
                      <i class="ti-user"></i> Profile
                    </a>
                  </li>
                  <li>
                    <a [routerLink]="['/advance/notifications']">
                      <i class="ti-email"></i> My Messages
                    </a>
                  </li>
                  <li>
                    <a [routerLink]="['/authentication/lock-screen']" target="_blank">
                      <i class="ti-lock"></i> Lock Screen
                    </a>
                  </li>
                  <li>
                    <a [routerLink]="['/']" (click)="onClickLogout()">
                      <i class="ti-layout-sidebar-left"></i> Logout
                    </a>
                  </li>
                </ul> -->
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>

    <!-- rightbar chat start -->
    <div [@slideInOut]="chatToggle" id="sidebar" class="users p-chat-user">
      <div class="had-container">
        <div class="card card_main p-fixed users-main">
          <div class="user-box">
            <div class="card-body">
              <div class="right-icon-control">
                <input type="text" class="form-control search-text" placeholder="Search Friend" id="search-friends"
                  #searchFriends (keyup)="searchFriendList($event)">
                <div class="form-icon">
                  <i class="icofont icofont-search"></i>
                </div>
              </div>

            </div>
            <div class="main-friend-list">
              <perfect-scrollbar [style.max-width]="'100%'" [style.max-height]="'calc(100vh - 135px)'"
                [config]="config">
                <div (click)="toggleChatInner()" class="media userlist-box" data-id="1" data-status="online"
                  data-username="Josephin Doe" data-toggle="tooltip" data-placement="left" title="Josephin Doe">
                  <a class="media-left" href="javascript:;">
                    <img class="media-object img-circle" src="assets/images/avatar-1.png"
                      alt="Generic placeholder image">
                    <div class="live-status bg-success"></div>
                  </a>
                  <div class="media-body">
                    <div class="f-13 chat-header">Josephin Doe</div>
                  </div>
                </div>
                <div (click)="toggleChatInner()" class="media userlist-box" data-id="2" data-status="online"
                  data-username="Lary Doe" data-toggle="tooltip" data-placement="left" title="Lary Doe">
                  <a class="media-left" href="javascript:;">
                    <img class="media-object img-circle" src="assets/images/task/task-u1.jpg"
                      alt="Generic placeholder image">
                    <div class="live-status bg-success"></div>
                  </a>
                  <div class="media-body">
                    <div class="f-13 chat-header">Lary Doe</div>
                  </div>
                </div>
                <div (click)="toggleChatInner()" class="media userlist-box" data-id="3" data-status="online"
                  data-username="Alice" data-toggle="tooltip" data-placement="left" title="Alice">
                  <a class="media-left" href="javascript:;">
                    <img class="media-object img-circle" src="assets/images/avatar-2.png"
                      alt="Generic placeholder image">
                    <div class="live-status bg-success"></div>
                  </a>
                  <div class="media-body">
                    <div class="f-13 chat-header">Alice</div>
                  </div>
                </div>
                <div (click)="toggleChatInner()" class="media userlist-box" data-id="4" data-status="online"
                  data-username="Alia" data-toggle="tooltip" data-placement="left" title="Alia">
                  <a class="media-left" href="javascript:;">
                    <img class="media-object img-circle" src="assets/images/task/task-u2.jpg"
                      alt="Generic placeholder image">
                    <div class="live-status bg-success"></div>
                  </a>
                  <div class="media-body">
                    <div class="f-13 chat-header">Alia</div>
                  </div>
                </div>
                <div (click)="toggleChatInner()" class="media userlist-box" data-id="5" data-status="online"
                  data-username="Suzen" data-toggle="tooltip" data-placement="left" title="Suzen">
                  <a class="media-left" href="javascript:;">
                    <img class="media-object img-circle" src="assets/images/task/task-u3.jpg"
                      alt="Generic placeholder image">
                    <div class="live-status bg-success"></div>
                  </a>
                  <div class="media-body">
                    <div class="f-13 chat-header">Suzen</div>
                  </div>
                </div>
                <div (click)="toggleChatInner()" class="media userlist-box" data-id="6" data-status="offline"
                  data-username="Michael Scofield" data-toggle="tooltip" data-placement="left" title="Michael Scofield">
                  <a class="media-left" href="javascript:;">
                    <img class="media-object img-circle" src="assets/images/avatar-3.png"
                      alt="Generic placeholder image">
                    <div class="live-status bg-danger"></div>
                  </a>
                  <div class="media-body">
                    <div class="f-13 chat-header">Michael Scofield</div>
                  </div>
                </div>
                <div (click)="toggleChatInner()" class="media userlist-box" data-id="7" data-status="online"
                  data-username="Irina Shayk" data-toggle="tooltip" data-placement="left" title="Irina Shayk">
                  <a class="media-left" href="javascript:;">
                    <img class="media-object img-circle" src="assets/images/avatar-4.png"
                      alt="Generic placeholder image">
                    <div class="live-status bg-success"></div>
                  </a>
                  <div class="media-body">
                    <div class="f-13 chat-header">Irina Shayk</div>
                  </div>
                </div>
                <div (click)="toggleChatInner()" class="media userlist-box" data-id="8" data-status="offline"
                  data-username="Sara Tancredi" data-toggle="tooltip" data-placement="left" title="Sara Tancredi">
                  <a class="media-left" href="javascript:;">
                    <img class="media-object img-circle" src="assets/images/avatar-5.png"
                      alt="Generic placeholder image">
                    <div class="live-status bg-danger"></div>
                  </a>
                  <div class="media-body">
                    <div class="f-13 chat-header">Sara Tancredi</div>
                  </div>
                </div>
                <div (click)="toggleChatInner()" class="media userlist-box" data-id="9" data-status="online"
                  data-username="Samon" data-toggle="tooltip" data-placement="left" title="Samon">
                  <a class="media-left" href="javascript:;">
                    <img class="media-object img-circle" src="assets/images/avatar-1.png"
                      alt="Generic placeholder image">
                    <div class="live-status bg-success"></div>
                  </a>
                  <div class="media-body">
                    <div class="f-13 chat-header">Samon</div>
                  </div>
                </div>
                <div (click)="toggleChatInner()" class="media userlist-box" data-id="10" data-status="online"
                  data-username="Daizy Mendize" data-toggle="tooltip" data-placement="left" title="Daizy Mendize">
                  <a class="media-left" href="javascript:;">
                    <img class="media-object img-circle" src="assets/images/task/task-u3.jpg"
                      alt="Generic placeholder image">
                    <div class="live-status bg-success"></div>
                  </a>
                  <div class="media-body">
                    <div class="f-13 chat-header">Daizy Mendize</div>
                  </div>
                </div>
                <div (click)="toggleChatInner()" class="media userlist-box" data-id="11" data-status="offline"
                  data-username="Loren Scofield" data-toggle="tooltip" data-placement="left" title="Loren Scofield">
                  <a class="media-left" href="javascript:;">
                    <img class="media-object img-circle" src="assets/images/avatar-3.png"
                      alt="Generic placeholder image">
                    <div class="live-status bg-danger"></div>
                  </a>
                  <div class="media-body">
                    <div class="f-13 chat-header">Loren Scofield</div>
                  </div>
                </div>
                <div (click)="toggleChatInner()" class="media userlist-box" data-id="12" data-status="online"
                  data-username="Shayk" data-toggle="tooltip" data-placement="left" title="Shayk">
                  <a class="media-left" href="javascript:;">
                    <img class="media-object img-circle" src="assets/images/avatar-4.png"
                      alt="Generic placeholder image">
                    <div class="live-status bg-success"></div>
                  </a>
                  <div class="media-body">
                    <div class="f-13 chat-header">Shayk</div>
                  </div>
                </div>
                <div (click)="toggleChatInner()" class="media userlist-box" data-id="13" data-status="offline"
                  data-username="Sara" data-toggle="tooltip" data-placement="left" title="Sara">
                  <a class="media-left" href="javascript:;">
                    <img class="media-object img-circle" src="assets/images/task/task-u3.jpg"
                      alt="Generic placeholder image">
                    <div class="live-status bg-danger"></div>
                  </a>
                  <div class="media-body">
                    <div class="f-13 chat-header">Sara</div>
                  </div>
                </div>
                <div (click)="toggleChatInner()" class="media userlist-box" data-id="14" data-status="online"
                  data-username="Doe" data-toggle="tooltip" data-placement="left" title="Doe">
                  <a class="media-left" href="javascript:;">
                    <img class="media-object img-circle" src="assets/images/avatar-1.png"
                      alt="Generic placeholder image">
                    <div class="live-status bg-success"></div>
                  </a>
                  <div class="media-body">
                    <div class="f-13 chat-header">Doe</div>
                  </div>
                </div>
                <div (click)="toggleChatInner()" class="media userlist-box" data-id="15" data-status="online"
                  data-username="Lary" data-toggle="tooltip" data-placement="left" title="Lary">
                  <a class="media-left" href="javascript:;">
                    <img class="media-object img-circle" src="assets/images/task/task-u1.jpg"
                      alt="Generic placeholder image">
                    <div class="live-status bg-success"></div>
                  </a>
                  <div class="media-body">
                    <div class="f-13 chat-header">Lary</div>
                  </div>
                </div>
                <div (click)="toggleChatInner()" class="media userlist-box" data-id="16" data-status="online"
                  data-username="Josephin Doe" data-toggle="tooltip" data-placement="left" title="Josephin Doe">
                  <a class="media-left" href="javascript:;">
                    <img class="media-object img-circle" src="assets/images/avatar-1.png"
                      alt="Generic placeholder image">
                    <div class="live-status bg-success"></div>
                  </a>
                  <div class="media-body">
                    <div class="f-13 chat-header">Roni Sommerfield</div>
                  </div>
                </div>
                <div (click)="toggleChatInner()" class="media userlist-box" data-id="17" data-status="online"
                  data-username="Lary Doe" data-toggle="tooltip" data-placement="left" title="Lary Doe">
                  <a class="media-left" href="javascript:;">
                    <img class="media-object img-circle" src="assets/images/task/task-u1.jpg"
                      alt="Generic placeholder image">
                    <div class="live-status bg-success"></div>
                  </a>
                  <div class="media-body">
                    <div class="f-13 chat-header">Mickey Amavisca</div>
                  </div>
                </div>
                <div (click)="toggleChatInner()" class="media userlist-box" data-id="18" data-status="online"
                  data-username="Alice" data-toggle="tooltip" data-placement="left" title="Alice">
                  <a class="media-left" href="javascript:;">
                    <img class="media-object img-circle" src="assets/images/avatar-2.png"
                      alt="Generic placeholder image">
                    <div class="live-status bg-success"></div>
                  </a>
                  <div class="media-body">
                    <div class="f-13 chat-header">Dorethea Hennigan</div>
                  </div>
                </div>
                <div (click)="toggleChatInner()" class="media userlist-box" data-id="19" data-status="online"
                  data-username="Alia" data-toggle="tooltip" data-placement="left" title="Alia">
                  <a class="media-left" href="javascript:;">
                    <img class="media-object img-circle" src="assets/images/task/task-u2.jpg"
                      alt="Generic placeholder image">
                    <div class="live-status bg-success"></div>
                  </a>
                  <div class="media-body">
                    <div class="f-13 chat-header">Marisha Haughey</div>
                  </div>
                </div>
                <div (click)="toggleChatInner()" class="media userlist-box" data-id="20" data-status="online"
                  data-username="Suzen" data-toggle="tooltip" data-placement="left" title="Suzen">
                  <a class="media-left" href="javascript:;">
                    <img class="media-object img-circle" src="assets/images/task/task-u3.jpg"
                      alt="Generic placeholder image">
                    <div class="live-status bg-success"></div>
                  </a>
                  <div class="media-body">
                    <div class="f-13 chat-header">Justin Czajkowski</div>
                  </div>
                </div>
                <div (click)="toggleChatInner()" class="media userlist-box" data-id="21" data-status="offline"
                  data-username="Michael Scofield" data-toggle="tooltip" data-placement="left" title="Michael Scofield">
                  <a class="media-left" href="javascript:;">
                    <img class="media-object img-circle" src="assets/images/avatar-3.png"
                      alt="Generic placeholder image">
                    <div class="live-status bg-danger"></div>
                  </a>
                  <div class="media-body">
                    <div class="f-13 chat-header">Reyes Hodges</div>
                  </div>
                </div>
                <div (click)="toggleChatInner()" class="media userlist-box" data-id="22" data-status="online"
                  data-username="Irina Shayk" data-toggle="tooltip" data-placement="left" title="Irina Shayk">
                  <a class="media-left" href="javascript:;">
                    <img class="media-object img-circle" src="assets/images/avatar-4.png"
                      alt="Generic placeholder image">
                    <div class="live-status bg-success"></div>
                  </a>
                  <div class="media-body">
                    <div class="f-13 chat-header">Vicky Hadley</div>
                  </div>
                </div>
                <div (click)="toggleChatInner()" class="media userlist-box" data-id="23" data-status="offline"
                  data-username="Sara Tancredi" data-toggle="tooltip" data-placement="left" title="Sara Tancredi">
                  <a class="media-left" href="javascript:;">
                    <img class="media-object img-circle" src="assets/images/avatar-5.png"
                      alt="Generic placeholder image">
                    <div class="live-status bg-danger"></div>
                  </a>
                  <div class="media-body">
                    <div class="f-13 chat-header">Lezlie Baumert</div>
                  </div>
                </div>
                <div (click)="toggleChatInner()" class="media userlist-box" data-id="24" data-status="online"
                  data-username="Samon" data-toggle="tooltip" data-placement="left" title="Samon">
                  <a class="media-left" href="javascript:;">
                    <img class="media-object img-circle" src="assets/images/avatar-1.png"
                      alt="Generic placeholder image">
                    <div class="live-status bg-success"></div>
                  </a>
                  <div class="media-body">
                    <div class="f-13 chat-header">Otha Vanorden</div>
                  </div>
                </div>
                <div (click)="toggleChatInner()" class="media userlist-box" data-id="25" data-status="online"
                  data-username="Daizy Mendize" data-toggle="tooltip" data-placement="left" title="Daizy Mendize">
                  <a class="media-left" href="javascript:;">
                    <img class="media-object img-circle" src="assets/images/task/task-u3.jpg"
                      alt="Generic placeholder image">
                    <div class="live-status bg-success"></div>
                  </a>
                  <div class="media-body">
                    <div class="f-13 chat-header">Glayds Inabinet</div>
                  </div>
                </div>
                <div (click)="toggleChatInner()" class="media userlist-box" data-id="26" data-status="offline"
                  data-username="Loren Scofield" data-toggle="tooltip" data-placement="left" title="Loren Scofield">
                  <a class="media-left" href="javascript:;">
                    <img class="media-object img-circle" src="assets/images/avatar-3.png"
                      alt="Generic placeholder image">
                    <div class="live-status bg-danger"></div>
                  </a>
                  <div class="media-body">
                    <div class="f-13 chat-header">Hang Owsley</div>
                  </div>
                </div>
                <div (click)="toggleChatInner()" class="media userlist-box" data-id="27" data-status="online"
                  data-username="Shayk" data-toggle="tooltip" data-placement="left" title="Shayk">
                  <a class="media-left" href="javascript:;">
                    <img class="media-object img-circle" src="assets/images/avatar-4.png"
                      alt="Generic placeholder image">
                    <div class="live-status bg-success"></div>
                  </a>
                  <div class="media-body">
                    <div class="f-13 chat-header">Carlotta Buttner</div>
                  </div>
                </div>
                <div (click)="toggleChatInner()" class="media userlist-box" data-id="28" data-status="offline"
                  data-username="Sara" data-toggle="tooltip" data-placement="left" title="Sara">
                  <a class="media-left" href="javascript:;">
                    <img class="media-object img-circle" src="assets/images/task/task-u3.jpg"
                      alt="Generic placeholder image">
                    <div class="live-status bg-danger"></div>
                  </a>
                  <div class="media-body">
                    <div class="f-13 chat-header">Randa Vanloan</div>
                  </div>
                </div>
                <div (click)="toggleChatInner()" class="media userlist-box" data-id="29" data-status="online"
                  data-username="Doe" data-toggle="tooltip" data-placement="left" title="Doe">
                  <a class="media-left" href="javascript:;">
                    <img class="media-object img-circle" src="assets/images/avatar-1.png"
                      alt="Generic placeholder image">
                    <div class="live-status bg-success"></div>
                  </a>
                  <div class="media-body">
                    <div class="f-13 chat-header">Elana Fulk</div>
                  </div>
                </div>
                <div (click)="toggleChatInner()" class="media userlist-box" data-id="30" data-status="online"
                  data-username="Lary" data-toggle="tooltip" data-placement="left" title="Lary">
                  <a class="media-left" href="javascript:;">
                    <img class="media-object img-circle" src="assets/images/task/task-u1.jpg"
                      alt="Generic placeholder image">
                    <div class="live-status bg-success"></div>
                  </a>
                  <div class="media-body">
                    <div class="f-13 chat-header">Amos Spearman</div>
                  </div>
                </div>
              </perfect-scrollbar>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- rightbar inner chat start-->
    <div [@slideOnOff]="chatInnerToggle" class="card card_main showChat_inner">
      <div class="media chat-inner-header">
        <a class="back_chatBox" (click)="toggleChatInner()">
          <i class="icofont icofont-rounded-left"></i> Josephin Doe
        </a>
      </div>
      <perfect-scrollbar [style.max-width]="'100%'" [style.max-height]="'calc(100vh - 230px)'" [config]="config">
        <div class="media chat-messages">
          <a class="media-left photo-table" href="javascript:;">
            <img class="media-object img-circle m-t-5" src="assets/images/avatar-1.png" alt="Generic placeholder image">
          </a>
          <div class="media-body chat-menu-content">
            <div class="">
              <p class="chat-cont">I'm just looking around. Will you tell me something about yourself?</p>
              <p class="chat-time">8:20 a.m.</p>
            </div>
          </div>
        </div>
        <div class="media chat-messages">
          <div class="media-body chat-menu-reply">
            <div class="">
              <p class="chat-cont">I'm just looking around. Will you tell me something about yourself?</p>
              <p class="chat-time">8:20 a.m.</p>
            </div>
          </div>
          <div class="media-right photo-table">
            <a href="javascript:;">
              <img class="media-object img-circle m-t-5" src="assets/images/avatar-2.png"
                alt="Generic placeholder image">
            </a>
          </div>
        </div>
      </perfect-scrollbar>
      <div class="chat-reply-box p-b-20">
        <div class="right-icon-control">
          <input type="text" class="form-control search-text" placeholder="Share Your Thoughts">
          <div class="form-icon">
            <i class="icofont icofont-paper-plane"></i>
          </div>
        </div>
      </div>
    </div>
    <!-- rightbar inner chat end-->
    <!-- rightbar chat end-->
    <div class="pcoded-main-container" style="margin-top: 56px;">
      <div class="pcoded-wrapper">
        <nav id="main_navbar" class=" pcoded-navbar" (clickOutside)="onClickedOutside($event)"
          [exclude]="'#mobile-collapse'" navbar-theme="themelight1" active-item-theme="theme4" sub-item-theme="theme2"
          active-item-style="style0" pcoded-navbar-position="fixed" pcoded-header-position="fixed">
          <div class="sidebar_toggle"><a href="javascript:;"><i class="icon-close icons"></i></a></div>
          <div class="pcoded-inner-navbar main-menu" appAccordion>
            <perfect-scrollbar [style.max-width]="'100%'" [style.max-height]="'calc(100vh - 56px)'" [config]="config">
              <div *ngIf="menuItems.isLocalComplete()">
                <div *ngFor="let asideItems of menuItems.getAll()">
                  <!-- <div class="pcoded-navigatio-lavel" menu-title-theme="theme5">{{asideItems.label}}</div> -->
                  <ul class="pcoded-item pcoded-left-item" item-border="none" item-border-style="solid"
                    subitem-border="solid" *ngFor="let asideItem of asideItems.main" appAccordionLink
                    group="{{asideItem.state}}">
                    <li [routerLinkActive]="['active']" *ngIf="asideItem.type === 'external'" appAccordionLink
                      group="{{asideItem.state}}">
                      <a href="{{asideItem.external}}" target="{{asideItem.target ? '_blank' : '_self'}}"
                        appAccordionToggle>
                        <span class="pcoded-micon"><i class="{{ asideItem.icon }}"></i></span>
                        <span class="pcoded-mtext">{{ asideItem.name }}</span>
                        <span *ngFor="let asideBadge of asideItem.badge"
                          class="pcoded-badge label label-{{ asideBadge.type }}">{{asideBadge.value}}</span>
                        <span class="pcoded-mcaret"></span>
                      </a>
                    </li>

                    <li [routerLinkActive]="['active']" *ngIf="asideItem.type === 'link'" appAccordionLink
                      group="{{asideItem.state}}">
                      <a [routerLink]="['/', asideItem.main_state, asideItem.state]"
                        target="{{asideItem.target ? '_blank' : '_self'}}" appAccordionToggle
                        *ngIf="asideItem.main_state; else: mainContent">
                        <span class="pcoded-micon"><i class="{{ asideItem.icon }}"></i></span>
                        <span class="pcoded-mtext">{{ asideItem.name }}</span>
                        <span *ngFor="let asideBadge of asideItem.badge"
                          class="pcoded-badge label label-{{ asideBadge.type }}">{{asideBadge.value}}</span>
                        <span class="pcoded-mcaret"></span>
                      </a>
                      <ng-template #mainContent>
                        <a [routerLink]="['/', asideItem.state]" target="{{asideItem.target ? '_blank' : '_self'}}"
                          appAccordionToggle>
                          <span class="pcoded-micon"><i class="{{ asideItem.icon }}"></i></span>
                          <span class="pcoded-mtext">{{ asideItem.name }}</span>
                          <span *ngFor="let asideBadge of asideItem.badge"
                            class="pcoded-badge label label-{{ asideBadge.type }}">{{asideBadge.value}}</span>
                          <span class="pcoded-mcaret"></span>
                        </a>
                      </ng-template>
                    </li>
                    <li [routerLinkActive]="['active']" *ngIf="asideItem.type === 'sub'" class="pcoded-hasmenu"
                      dropdown-icon="style1" subitem-icon="style6" appAccordionLink group="{{asideItem.state}}">
                      <a [routerLinkActive]="['active']" href="javascript:;" appAccordionToggle>
                        <span class="pcoded-micon"><i class="{{ asideItem.icon }}"></i></span>
                        <span class="pcoded-mtext">{{ asideItem.name }}</span>
                        <span *ngFor="let asideBadge of asideItem.badge"
                          class="pcoded-badge label label-{{ asideBadge.type }}">{{asideBadge.value}}</span>
                        <span class="pcoded-mcaret"></span>
                      </a>
                      <ul class="pcoded-submenu">
                        <ng-template ngFor let-asideChildren [ngForOf]="asideItem.children">
                          <li [routerLinkActive]="['active']" *ngIf="asideChildren.type !== 'sub'">
                            <a [routerLink]="['/', asideItem.state, asideChildren.state]"
                              target="{{asideChildren.target ? '_blank' : '_self'}}">
                              <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                              <span class="pcoded-mtext">{{ asideChildren.name }} </span>
                              <span *ngFor="let asideChildrenBadge of asideChildren.badge"
                                class="pcoded-badge label label-{{ asideChildrenBadge.type }}">{{asideChildrenBadge.value}}</span>
                              <span class="pcoded-mcaret"></span>
                            </a>
                          </li>

                          <li [routerLinkActive]="['active']" class="pcoded-hasmenu" dropdown-icon="style1"
                            subitem-icon="style6" *ngIf="asideChildren.type === 'sub'" appAccordionLink
                            group="sub-toggled">
                            <a href="javascript:;" appAccordionToggle>
                              <span class="pcoded-micon"><i class="ti-direction-alt"></i></span>
                              <span class="pcoded-mtext">{{ asideChildren.name }}</span>
                              <span *ngFor="let asideChildrenBadge of asideChildren.badge"
                                class="pcoded-badge label label-{{ asideChildrenBadge.type }}">{{asideChildrenBadge.value}}</span>
                              <span class="pcoded-mcaret"></span>
                            </a>
                            <ul class="pcoded-submenu">
                              <ng-template ngFor let-asideChildrenSub [ngForOf]="asideChildren.children">
                                <li [routerLinkActive]="['active']">
                                  <a [routerLink]="['/', asideItem.state, asideChildren.state, asideChildrenSub.state]"
                                    target="{{asideChildrenSub.target ? '_blank' : '_self'}}">
                                    <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                    <span class="pcoded-mtext">{{ asideChildrenSub.name }}</span>
                                    <span *ngFor="let asideChildrenSubBadge of asideChildrenSub.badge"
                                      class="pcoded-badge label label-{{ asideChildrenSubBadge.type }}">{{asideChildrenSubBadge.value}}</span>
                                    <span class="pcoded-mcaret"></span>
                                  </a>
                                </li>
                              </ng-template>
                            </ul>
                          </li>
                        </ng-template>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </perfect-scrollbar>
          </div>
        </nav>
        <div class="pcoded-content">
          <div class="pcoded-inner-content">
            <div class="main-body">
              <div class="page-wrapper">
                <app-title></app-title>
                <app-breadcrumbs></app-breadcrumbs>
                <div class="page-body">
                  <router-outlet>
                    <app-spinner></app-spinner>
                  </router-outlet>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>