

 .bs-stepper .step-trigger {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
/*    padding: 20px; */
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  color: #bdc3c7;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: none;
  border-radius: .25rem;
  transition: background-color .15s ease-out, color .15s ease-out;
  width: 70px;
}

.bs-stepper .step-trigger:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.bs-stepper .step-trigger:disabled,
.bs-stepper .step-trigger.disabled {
  pointer-events: none;
  opacity: .65;
}

.bs-stepper .step-trigger:focus {
  color: #007bff;
  outline: none;
}

.bs-stepper .step-trigger:hover {
  text-decoration: none;
  background-color: rgba(0, 0, 0, .06);
}

@media (max-width: 520px) {
  .bs-stepper .step-trigger {
    flex-direction: column;
    padding: 10px;
  }
}

.bs-stepper-label {
  display: inline-block;
  margin: .25rem;
  font-weight: 900;
  font-size: larger;
  margin: -48px 10px -68px 10px;
}

.bs-stepper-header {
  display: flex;
  align-items: center;
}

@media (max-width: 520px) {
  .bs-stepper-header {
    margin: 0 -10px;
    text-align: center;
  }
}

.bs-stepper-line,
.bs-stepper .line {
  flex: 0 60 329px;
  min-width: 17px;
  min-height: 2px;
  margin: auto;
  background-color: rgba(0, 0, 0, .12);
 
    
}

@media (max-width: 400px) {
  .bs-stepper-line,
  .bs-stepper .line {
    flex-basis: 20px;
  }
}

.bs-stepper-circle {
  display: -webkit-inline-box;
  display: inline-flex;
  align-content: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: 3em;
  height: 2em;
  padding: 1.5em 0;
  margin: 0.25rem;
  line-height: 1em;
  color: #fff;
  background-color: #bdc3c7;
  border-radius: 18em;
  
}

.active .bs-stepper-circle {
  background-color: #007bff;
  background-image: linear-gradient(to right bottom,  #c6552b, #c0700f, #b18a00, #9aa200, #52a749, #00a37d, #009aa2, #078daf);
}





.bs-stepper-content {
  padding: 0 20px 20px;
}

@media (max-width: 520px) {
  .bs-stepper-content {
    padding: 0;
  }
}

.bs-stepper.vertical {
  display: flex;
}

.bs-stepper.vertical .bs-stepper-header {
  flex-direction: column;
  align-items: stretch;
  margin: 0;
}

.bs-stepper.vertical .bs-stepper-pane,
.bs-stepper.vertical .content {
  display: block;
}

.bs-stepper.vertical .bs-stepper-pane:not(.fade),
.bs-stepper.vertical .content:not(.fade) {
  display: block;
  visibility: hidden;
}

.bs-stepper-pane:not(.fade),
.bs-stepper .content:not(.fade) {
  display: none;
}

.bs-stepper .content.fade,
.bs-stepper-pane.fade {
  visibility: hidden;
  transition-duration: .3s;
  transition-property: opacity;
}

.bs-stepper-pane.fade.active,
.bs-stepper .content.fade.active {
  visibility: visible;
  opacity: 1;
}

.bs-stepper-pane.active:not(.fade),
.bs-stepper .content.active:not(.fade) {
  display: block;
  visibility: visible;
}


.bs-stepper:not(.vertical) .bs-stepper-pane.dstepper-none,
.bs-stepper:not(.vertical) .content.dstepper-none {
  display: none;
}

.vertical .bs-stepper-pane.fade.dstepper-none,
.vertical .content.fade.dstepper-none {
  visibility: hidden;
}

.fa{
    margin-top: -6px;
}



.btn-primary{

  background-image: linear-gradient(to right bottom,  #c6552b, #c0700f, #b18a00, #9aa200, #52a749, #00a37d, #009aa2, #078daf);
    float: right;
    margin-left: 50px;
  
}

.col-lg-12{
  box-shadow: 5px 10px 20px -1px;
  background-image: linear-gradient(to right bottom,  #c6552b, #c0700f, #b18a00, #9aa200, #52a749, #00a37d, #009aa2, #078daf);
}



.active  .bs-stepper-label{
    color: #09b016;
}


.active .bs-stepper-line,
.bs-stepper .line  {
  background-image: linear-gradient(to right top, #ff9e53, #e5b040, #c2c03f, #97cd54, #53d185, #00d0b4, #00cad9, #14c1ed);
}



