<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <form class="form-horizontal form-material" name="form" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()">
                <div class="card-header">
                    <h2 *ngIf="isComponentNew">Add New Sector</h2>
                    <h2 *ngIf="!isComponentNew">Update Sector</h2>
                    <h6>{{field_crudSectorComponent_info}}</h6>
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <label for="sector_name" class="col-2">{{field_sector_name}}<span
                                *ngIf="field_sector_name_required"> (*)</span></label>
                        <div class="col-10">
                            <input type="text" class="form-control" name="sector_name"
                                pattern="^(?:[A-Za-z0-9]+)(?:[A-Za-z0-9 _]*)$" [(ngModel)]="sectorDetail.sector_name"
                                #sector_name="ngModel" [disabled]="!isComponentNew"
                                [ngClass]="{ 'is-invalid': f.submitted && sector_name.invalid }"
                                [required]="field_sector_name_required" />
                            <div *ngIf="f.submitted && sector_name.invalid && (sector_name.dirty || sector_name.touched)"
                                class="invalid-feedback">
                                <div *ngIf="sector_name.errors.required || sector_name.errors.pattern">
                                    {{field_crudSector_sector_name_error_message}}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="details" class="col-2">{{field_entity_id_arr}}<span
                                *ngIf="field_entity_id_arr_required"> (*)</span></label>
                        <div class="col-10">
                            <select multiple class="form-control" name="allowed_entity_id_arr"
                                [(ngModel)]="sectorDetail.entity_id_arr" #entity_id_arr="ngModel"
                                [ngClass]="{ 'is-invalid': f.submitted && entity_id_arr.invalid }"
                                [required]="field_entity_id_arr_required">
                                <option *ngFor="let obj of entityDetailArr" [value]="obj.entity_id">{{obj.entity_name}}
                                </option>
                            </select>
                            <div *ngIf="f.submitted && entity_id_arr.invalid" class="invalid-feedback">
                                <div *ngIf="entity_id_arr.errors.required">
                                    {{field_crudSector_entity_id_arr_error_message}}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="details" class="col-2">{{field_details}}<span *ngIf="field_details_required">
                                (*)</span></label>
                        <div class="col-10">
                            <input type="text" class="form-control" name="details" #details="ngModel" pattern="^\S.*$"
                                [(ngModel)]="sectorDetail.details" [required]="field_details_required"
                                [ngClass]="{ 'is-invalid': f.submitted && details.invalid }">
                            <div *ngIf="f.submitted && details.invalid" class="invalid-feedback">
                                <div *ngIf="details.errors.required || details.errors.pattern">
                                    {{field_crudSector_details_error_message}}</div>
                            </div>

                        </div>
                    </div>

                    <div *ngIf="!sectorDetail.is_default" class="form-group form-check">
                        <input type="checkbox" name="can_be_deleted" [(ngModel)]="sectorDetail.can_be_deleted" />
                        <label for="can_be_deleted" class="col-2">{{field_can_be_deleted}} ?</label>
                    </div>


                    <div class="container">
                        <div class="row">
                            <div class="col-2">
                                <button class="btn btn-primary">
                                    <span *ngIf="isComponentNew">{{field_button_save}}</span>
                                    <span *ngIf="!isComponentNew">{{field_button_update}}</span>

                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="col-2">
                                <button type="button" class="btn btn-danger"
                                    (click)="onClickReset()">{{field_button_reset}}
                                    <i class="fa fa-times" aria-hidden="true"></i></button>
                            </div>
                            <div class="col-2">
                                <button class="btn btn-secondary" type="button"
                                (click)="onCancel()">{{field_button_cancel}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>