
  <div class="row">
    <div class="col-lg-12">
        <div class="card">

           <!--  <div class="card-header">
                <h2 *ngIf="isComponentNew">Add New Entity</h2>
                <h2 *ngIf="!isComponentNew">Update Entity </h2>
                <h6>{{field_crudEntity_info}}</h6>
            </div> -->
    <div id="stepper1" class="bs-stepper">
      <div class="bs-stepper-header">
        <div class="line"></div>
        <div class="step" data-target="#test-l-1">

          <button class="step-trigger">
            <span class="bs-stepper-circle"><i class="fa fa-object-group"></i></span>
            <span class="bs-stepper-label">Entities</span>
          </button>
        </div>
        <div class="line"></div>
        <div class="step" data-target="#test-l-2">
          <button class="step-trigger">
            <span class="bs-stepper-circle"><i class="fa fa-arrows-h"></i></span>
            <span class="bs-stepper-label">Connectors</span>
          </button>
        </div>
        <div class="line"></div>
        <div class="step" data-target="#test-l-3">
          <button class="step-trigger">
            <span class="bs-stepper-circle"><i class="fa fa-close"></i></span>
            <span class="bs-stepper-label">Finish</span>
          </button>
        </div>
        <div class="line"></div>
      </div>
      <br>
      <hr>
      <div class="bs-stepper-content">
      
        <form class="form-horizontal form-material"  novalidate name="form" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()">          
        <div class="card-header text-center">
            <h2 *ngIf="isComponentNew"  >Add New Entity</h2>
            <h2 *ngIf="!isComponentNew">Update Entity </h2>
            <h6>{{field_crudEntity_info}}</h6>
        </div> 
      
          <div id="test-l-1" class="content">
            <div class="card-header">
                <h5>Adding Entity</h5>
            </div>
            <div class="card-body">
                <div class="thumbnail" *ngIf="!flagShowDefaultIcon">
                    <img class="center-block"
                        src="{{IMAGES_BASE_LOCATION}}/{{entityDetail.icon_filename}}" width="200"
                        height="200" />
                </div>

                <div class="thumbnail" *ngIf="flagShowDefaultIcon">
                    <img class="center-block" src="../../../assets/defaultImages/default1.jpg"
                        width="200" height="200" />
                </div>

                <div class="form-group row" >
                    <label for="entity_name" class="col-2 control-label">{{field_entity_name}}
                        <span *ngIf="field_entity_name_required" class="text-danger font-weight-bold">*</span></label>
                        
                    <div class="col-10">
                        <input type="text" class="form-control" name="entity_name"
                            pattern="^(?:[A-Za-z0-9]+)(?:[A-Za-z0-9 _]*)$"
                            [(ngModel)]="entityDetail.entity_name" #entity_name="ngModel"
                            [ngClass]="{ 'is-invalid': f.submitted && entity_name.invalid,
                            'is-valid': f.submitted && entity_name.valid }"
                            [required]="field_entity_name_required" />
                        <div *ngIf="f.submitted && entity_name.invalid" class="invalid-feedback">
                          
                            <div *ngIf="entity_name.errors.required || entity_name.errors.pattern">
                                {{field_entity_name_error_message}}</div>
                        
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="sector_type" class="col-2">{{field_crudEntity_risk_level}} <span
                            *ngIf="field_crudEntity_risk_level_required" class="text-danger font-weight-bold">*</span></label>
                    <div class="col-10">
                        <select class="form-control" name="risk_level_id"
                            [(ngModel)]="entityDetail.risk_level_id" #risk_level_id="ngModel"
                            [ngClass]="{ 'is-invalid': f.submitted && risk_level_id.invalid, 
                            'is-valid': f.submitted && risk_level_id.valid }"
                            [required]="field_crudEntity_risk_level_required">
                            <option *ngFor="let obj of riskLevelFormElementArr"
                                [value]="obj.data_value">
                                {{obj.data_value}}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="icon_location" class="col-2">{{field_icon_location}} :
                        <span *ngIf="field_icon_location_required"class="text-danger font-weight-bold">*</span></label>
                    <div class="col-10">
                        <input type="file" name="icon_location" #icon_location="ngModel"
                            [(ngModel)]="entityDetail.icon_location"
                            [required]="field_icon_location_required"
                            (change)="selectImage($event)">{{entityDetail.icon_filename}}
                    </div>
                </div>

                <div class="form-group row">
                    <label for="details" class="col-2">{{field_details}}<span
                            *ngIf="field_details_required" class="text-danger font-weight-bold">*</span></label>
                    <div class="col-10">
                        <input type="text" class="form-control" name="details" #details="ngModel"
                            pattern="(.|\s)*\S(.|\s)*" [(ngModel)]="entityDetail.details"
                            [required]="field_details_required"
                            [ngClass]="{ 'is-invalid': f.submitted && details.invalid , 
                            'is-valid': f.submitted && details.valid }">
                        <div *ngIf="f.submitted && details.invalid" class="invalid-feedback">
                            <div *ngIf="details.errors.required || details.errors.pattern">
                                {{field_crudEntity_details_error_message}}</div>
                        </div>

                    </div>
                </div>

                <div class="form-group form-check" *ngIf="!entityDetail.is_default">
                    <input type="checkbox" name="can_be_deleted"
                        [(ngModel)]="entityDetail.can_be_deleted" #can_be_deleted="ngModel"
                        [ngClass]="{ 'is-invalid': f.submitted && can_be_deleted.invalid }" />
                    <label for="can_be_deleted" class="col-2">{{field_can_be_deleted}} ?</label>
                </div>

            </div>
           <!--  <button (click)="next()" class="btn btn-primary" [disabled]="f.form.pristine || f.form.invalid"  >Next Step</button> -->
            <button  class="btn btn-primary" (click)="next()" > Next-Step
               <i class="fa fa-arrow-right" aria-hidden="true"></i></button>
            <hr>
          </div>
          <div id="test-l-2" class="content">
            <div class="card-header">
                <h5>Select Connectors</h5>
            </div>
            <div class="card-body">
                <div class="form-group row">
                    <label for="connector_type"
                        class="col-2">{{field_crudEntity_connector_type}}</label>
                    <div class="col-10">
                        <select class="form-control" name="connector_type"
                            [(ngModel)]="entityDetail.connector_type">
                            <option *ngFor="let obj of PICKLIST_ACTUAL_CONNECTOR_TYPES"
                                [value]="obj.connector_type">
                                {{obj.name}}</option>
                        </select>
                    </div>
                </div>

                <div *ngIf="entityDetail.connector_type == '2'">
                    Active Directory connector details..... <br>
                    <div class="form-group row">
                        <label for="sector_type"
                            class="col-2">{{field_crudEntity_activeDirectoryConnector_container_dn}}
                            <span
                                *ngIf="field_crudEntity_activeDirectoryConnector_container_dn_required" class="text-danger font-weight-bold">
                                *</span></label>
                        <div class="col-10">
                            <select class="form-control" name="container_dn"
                                [(ngModel)]="activeDirectoryConnector.container_dn"
                                #container_dn="ngModel"
                                [ngClass]="{ 'is-invalid': f.submitted && container_dn.invalid, 
                                'is-valid': f.submitted && container_dn.valid }"
                                [required]="field_crudEntity_activeDirectoryConnector_container_dn_required">
                                <option *ngFor="let obj of PICKLIST_CONTAINER_DN" [value]="obj.id">
                                    {{obj.id}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="host_name"
                            class="col-2">{{field_crudEntity_activeDirectoryConnector_host_name}}
                            <span
                                *ngIf="field_crudEntity_activeDirectoryConnector_host_name_required" class="text-danger font-weight-bold">
                                *</span></label>
                        <div class="col-10">
                            <input type="text" class="form-control" name="host_name"
                                [(ngModel)]="activeDirectoryConnector.host_name"
                                #host_name="ngModel" pattern="(.|\s)*\S(.|\s)*"
                                [ngClass]="{ 'is-invalid': f.submitted && host_name.invalid,
                                'is-valid': f.submitted && host_name.valid }"
                                [required]="field_crudEntity_activeDirectoryConnector_host_name_required" />
                            <div *ngIf="f.submitted && host_name.invalid && (host_name.dirty || host_name.touched)"
                                class="invalid-feedback">
                                <div *ngIf="host_name.errors.required || host_name.errors.pattern">
                                    {{field_crudEntity_activeDirectoryConnector_host_name_error_message}}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="host_username"
                            class="col-2">{{field_crudEntity_activeDirectoryConnector_host_username}}
                            <span
                                *ngIf="field_crudEntity_activeDirectoryConnector_host_username_required" class="text-danger font-weight-bold">*
                            </span></label>
                        <div class="col-10">
                            <input type="text" class="form-control" name="host_username"
                                [(ngModel)]="activeDirectoryConnector.host_username"
                                #host_username="ngModel"
                                pattern="^(?:[A-Za-z0-9]+)(?:[A-Za-z0-9 _]*)$"
                                [ngClass]="{ 'is-invalid': f.submitted && host_username.invalid , 
                                 'is-valid': f.submitted && host_username.valid }"
                                [required]="field_crudEntity_activeDirectoryConnector_host_username_required" />
                            <div *ngIf="f.submitted && host_username.invalid && (host_username.dirty || host_username.touched)"
                                class="invalid-feedback">
                                <div
                                    *ngIf="host_username.errors.required || host_username.errors.pattern">
                                    {{field_crudEntity_activeDirectoryConnector_host_username_error_message}}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="host_password"
                            class="col-2">{{field_crudEntity_activeDirectoryConnector_host_password}}
                            <span
                                *ngIf="field_crudEntity_activeDirectoryConnector_host_password_required" class="text-danger font-weight-bold">*
                            </span></label>
                        <div class="col-10">
                            <input type="text" class="form-control" name="host_password"
                                [(ngModel)]="activeDirectoryConnector.host_password"
                                #host_password="ngModel"
                                pattern="^(?:[A-Za-z0-9]+)(?:[A-Za-z0-9 _]*)$"
                                [ngClass]="{ 'is-invalid': f.submitted && host_password.invalid,  
                                'is-valid': f.submitted && host_password.valid }"
                                [required]="field_crudEntity_activeDirectoryConnector_host_password_required" />
                            <div *ngIf="f.submitted && host_password.invalid && (host_password.dirty || host_password.touched)"
                                class="invalid-feedback">
                                <div
                                    *ngIf="host_password.errors.required || host_password.errors.pattern">
                                    {{field_crudEntity_activeDirectoryConnector_host_password_error_message}}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="host_port"
                            class="col-2">{{field_crudEntity_activeDirectoryConnector_host_port}}
                            <span
                                *ngIf="field_crudEntity_activeDirectoryConnector_host_port_required"class="text-danger font-weight-bold">
                                *</span></label>
                        <div class="col-10">
                            <input type="text" class="form-control" name="host_port"
                                [(ngModel)]="activeDirectoryConnector.host_port"
                                #host_port="ngModel" pattern="^(?:[A-Za-z0-9]+)(?:[A-Za-z0-9 _]*)$"
                                [ngClass]="{ 'is-invalid': f.submitted && host_port.invalid,  
                                'is-valid': f.submitted && host_port.valid }"
                                [required]="field_crudEntity_activeDirectoryConnector_host_port_required" />
                            <div *ngIf="f.submitted && host_port.invalid && (host_port.dirty || host_port.touched)"
                                class="invalid-feedback">
                                <div *ngIf="host_port.errors.required || host_port.errors.pattern">
                                    {{field_crudEntity_activeDirectoryConnector_host_port_error_message}}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="access_location" class="col-2">{{field_access_location}}
                        </label>
                        <div class="col-10">
                            ldap://{{activeDirectoryConnector.host_name}}:{{activeDirectoryConnector.host_port}}/{{activeDirectoryConnector.container_dn}}
                        </div>
                    </div>

                </div>

                <div *ngIf="entityDetail.connector_type == '1'">
                    <hr>
                    MongoDB Specific connector details..
                    <div class="form-group row">
                        <label for="host_name" class="col-2">{{field_connector_host_name}} <span
                                *ngIf="field_connector_host_name_required" class="text-danger font-weight-bold">*</span></label>
                        <div class="col-10">
                            <input type="text" class="form-control" name="host_name"
                                [(ngModel)]="mongodbConnector.host_name" #host_name="ngModel"
                                pattern="(.|\s)*\S(.|\s)*"
                                [ngClass]="{ 'is-invalid': f.submitted && host_name.invalid,  
                                'is-valid': f.submitted && host_name.valid }"
                                [required]="field_connector_host_name_required" />
                            <div *ngIf="f.submitted && host_name.invalid && (host_name.dirty || host_name.touched)"
                                class="invalid-feedback">
                                <div *ngIf="host_name.errors.required || host_name.errors.pattern">
                                    {{field_crudConnector_host_name_error_message}}</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="host_username" class="col-2">{{field_connector_host_username}}
                            <span *ngIf="field_connector_host_username_required" class="text-danger font-weight-bold">*
                            </span></label>
                        <div class="col-10">
                            <input type="text" class="form-control" name="host_username"
                                [(ngModel)]="mongodbConnector.host_username"
                                #host_username="ngModel"
                                pattern="^(?:[A-Za-z0-9]+)(?:[A-Za-z0-9 _]*)$"
                                [ngClass]="{ 'is-invalid': f.submitted && host_username.invalid,
                                'is-valid': f.submitted && host_username.valid }"
                                [required]="field_connector_host_username_required" />
                            <div *ngIf="f.submitted && host_username.invalid && (host_username.dirty || host_username.touched)"
                                class="invalid-feedback">
                                <div
                                    *ngIf="host_username.errors.required || host_username.errors.pattern">
                                    {{field_crudConnector_host_username_error_message}}</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="host_password" class="col-2">{{field_connector_host_password}}
                            <span *ngIf="field_connector_host_password_required" class="text-danger font-weight-bold">*
                            </span></label>
                        <div class="col-10">
                            <input type="text" class="form-control" name="host_password"
                                [(ngModel)]="mongodbConnector.host_password"
                                #host_password="ngModel"
                                pattern="^(?:[A-Za-z0-9]+)(?:[A-Za-z0-9 _]*)$"
                                [ngClass]="{ 'is-invalid': f.submitted && host_password.invalid,
                                'is-valid': f.submitted && host_password.valid }"
                                [required]="field_connector_host_password_required" />
                            <div *ngIf="f.submitted && host_password.invalid && (host_password.dirty || host_password.touched)"
                                class="invalid-feedback">
                                <div
                                    *ngIf="host_password.errors.required || host_password.errors.pattern">
                                    {{field_crudConnector_host_password_error_message}}</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="host_port" class="col-2">{{field_connector_host_port}} <span
                                *ngIf="field_connector_host_port_required" class="text-danger font-weight-bold">* </span></label>
                        <div class="col-10">
                            <input type="text" class="form-control" name="host_port"
                                [(ngModel)]="mongodbConnector.host_port" #host_port="ngModel"
                                pattern="^(?:[A-Za-z0-9]+)(?:[A-Za-z0-9 _]*)$"
                                [ngClass]="{ 'is-invalid': f.submitted && host_port.invalid,
                                'is-valid': f.submitted && host_port.valid  }"
                                [required]="field_connector_host_port_required" />
                            <div *ngIf="f.submitted && host_port.invalid && (host_port.dirty || host_port.touched)"
                                class="invalid-feedback">
                                <div *ngIf="host_port.errors.required || host_port.errors.pattern">
                                    {{field_crudConnector_host_port_error_message}}</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="database_name" class="col-2">{{field_connector_database_name}}
                            <span *ngIf="field_connector_database_name_required" class="text-danger font-weight-bold"> *
                            </span></label>
                        <div class="col-10">
                            <input type="text" class="form-control" name="database_name"
                                [(ngModel)]="mongodbConnector.database_name"
                                #database_name="ngModel"
                                pattern="^(?:[A-Za-z0-9]+)(?:[A-Za-z0-9 _]*)$"
                                [ngClass]="{ 'is-invalid': f.submitted && database_name.invalid,
                                'is-valid': f.submitted && database_name.valid }"
                                [required]="field_connector_database_name_required" />
                            <div *ngIf="f.submitted && database_name.invalid && (database_name.dirty || database_name.touched)"
                                class="invalid-feedback">
                                <div
                                    *ngIf="database_name.errors.required || database_name.errors.pattern">
                                    {{field_crudConnector_database_name_error_message}}</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="access_location" class="col-2">{{field_access_location}}
                            <!-- <span *ngIf="field_access_location_required"> (*)</span> -->
                        </label>
                        <div class="col-10">
                            <!-- <input type="text" class="form-control" name="access_location"
                                pattern="^\S.*$" [(ngModel)]="entityDetail.access_location"
                                #access_location="ngModel"
                                [required]="field_access_location_required"
                                [ngClass]="{ 'is-invalid': f.submitted && access_location.invalid }">  -->
                            mongodb://{{mongodbConnector.host_name}}:{{mongodbConnector.host_port}}
                            <!-- <div *ngIf="f.submitted && access_location.invalid"
                                class="invalid-feedback">
                                <div
                                    *ngIf="access_location.errors.required || access_location.errors.pattern">
                                    {{field_access_location_error_message}}
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>

                <div *ngIf="entityDetail.connector_type == '3'">
                    Active Directory connector details..... <br>

                    <div class="form-group row">
                        <label for="host_name"
                            class="col-2">{{field_crudEntity_linuxConnector_host_name}}
                            <span *ngIf="field_crudEntity_linuxConnector_host_name_required" class="text-danger font-weight-bold">
                                *</span></label>
                        <div class="col-10">
                            <input type="text" class="form-control" name="host_name"
                                [(ngModel)]="linuxConnector.host_name" #host_name="ngModel"
                                pattern="(.|\s)*\S(.|\s)*"
                                [ngClass]="{ 'is-invalid': f.submitted && host_name.invalid,
                                'is-valid': f.submitted && host_name.valid  }"
                                [required]="field_crudEntity_linuxConnector_host_name_required" />
                            <div *ngIf="f.submitted && host_name.invalid && (host_name.dirty || host_name.touched)"
                                class="invalid-feedback">
                                <div *ngIf="host_name.errors.required || host_name.errors.pattern">
                                    {{field_crudEntity_linuxConnector_host_name_error_message}}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="host_username"
                            class="col-2">{{field_crudEntity_linuxConnector_host_username}}
                            <span *ngIf="field_crudEntity_linuxConnector_host_username_required" class="text-danger font-weight-bold">
                                * </span></label>
                        <div class="col-10">
                            <input type="text" class="form-control" name="host_username"
                                [(ngModel)]="linuxConnector.host_username" #host_username="ngModel"
                                pattern="^(?:[A-Za-z0-9]+)(?:[A-Za-z0-9 _]*)$"
                                [ngClass]="{ 'is-invalid': f.submitted && host_username.invalid,
                                'is-valid': f.submitted && host_username.valid  }"
                                [required]="field_crudEntity_linuxConnector_host_username_required" />
                            <div *ngIf="f.submitted && host_username.invalid && (host_username.dirty || host_username.touched)"
                                class="invalid-feedback">
                                <div
                                    *ngIf="host_username.errors.required || host_username.errors.pattern">
                                    {{field_crudEntity_linuxConnector_host_username_error_message}}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="host_password"
                            class="col-2">{{field_crudEntity_linuxConnector_host_password}}
                            <span *ngIf="field_crudEntity_linuxConnector_host_password_required" class="text-danger font-weight-bold">*
                            </span></label>
                        <div class="col-10">
                            <input type="text" class="form-control" name="host_password"
                                [(ngModel)]="linuxConnector.host_password" #host_password="ngModel"
                                pattern="^(?:[A-Za-z0-9]+)(?:[A-Za-z0-9 _]*)$"
                                [ngClass]="{ 'is-invalid': f.submitted && host_password.invalid,
                                'is-valid': f.submitted && host_password.valid }"
                                [required]="field_crudEntity_linuxConnector_host_password_required" />
                            <div *ngIf="f.submitted && host_password.invalid && (host_password.dirty || host_password.touched)"
                                class="invalid-feedback">
                                <div
                                    *ngIf="host_password.errors.required || host_password.errors.pattern">
                                    {{field_crudEntity_linuxConnector_host_password_error_message}}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="host_port"
                            class="col-2">{{field_crudEntity_linuxConnector_host_port}}
                            <span *ngIf="field_crudEntity_linuxConnector_host_port_required" class="text-danger font-weight-bold">
                                *</span></label>
                        <div class="col-10">
                            <input type="text" class="form-control" name="host_port"
                                [(ngModel)]="linuxConnector.host_port" #host_port="ngModel"
                                pattern="^(?:[A-Za-z0-9]+)(?:[A-Za-z0-9 _]*)$"
                                [ngClass]="{ 'is-invalid': f.submitted && host_port.invalid,
                                'is-valid': f.submitted && host_port.valid }"
                                [required]="field_crudEntity_linuxConnector_host_port_required" />
                            <div *ngIf="f.submitted && host_port.invalid && (host_port.dirty || host_port.touched)"
                                class="invalid-feedback">
                                <div *ngIf="host_port.errors.required || host_port.errors.pattern">
                                    {{field_crudEntity_linuxConnector_host_port_error_message}}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="access_location" class="col-2">{{field_access_location}}
                        </label>
                        <div class="col-10">
                            {{linuxConnector.host_name}}:{{linuxConnector.host_port}}
                        </div>
                    </div>

                </div>
            </div>
           
            <button (click)="next()" class="btn btn-primary">Next-Step 
           <!--  [disabled]="f.form.pristine || f.form.invalid">Next-Step
                <span *ngIf="isComponentNew"></span>
                <span *ngIf="!isComponentNew"></span> -->
                <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </button>
            <button class="btn btn-primary" (click)="stepper1.previous()"> Previous-Step
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
            </button>
            <hr>
          </div>
        
          <div id="test-l-3" class="content text-center">
           <!--  <div class="card-header">
                <h5>Finish</h5>
            </div> -->
           
            <div class="card-body text-center">

                <div class="container">
                    <div class="row">
                        <div class="col-2">
                            <button class="btn btn-primary">
                                <span *ngIf="isComponentNew">{{field_button_save}}</span>
                                <span *ngIf="!isComponentNew">{{field_button_update}}</span>

                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </button>
                           
                        </div>
                        <div class="col-2">
                            <button type="button" class="btn btn-danger"
                                (click)="onClickReset()">{{field_button_reset}}
                                <i class="fa fa-times" aria-hidden="true"></i></button>
                        </div>
                        <div class="col-2">
                            <button class="btn btn-secondary" type="button"
                                (click)="onCancel()">{{field_button_cancel}}</button>
                        </div>
                    </div>
                </div>
            </div>
            
      
          </div>
        <!--   <div *ngIf="f.form.invalid && !submitted" class="text-danger font-weight-bold" [ngClass]="error">
              Fill Out all required fields</div> -->
         
         
        </form>
      </div>
    </div>
  

  </div>
  </div>
</div>






<!-------------------------------Bs Steppers---------------------------------------------------------------------------->

<br>
<br>

<!-- 

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <form class="form-horizontal form-material" name="form" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()">
                <div class="card-header">
                    <h2 *ngIf="isComponentNew">Add New Entity</h2>
                    <h2 *ngIf="!isComponentNew">Update Entity </h2>
                    <h6>{{field_crudEntity_info}}</h6>
                </div>

                <div class="card-body">
                    <ul class="nav nav-pills" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="pill" href="#menu1">Basics</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#menu2">Connectors</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#menu3">Finish</a>
                        </li>
                    </ul>

                    <div class="tab-content">

                        <div id="menu1" class="container tab-pane active"><br>
                            <div class="card">
                                <div class="card-header">
                                    <h3>Basics</h3>
                                </div>
                                <div class="card-body">
                                    <div class="thumbnail" *ngIf="!flagShowDefaultIcon">
                                        <img class="center-block"
                                            src="{{IMAGES_BASE_LOCATION}}/{{entityDetail.icon_filename}}" width="200"
                                            height="200" />
                                    </div>

                                    <div class="thumbnail" *ngIf="flagShowDefaultIcon">
                                        <img class="center-block" src="../../../assets/defaultImages/default1.jpg"
                                            width="200" height="200" />
                                    </div>

                                    <div class="form-group row">
                                        <label for="entity_name" class="col-2">{{field_entity_name}}<span
                                                *ngIf="field_entity_name_required"> (*)</span></label>
                                        <div class="col-10">
                                            <input type="text" class="form-control" name="entity_name"
                                                pattern="^(?:[A-Za-z0-9]+)(?:[A-Za-z0-9 _]*)$"
                                                [(ngModel)]="entityDetail.entity_name" #entity_name="ngModel"
                                                [ngClass]="{ 'is-invalid': f.submitted && entity_name.invalid }"
                                                [required]="field_entity_name_required" />
                                            <div *ngIf="f.submitted && entity_name.invalid" class="invalid-feedback">
                                                <div *ngIf="entity_name.errors.required || entity_name.errors.pattern">
                                                    {{field_entity_name_error_message}}</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="sector_type" class="col-2">{{field_crudEntity_risk_level}} <span
                                                *ngIf="field_crudEntity_risk_level_required"> (*)</span></label>
                                        <div class="col-10">
                                            <select class="form-control" name="risk_level_id"
                                                [(ngModel)]="entityDetail.risk_level_id" #risk_level_id="ngModel"
                                                [ngClass]="{ 'is-invalid': f.submitted && risk_level_id.invalid }"
                                                [required]="field_crudEntity_risk_level_required">
                                                <option *ngFor="let obj of riskLevelFormElementArr"
                                                    [value]="obj.data_value">
                                                    {{obj.data_value}}</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="icon_location" class="col-2">{{field_icon_location}} :
                                            <span *ngIf="field_icon_location_required"> (*)</span></label>
                                        <div class="col-10">
                                            <input type="file" name="icon_location" #icon_location="ngModel"
                                                [(ngModel)]="entityDetail.icon_location"
                                                [required]="field_icon_location_required"
                                                (change)="selectImage($event)">{{entityDetail.icon_filename}}
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="details" class="col-2">{{field_details}}<span
                                                *ngIf="field_details_required">
                                                (*)</span></label>
                                        <div class="col-10">
                                            <input type="text" class="form-control" name="details" #details="ngModel"
                                                pattern="(.|\s)*\S(.|\s)*" [(ngModel)]="entityDetail.details"
                                                [required]="field_details_required"
                                                [ngClass]="{ 'is-invalid': f.submitted && details.invalid }">
                                            <div *ngIf="f.submitted && details.invalid" class="invalid-feedback">
                                                <div *ngIf="details.errors.required || details.errors.pattern">
                                                    {{field_crudEntity_details_error_message}}</div>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="form-group form-check" *ngIf="!entityDetail.is_default">
                                        <input type="checkbox" name="can_be_deleted"
                                            [(ngModel)]="entityDetail.can_be_deleted" #can_be_deleted="ngModel"
                                            [ngClass]="{ 'is-invalid': f.submitted && can_be_deleted.invalid }" />
                                        <label for="can_be_deleted" class="col-2">{{field_can_be_deleted}} ?</label>
                                    </div>

                                </div>
                            </div>
                        </div>


                        <div id="menu2" class="container tab-pane fade"><br>
                            <div class="card">
                                <div class="card-header">
                                    <h3>Connectors</h3>
                                </div>
                                <div class="card-body">
                                    <div class="form-group row">
                                        <label for="connector_type"
                                            class="col-2">{{field_crudEntity_connector_type}}</label>
                                        <div class="col-10">
                                            <select class="form-control" name="connector_type"
                                                [(ngModel)]="entityDetail.connector_type">
                                                <option *ngFor="let obj of PICKLIST_ACTUAL_CONNECTOR_TYPES"
                                                    [value]="obj.connector_type">
                                                    {{obj.name}}</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div *ngIf="entityDetail.connector_type == '2'">
                                        Active Directory connector details..... <br>
                                        <div class="form-group row">
                                            <label for="sector_type"
                                                class="col-2">{{field_crudEntity_activeDirectoryConnector_container_dn}}
                                                <span
                                                    *ngIf="field_crudEntity_activeDirectoryConnector_container_dn_required">
                                                    (*)</span></label>
                                            <div class="col-10">
                                                <select class="form-control" name="container_dn"
                                                    [(ngModel)]="activeDirectoryConnector.container_dn"
                                                    #container_dn="ngModel"
                                                    [ngClass]="{ 'is-invalid': f.submitted && container_dn.invalid }"
                                                    [required]="field_crudEntity_activeDirectoryConnector_container_dn_required">
                                                    <option *ngFor="let obj of PICKLIST_CONTAINER_DN" [value]="obj.id">
                                                        {{obj.id}}</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="host_name"
                                                class="col-2">{{field_crudEntity_activeDirectoryConnector_host_name}}
                                                <span
                                                    *ngIf="field_crudEntity_activeDirectoryConnector_host_name_required">
                                                    (*) </span></label>
                                            <div class="col-10">
                                                <input type="text" class="form-control" name="host_name"
                                                    [(ngModel)]="activeDirectoryConnector.host_name"
                                                    #host_name="ngModel" pattern="(.|\s)*\S(.|\s)*"
                                                    [ngClass]="{ 'is-invalid': f.submitted && host_name.invalid }"
                                                    [required]="field_crudEntity_activeDirectoryConnector_host_name_required" />
                                                <div *ngIf="f.submitted && host_name.invalid && (host_name.dirty || host_name.touched)"
                                                    class="invalid-feedback">
                                                    <div *ngIf="host_name.errors.required || host_name.errors.pattern">
                                                        {{field_crudEntity_activeDirectoryConnector_host_name_error_message}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="host_username"
                                                class="col-2">{{field_crudEntity_activeDirectoryConnector_host_username}}
                                                <span
                                                    *ngIf="field_crudEntity_activeDirectoryConnector_host_username_required">
                                                    (*)
                                                </span></label>
                                            <div class="col-10">
                                                <input type="text" class="form-control" name="host_username"
                                                    [(ngModel)]="activeDirectoryConnector.host_username"
                                                    #host_username="ngModel"
                                                    pattern="^(?:[A-Za-z0-9]+)(?:[A-Za-z0-9 _]*)$"
                                                    [ngClass]="{ 'is-invalid': f.submitted && host_username.invalid }"
                                                    [required]="field_crudEntity_activeDirectoryConnector_host_username_required" />
                                                <div *ngIf="f.submitted && host_username.invalid && (host_username.dirty || host_username.touched)"
                                                    class="invalid-feedback">
                                                    <div
                                                        *ngIf="host_username.errors.required || host_username.errors.pattern">
                                                        {{field_crudEntity_activeDirectoryConnector_host_username_error_message}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="host_password"
                                                class="col-2">{{field_crudEntity_activeDirectoryConnector_host_password}}
                                                <span
                                                    *ngIf="field_crudEntity_activeDirectoryConnector_host_password_required">
                                                    (*)
                                                </span></label>
                                            <div class="col-10">
                                                <input type="text" class="form-control" name="host_password"
                                                    [(ngModel)]="activeDirectoryConnector.host_password"
                                                    #host_password="ngModel"
                                                    pattern="^(?:[A-Za-z0-9]+)(?:[A-Za-z0-9 _]*)$"
                                                    [ngClass]="{ 'is-invalid': f.submitted && host_password.invalid }"
                                                    [required]="field_crudEntity_activeDirectoryConnector_host_password_required" />
                                                <div *ngIf="f.submitted && host_password.invalid && (host_password.dirty || host_password.touched)"
                                                    class="invalid-feedback">
                                                    <div
                                                        *ngIf="host_password.errors.required || host_password.errors.pattern">
                                                        {{field_crudEntity_activeDirectoryConnector_host_password_error_message}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="host_port"
                                                class="col-2">{{field_crudEntity_activeDirectoryConnector_host_port}}
                                                <span
                                                    *ngIf="field_crudEntity_activeDirectoryConnector_host_port_required">
                                                    (*) </span></label>
                                            <div class="col-10">
                                                <input type="text" class="form-control" name="host_port"
                                                    [(ngModel)]="activeDirectoryConnector.host_port"
                                                    #host_port="ngModel" pattern="^(?:[A-Za-z0-9]+)(?:[A-Za-z0-9 _]*)$"
                                                    [ngClass]="{ 'is-invalid': f.submitted && host_port.invalid }"
                                                    [required]="field_crudEntity_activeDirectoryConnector_host_port_required" />
                                                <div *ngIf="f.submitted && host_port.invalid && (host_port.dirty || host_port.touched)"
                                                    class="invalid-feedback">
                                                    <div *ngIf="host_port.errors.required || host_port.errors.pattern">
                                                        {{field_crudEntity_activeDirectoryConnector_host_port_error_message}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="access_location" class="col-2">{{field_access_location}}
                                            </label>
                                            <div class="col-10">
                                                ldap://{{activeDirectoryConnector.host_name}}:{{activeDirectoryConnector.host_port}}/{{activeDirectoryConnector.container_dn}}
                                            </div>
                                        </div>

                                    </div>

                                    <div *ngIf="entityDetail.connector_type == '1'">
                                        <hr>
                                        MongoDB Specific connector details..
                                        <div class="form-group row">
                                            <label for="host_name" class="col-2">{{field_connector_host_name}} <span
                                                    *ngIf="field_connector_host_name_required"> (*) </span></label>
                                            <div class="col-10">
                                                <input type="text" class="form-control" name="host_name"
                                                    [(ngModel)]="mongodbConnector.host_name" #host_name="ngModel"
                                                    pattern="(.|\s)*\S(.|\s)*"
                                                    [ngClass]="{ 'is-invalid': f.submitted && host_name.invalid }"
                                                    [required]="field_connector_host_name_required" />
                                                <div *ngIf="f.submitted && host_name.invalid && (host_name.dirty || host_name.touched)"
                                                    class="invalid-feedback">
                                                    <div *ngIf="host_name.errors.required || host_name.errors.pattern">
                                                        {{field_crudConnector_host_name_error_message}}</div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="host_username" class="col-2">{{field_connector_host_username}}
                                                <span *ngIf="field_connector_host_username_required"> (*)
                                                </span></label>
                                            <div class="col-10">
                                                <input type="text" class="form-control" name="host_username"
                                                    [(ngModel)]="mongodbConnector.host_username"
                                                    #host_username="ngModel"
                                                    pattern="^(?:[A-Za-z0-9]+)(?:[A-Za-z0-9 _]*)$"
                                                    [ngClass]="{ 'is-invalid': f.submitted && host_username.invalid }"
                                                    [required]="field_connector_host_username_required" />
                                                <div *ngIf="f.submitted && host_username.invalid && (host_username.dirty || host_username.touched)"
                                                    class="invalid-feedback">
                                                    <div
                                                        *ngIf="host_username.errors.required || host_username.errors.pattern">
                                                        {{field_crudConnector_host_username_error_message}}</div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="host_password" class="col-2">{{field_connector_host_password}}
                                                <span *ngIf="field_connector_host_password_required"> (*)
                                                </span></label>
                                            <div class="col-10">
                                                <input type="text" class="form-control" name="host_password"
                                                    [(ngModel)]="mongodbConnector.host_password"
                                                    #host_password="ngModel"
                                                    pattern="^(?:[A-Za-z0-9]+)(?:[A-Za-z0-9 _]*)$"
                                                    [ngClass]="{ 'is-invalid': f.submitted && host_password.invalid }"
                                                    [required]="field_connector_host_password_required" />
                                                <div *ngIf="f.submitted && host_password.invalid && (host_password.dirty || host_password.touched)"
                                                    class="invalid-feedback">
                                                    <div
                                                        *ngIf="host_password.errors.required || host_password.errors.pattern">
                                                        {{field_crudConnector_host_password_error_message}}</div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="host_port" class="col-2">{{field_connector_host_port}} <span
                                                    *ngIf="field_connector_host_port_required"> (*) </span></label>
                                            <div class="col-10">
                                                <input type="text" class="form-control" name="host_port"
                                                    [(ngModel)]="mongodbConnector.host_port" #host_port="ngModel"
                                                    pattern="^(?:[A-Za-z0-9]+)(?:[A-Za-z0-9 _]*)$"
                                                    [ngClass]="{ 'is-invalid': f.submitted && host_port.invalid }"
                                                    [required]="field_connector_host_port_required" />
                                                <div *ngIf="f.submitted && host_port.invalid && (host_port.dirty || host_port.touched)"
                                                    class="invalid-feedback">
                                                    <div *ngIf="host_port.errors.required || host_port.errors.pattern">
                                                        {{field_crudConnector_host_port_error_message}}</div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="database_name" class="col-2">{{field_connector_database_name}}
                                                <span *ngIf="field_connector_database_name_required"> (*)
                                                </span></label>
                                            <div class="col-10">
                                                <input type="text" class="form-control" name="database_name"
                                                    [(ngModel)]="mongodbConnector.database_name"
                                                    #database_name="ngModel"
                                                    pattern="^(?:[A-Za-z0-9]+)(?:[A-Za-z0-9 _]*)$"
                                                    [ngClass]="{ 'is-invalid': f.submitted && database_name.invalid }"
                                                    [required]="field_connector_database_name_required" />
                                                <div *ngIf="f.submitted && database_name.invalid && (database_name.dirty || database_name.touched)"
                                                    class="invalid-feedback">
                                                    <div
                                                        *ngIf="database_name.errors.required || database_name.errors.pattern">
                                                        {{field_crudConnector_database_name_error_message}}</div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="access_location" class="col-2">{{field_access_location}}
                                             
                                            </label>
                                            <div class="col-10">
                                               
                                                mongodb://{{mongodbConnector.host_name}}:{{mongodbConnector.host_port}}
                                             
                                            </div>
                                        </div>
                                    </div>

                                    <div *ngIf="entityDetail.connector_type == '3'">
                                        Active Directory connector details..... <br>

                                        <div class="form-group row">
                                            <label for="host_name"
                                                class="col-2">{{field_crudEntity_linuxConnector_host_name}}
                                                <span *ngIf="field_crudEntity_linuxConnector_host_name_required">
                                                    (*) </span></label>
                                            <div class="col-10">
                                                <input type="text" class="form-control" name="host_name"
                                                    [(ngModel)]="linuxConnector.host_name" #host_name="ngModel"
                                                    pattern="(.|\s)*\S(.|\s)*"
                                                    [ngClass]="{ 'is-invalid': f.submitted && host_name.invalid }"
                                                    [required]="field_crudEntity_linuxConnector_host_name_required" />
                                                <div *ngIf="f.submitted && host_name.invalid && (host_name.dirty || host_name.touched)"
                                                    class="invalid-feedback">
                                                    <div *ngIf="host_name.errors.required || host_name.errors.pattern">
                                                        {{field_crudEntity_linuxConnector_host_name_error_message}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="host_username"
                                                class="col-2">{{field_crudEntity_linuxConnector_host_username}}
                                                <span *ngIf="field_crudEntity_linuxConnector_host_username_required">
                                                    (*)
                                                </span></label>
                                            <div class="col-10">
                                                <input type="text" class="form-control" name="host_username"
                                                    [(ngModel)]="linuxConnector.host_username" #host_username="ngModel"
                                                    pattern="^(?:[A-Za-z0-9]+)(?:[A-Za-z0-9 _]*)$"
                                                    [ngClass]="{ 'is-invalid': f.submitted && host_username.invalid }"
                                                    [required]="field_crudEntity_linuxConnector_host_username_required" />
                                                <div *ngIf="f.submitted && host_username.invalid && (host_username.dirty || host_username.touched)"
                                                    class="invalid-feedback">
                                                    <div
                                                        *ngIf="host_username.errors.required || host_username.errors.pattern">
                                                        {{field_crudEntity_linuxConnector_host_username_error_message}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="host_password"
                                                class="col-2">{{field_crudEntity_linuxConnector_host_password}}
                                                <span *ngIf="field_crudEntity_linuxConnector_host_password_required">
                                                    (*)
                                                </span></label>
                                            <div class="col-10">
                                                <input type="text" class="form-control" name="host_password"
                                                    [(ngModel)]="linuxConnector.host_password" #host_password="ngModel"
                                                    pattern="^(?:[A-Za-z0-9]+)(?:[A-Za-z0-9 _]*)$"
                                                    [ngClass]="{ 'is-invalid': f.submitted && host_password.invalid }"
                                                    [required]="field_crudEntity_linuxConnector_host_password_required" />
                                                <div *ngIf="f.submitted && host_password.invalid && (host_password.dirty || host_password.touched)"
                                                    class="invalid-feedback">
                                                    <div
                                                        *ngIf="host_password.errors.required || host_password.errors.pattern">
                                                        {{field_crudEntity_linuxConnector_host_password_error_message}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="host_port"
                                                class="col-2">{{field_crudEntity_linuxConnector_host_port}}
                                                <span *ngIf="field_crudEntity_linuxConnector_host_port_required">
                                                    (*) </span></label>
                                            <div class="col-10">
                                                <input type="text" class="form-control" name="host_port"
                                                    [(ngModel)]="linuxConnector.host_port" #host_port="ngModel"
                                                    pattern="^(?:[A-Za-z0-9]+)(?:[A-Za-z0-9 _]*)$"
                                                    [ngClass]="{ 'is-invalid': f.submitted && host_port.invalid }"
                                                    [required]="field_crudEntity_linuxConnector_host_port_required" />
                                                <div *ngIf="f.submitted && host_port.invalid && (host_port.dirty || host_port.touched)"
                                                    class="invalid-feedback">
                                                    <div *ngIf="host_port.errors.required || host_port.errors.pattern">
                                                        {{field_crudEntity_linuxConnector_host_port_error_message}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="access_location" class="col-2">{{field_access_location}}
                                            </label>
                                            <div class="col-10">
                                                {{linuxConnector.host_name}}:{{linuxConnector.host_port}}
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="menu3" class="container tab-pane fade"><br>
                            <div class="card">
                                <div class="card-header">
                                    <h3>Finish</h3>
                                </div>
                                <div class="card-body">

                                    <div class="container">
                                        <div class="row">
                                            <div class="col-2">
                                                <button class="btn btn-primary">
                                                    <span *ngIf="isComponentNew">{{field_button_save}}</span>
                                                    <span *ngIf="!isComponentNew">{{field_button_update}}</span>

                                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                            <div class="col-2">
                                                <button type="button" class="btn btn-danger"
                                                    (click)="onClickReset()">{{field_button_reset}}
                                                    <i class="fa fa-times" aria-hidden="true"></i></button>
                                            </div>
                                            <div class="col-2">
                                                <button class="btn btn-secondary" type="button"
                                                    (click)="onCancel()">{{field_button_cancel}}</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div> -->



<!-- <div class="container py-3 my-3 border rounded shadow-sm">


    <ul class="nav nav-pills" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="pill" href="#menuA">Basics</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="pill" href="#menuB">Connectors</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="pill" href="#menuC">Finish</a>
        </li>
    </ul>
    <div class="tab-content">
        <div id="menuA" class="container tab-pane active"><br>
            menu AA
            <a class="nav-link" data-toggle="pill" href="#menuB">Finish</a>
            <button type="button" class="btn btn-primary next-step float-right">Next</button>
        </div>
        <div id="menuB" class="container tab-pane"><br>
            menu BB
        </div>
    </div>
</div> -->