<div class="row">
    <div class="col-12">
        <div class="form-group row">
            <label for="sector_type" class="col-2">Sector </label>            
            <div class="col-10">
                <select class="form-control" name="sector_type" [(ngModel)]="currentSectorDetailID"
                    #sector_type="ngModel" (change)="onSectorChange()" required>
                    <option *ngFor="let obj of sectorDetailArr" [value]="obj.sector_id">{{obj.sector_name}}</option>
                </select>
            </div>
        </div>


        <div class="card">
            <div class="card-header">
                <h2>{{currentSectorDetailName}} List</h2>
                <h6>{{field_listSectorElementsComponent_info}}</h6>
            </div>
            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let obj of entityDetailArr">
                            <div class="card">
                                <div class="card-body text-center">
                                    <img class="rounded-circle" src="{{IMAGES_BASE_LOCATION}}/{{obj.icon_filename}}" (click)="onClick(obj)" />
                                    <div>
                                        <h4 class="card-title">{{obj.entity_name}}</h4>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>
</div>