<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <form class="form-horizontal form-material" name="form" #f="ngForm">
                <div class="card-header">
                    <h2> {{field_entityEventReport_heading}} </h2>
                    <h6>{{field_entityEventReport_info}}</h6>
                </div>
                <div class="card-body">
                    <h6 class="card-subtitle"></h6>
                    <div class="form-group">
                        <label for="componentName" class="col-2">{{field_entityEventReport_select_user}}</label>
                        <div class="col-10">
                            <select size="6" class="form-control" name="currentUsername" [(ngModel)]="currentUsername"
                                (change)="onSelectUsername()">
                                <option value="-1">Any</option>
                                <option *ngFor="let obj of userDetailArr" [value]="obj.username">
                                    {{obj.username}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="componentName" class="col-2">{{field_entityEventReport_select_entity}}</label>
                        <div class="col-10">
                            <select size="6" class="form-control" name="currentEntityId" [(ngModel)]="currentEntityId"
                                [required]="field_entity_id_arr_required" (change)="onSelectEntityId()">
                                <option value="-1">Any</option>
                                <option *ngFor="let obj of entityDetailArr" [value]="obj.entity_id">
                                    {{obj.entity_name}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="sector_type" class="col-2">{{field_entityEventReport_risk_level}} </label>
                        <div class="col-10">
                            <select class="form-control" name="currentRiskLevelId" [(ngModel)]="currentRiskLevelId"
                                required>
                                <option value="-1">Any</option>
                                <option *ngFor="let obj of riskLevelFormElementArr" [value]="obj.data_value">
                                    {{obj.data_value}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="container">
                        <div class="row">
                            <div class="col-2">
                                <button class="btn btn-primary"
                                    (click)="onClickSearch()">{{field_entityEventReport_button_search}}
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="form-group  table-responsive">
                        <table class={{COMMON_TABLE_OPTIONS}} [mfData]="tableDataArr" #mf="mfDataTable"
                            [mfRowsOnPage]="25">
                            <thead>
                                <tr>
                                    <th width="20%">
                                        <mfDefaultSorter by="entity_id">Entity ID</mfDefaultSorter>
                                    </th>
                                    <th width="20%">
                                        <mfDefaultSorter by="entity_name">Entity Source</mfDefaultSorter>
                                    </th>
                                    <th width="20%">
                                        <mfDefaultSorter by="accessed_username">Accessed Username</mfDefaultSorter>
                                    </th>
                                    <th width="20%">
                                        <mfDefaultSorter by="time_of_access">Access Time</mfDefaultSorter>
                                    </th>
                                    <th width="20%">
                                        <mfDefaultSorter by="risk_level_id">Risk Level</mfDefaultSorter>
                                    </th>
                                    <th width="20%">
                                        <mfDefaultSorter by="details">Details</mfDefaultSorter>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let obj of mf.data">
                                    <td>{{ obj.entity_id }}</td>
                                    <td>{{ obj.entity_name }}</td>
                                    <td>{{ obj.accessed_username }}</td>
                                    <td>{{ obj.time_of_access | date: 'dd/MM/yyyy hh:mm:ss' }}</td>
                                    <td>{{ obj.risk_level_id }}</td>
                                    <td>{{ obj.details }}</td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="6">
                                        <mfBootstrapPaginator [rowsOnPageSet]="[25,50,100]"></mfBootstrapPaginator>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>