<nav class="navbar navbar-dark bg-primary navbar-expand-sm">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-list-2"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-list-2">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <h5>{{commonReportHeading}} Reports</h5><span class="sr-only">(current)</span>
            </li>

        </ul>

        <div class="ml-auto">
            <form class="form-inline">
                <button class='btn btn-primary' (click)="generatePdf()">Generate PDF</button>
            </form>
        </div>
    </div>
</nav>

<div *ngIf="flagShowDefaultReport">
    <div class="row" id="content1">
        <div class="col-md-6 col-lg-3">
            <div class="card">
                <div class="card-body">
                    <h5><b>Systems</b></h5>
                </div>
                <div style="width: 100%">
                    <canvas id="pie"></canvas>
                </div>
                <br>
                <br>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-4 b-r-default text-center">
                            <p class="text-muted">Created</p>
                            <span *ngFor="let system of systems">{{system.created}}</span>
                        </div>
                        <div class="col-4 b-r-default text-center">
                            <p class="text-muted">Deleted</p>
                            <span *ngFor="let system of systems">{{system.deleted}}</span>
                        </div>
                        <div class="col-4 text-center">
                            <p class="text-muted">Users</p>
                            <span *ngFor="let system of systems">{{system.users}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-6 col-lg-3">
            <div class="card">
                <div class="card-body">
                    <h5><b>Networks</b></h5>
                </div>
                <div style="width: 100%">
                    <canvas id="pie1"></canvas>
                </div>
                <br>
                <br>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-4 b-r-default text-center">
                            <p class="text-muted">Created</p>
                            <span *ngFor="let network of networks">{{network.created}}</span>
                        </div>
                        <div class="col-4 b-r-default text-center">
                            <p class="text-muted">Deleted</p>
                            <span *ngFor="let network of networks">{{network.deleted}}</span>
                        </div>
                        <div class="col-4 text-center">
                            <p class="text-muted">Users</p>
                            <span *ngFor="let network of networks">{{network.users}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-3">
            <div class="card">
                <div class="card-body">
                    <h5><b>Files</b></h5>
                </div>
                <div style="width: 100%">
                    <canvas id="pie2"></canvas>
                </div>
                <br>
                <br>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-4 b-r-default text-center">
                            <p class="text-muted">Created</p>
                            <span *ngFor="let file of files">{{file.created}}</span>
                        </div>
                        <div class="col-4 b-r-default text-center">
                            <p class="text-muted">Deleted</p>
                            <span *ngFor="let file of files">{{file.deleted}}</span>
                        </div>
                        <div class="col-4 text-center">
                            <p class="text-muted">Users</p>
                            <span *ngFor="let file of files">{{file.users}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-lg-3">
            <div class="card">
                <div class="card-body">
                    <h5><b>Applications</b></h5>
                </div>
                <div style="width: 100%">
                    <canvas id="pie3"></canvas>
                </div>
                <br>
                <br>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-4 b-r-default text-center">
                            <p class="text-muted">Created</p>
                            <span *ngFor="let application of applications">{{application.created}}</span>
                        </div>
                        <div class="col-4 b-r-default text-center">
                            <p class="text-muted">Deleted</p>
                            <span *ngFor="let application of applications">{{application.deleted}}</span>
                        </div>
                        <div class="col-4 text-center">
                            <p class="text-muted">Users</p>
                            <span *ngFor="let application of applications">{{application.users}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5><b>Total Systems</b></h5>
                </div>
                <h1 class="text-center text-primary ">{{totalSystemEntities}}</h1>
                <br>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5><b>Total Files</b></h5>
                </div>
                <h1 class="text-center text-primary ">{{totalFileEntities}}</h1>
                <br>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5><b>Total Networks</b></h5>
                </div>
                <h1 class="text-center text-primary ">{{totalNetworkEntities}}</h1>
                <br>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5><b>Total Applications</b></h5>
                </div>
                <h1 class="text-center text-primary "> {{totalApplicationEntities}}</h1>
                <br>
            </div>
        </div>

    </div>
</div>

<div *ngIf="flagShowExistingUsersReport">
    <div class="row" id="content2">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-body">
                    <table class={{COMMON_TABLE_OPTIONS}} [mfData]="tableDataExistingUsersArr" #mf="mfDataTable"
                        [mfRowsOnPage]="25">
                        <thead>
                            <tr>
                                <th width="20%">
                                    <mfDefaultSorter by="username">User Name</mfDefaultSorter>
                                </th>
                                <th width="20%">
                                    <mfDefaultSorter by="email">Email ID</mfDefaultSorter>
                                </th>
                                <th width="20%">
                                    <mfDefaultSorter by="first_name">First Name</mfDefaultSorter>
                                </th>
                                <th width="20%">
                                    <mfDefaultSorter by="last_name">Last Name</mfDefaultSorter>
                                </th>
                                <th width="20%">
                                    <mfDefaultSorter by="phone">Phone</mfDefaultSorter>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let obj of mf.data">
                                <td>{{obj.username}}</td>
                                <td>{{obj.email}}</td>
                                <td>{{obj.first_name}}</td>
                                <td>{{obj.last_name}}</td>
                                <td>{{obj.phone}}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="5">
                                    <mfBootstrapPaginator [rowsOnPageSet]="[25,50,100]"></mfBootstrapPaginator>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="flagShowSystemEventsReport">
    <div class="row" id="content3">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h6>{{field_listReportingComponent_system_events_info}}</h6>
                </div>
                <div class="card-body  table-responsive">

                    <table class={{COMMON_TABLE_OPTIONS}} [mfData]="tableDataSystemEventsArr" #mf="mfDataTable"
                        [mfRowsOnPage]="25">
                        <thead>
                            <tr>
                                <!-- <th width="20%">
                                    <mfDefaultSorter by="event_id">Event ID</mfDefaultSorter>
                                </th> -->
                                <th width="20%">
                                    <mfDefaultSorter by="event_source">Event Source</mfDefaultSorter>
                                </th>
                                <th width="20%">
                                    <mfDefaultSorter by="event_type">Event Type</mfDefaultSorter>
                                </th>
                                <th width="20%">
                                    <mfDefaultSorter by="alert_type">Alert Type</mfDefaultSorter>
                                </th>
                                <th width="20%">
                                    <mfDefaultSorter by="details">Event Details</mfDefaultSorter>
                                </th>
                                <th width="20%">
                                    <mfDefaultSorter by="event_time">Event Time</mfDefaultSorter>
                                </th>
                                <th width="20%">
                                    <mfDefaultSorter by="source_username">Username</mfDefaultSorter>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let obj of mf.data">
                                <!-- <td>{{ obj.event_id }}</td> -->
                                <td>{{ obj.event_source }}</td>
                                <td>{{ obj.event_type }}</td>
                                <td>{{ obj.alert_type }}</td>
                                <td>{{ obj.details }}</td>
                                <td>{{ obj.event_time | date: 'dd/MM/yyyy hh:mm:ss' }}</td>
                                <td>{{ obj.source_username }}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="6">
                                    <mfBootstrapPaginator [rowsOnPageSet]="[25,50,100]"></mfBootstrapPaginator>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



<div *ngIf="flagShowLoggingTrackingReport">
    <div class="row" id="content3">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h6>{{field_listReportingComponent_user_login_info}}</h6>
                </div>
                <div class="card-body">

                    <table class="table table-sm word-wrap: break-word;" [mfData]="tableDataLoggingTrackingArr" #mf="mfDataTable"
                        [mfRowsOnPage]="25">
                        <thead>
                            <tr>
                                <th width="20%">
                                    <mfDefaultSorter by="username">Username</mfDefaultSorter>
                                </th>
                                <th width="20%">
                                    <mfDefaultSorter by="password">Password</mfDefaultSorter>
                                </th>
                                <th width="20%">
                                    <mfDefaultSorter by="remarks">Remarks</mfDefaultSorter>
                                </th>
                                <th width="20%">
                                    <mfDefaultSorter by="is_login_successful">Was Successful ?</mfDefaultSorter>
                                </th>
                                <th width="20%">
                                    <mfDefaultSorter by="clean_logged_out_flag">Logged Out Cleanly ?</mfDefaultSorter>
                                </th>
                                <th width="20%">
                                    <mfDefaultSorter by="login_time">Login Time</mfDefaultSorter>
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let obj of mf.data">
                                <td>{{ obj.username}}</td>
                                <td>{{ obj.password}}</td>
                                <td class="word-wrap: break-word;">{{ obj.remarks}}</td>
                                <td>{{ obj.is_login_successful}}</td>
                                <td>{{ obj.clean_logged_out_flag}}</td>
                                <td>{{ obj.login_time | date: 'dd/MM/yyyy hh:mm:ss' }}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="6">
                                    <mfBootstrapPaginator [rowsOnPageSet]="[25,50,100]"></mfBootstrapPaginator>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>