<div class="row">
    <div class="col-sm-12">
        <form class="form-horizontal form-material" name="form" #f="ngForm">
            <h2> {{field_listDefaultSetting_heading_configure_default_setting}} </h2>
            <h6>{{field_listDefaultSetting_info}}</h6>
            <div class="card">
                <div class="card-header">
                    <h4> {{field_listDefaultSetting_heading_session_timeout}} </h4>
                    <h6>{{field_listDefaultSetting_session_timeout_info}}</h6>
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <label for="session_timeout" class="col-3">{{field_listDefaultSetting_session_timeout}}</label>
                        <div class="col-4">
                            <input type="text" class="form-control" name="session_timeout"
                                [(ngModel)]="defaultSetting.session_timeout" required />
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h4> {{field_listDefaultSetting_heading_account_expiry}} </h4>
                    <h6>{{field_listDefaultSetting_account_expiry_info}}</h6>
                </div>
                <div class="card-body">
                    <div class="form-group row">
                        <label for="account_expiry_days" class="col-3">{{field_listDefaultSetting_account_expiry_days}}</label>
                        <div class="col-4">
                            <input type="text" class="form-control" name="account_expiry_days"
                                [(ngModel)]="defaultSetting.account_expiry_days" required />
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h4> {{field_listDefaultSetting_heading_email_setting}} </h4>
                    <h6>{{field_listDefaultSetting_email_setting_info}}</h6>
                </div>
                <div class="card-body">

                    <div class="form-group row">
                        <label for="session_timeout" class="col-3">{{field_listDefaultSetting_email_service}}</label>
                        <div class="col-4">
                            <input type="text" class="form-control" name="email_service"
                                [(ngModel)]="defaultSetting.email_service" required />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="session_timeout" class="col-3">{{field_listDefaultSetting_email_default_from_name}}</label>
                        <div class="col-4">
                            <input type="text" class="form-control" name="email_default_from_name"
                                [(ngModel)]="defaultSetting.email_default_from_name" required />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="session_timeout" class="col-3">{{field_listDefaultSetting_email_address}}</label>
                        <div class="col-4">
                            <input type="text" class="form-control" name="email_address"
                                [(ngModel)]="defaultSetting.email_address" required />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="session_timeout" class="col-3">{{field_listDefaultSetting_email_username}}</label>
                        <div class="col-4">
                            <input type="text" class="form-control" name="email_username"
                                [(ngModel)]="defaultSetting.email_username" required />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="session_timeout" class="col-3">{{field_listDefaultSetting_email_password}}</label>
                        <div class="col-4">
                            <input type="password" class="form-control" name="email_password"
                                [(ngModel)]="defaultSetting.email_password" required />
                        </div>
                    </div>
                </div>
            </div>


            <div class="container">
                <div class="row">
                    <div class="col-2">
                        <button class="btn btn-primary"
                            (click)="onClickUpdate()">{{field_listDefaultSetting_button_update}}
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </button>
                    </div>
                    <div class="col-2">
                        <button type="button" class="btn btn-danger"
                            (click)="onClickReset()">{{field_listDefaultSetting_button_reset}}
                            <i class="fa fa-times" aria-hidden="true"></i></button>
                    </div>
                    <div class="col-2">
                        <button class="btn btn-secondary"
                            type="button">{{field_listDefaultSetting_button_cancel}}</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>