<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <form class="form-horizontal form-material" name="form" #f="ngForm" (ngSubmit)="f.form.valid">
                <div class="card-header">
                    <h2>{{field_alertNotification_heading_alert_notification}}</h2>
                    <h6>{{field_alertNotification_info}}</h6>
                </div>
                <div class="card-body">

                    <div class="form-group row">
                        <label for="component_name" class="col-2">{{field_alertNotification_select_component}}</label>
                        <div class="col-10">
                            <select class="form-control" name="selected_component_name"
                                [(ngModel)]="selected_component_name" (change)="onSelectComponentChange()" required>
                                <option *ngFor="let obj of componentNameArr" [value]="obj">{{obj}}</option>
                            </select>
                        </div>
                    </div>

                    <span *ngIf="flagShowAlertBoxes">
                        <div class="form-group row">
                            <label for="component_name"
                                class="col-2">{{field_alertNotification_select_alert_name}}</label>
                            <div class="col-10">
                                <select class="form-control" name="component_name"
                                    [(ngModel)]="selected_alert_notification_id" (change)="onSelectAlertNotification()"
                                    required>
                                    <option *ngFor="let obj of alertNotificationArr"
                                        [value]="obj.alert_notification_id">
                                        {{obj.alert_name}}</option>
                                </select>
                            </div>
                        </div>


                        <div class="form-group row">
                            <label for="field_value"
                                class="col-2">{{field_alertNotification_current_alert_text}}</label>
                            <div class="col-10">
                                <input type="text" class="form-control" name="alert_value"
                                    [(ngModel)]="currentAlertNotification.alert_value" required />
                            </div>
                        </div>

                        <div class="container">
                            <div class="row">
                                <div class="col-2">
                                    <button class="btn btn-primary"
                                        (click)="onClickUpdate()">{{field_alertNotification_button_update}}
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                    </button>
                                </div>
                                <div class="col-2">
                                    <button type="button" class="btn btn-danger"
                                        (click)="onClickReset()">{{field_alertNotification_button_reset}}
                                        <i class="fa fa-times" aria-hidden="true"></i></button>
                                </div>
                                <div class="col-2">
                                    <button class="btn btn-secondary"
                                        type="button">{{field_alertNotification_button_cancel}}</button>
                                </div>
                            </div>
                        </div>
                    </span>

                </div>
            </form>
        </div>
    </div>
</div>