<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <form class="form-horizontal form-material" name="form" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()">
                <div class="card-header">
                    <h2 *ngIf="isComponentNew">Add New DBConnector</h2>
                    <h2 *ngIf="!isComponentNew">Update DBConnector </h2>
                    <h6>{{field_crudConnector_info}}</h6>
                </div>
                <div class="card-body">

                    <div class="form-group row">
                        <label for="connector_name" class="col-2">{{field_Connector_connector_name}} <span
                                *ngIf="field_Connector_connector_name_required"> (*) </span></label>
                        <div class="col-10">
                            <input type="text" class="form-control" name="connector_name"
                                [(ngModel)]="current_DBconnector.connector_name" #connector_name="ngModel"
                                pattern="^(?:[A-Za-z0-9]+)(?:[A-Za-z0-9 _]*)$" [disabled]="!isComponentNew"
                                [ngClass]="{ 'is-invalid': f.submitted && connector_name.invalid }"
                                [required]="field_Connector_connector_name_required" />
                            <div *ngIf="f.submitted && connector_name.invalid && (connector_name.dirty || connector_name.touched)"
                                class="invalid-feedback">
                                <div *ngIf="connector_name.errors.required || connector_name.errors.pattern">
                                    {{field_crudConnector_connector_name_error_message}}</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="connector_type">{{field_Connector_connector_type}}</label>
                        <select placeholder="connector_type" class="form-control" name="connector_type"
                            [(ngModel)]="current_DBconnector.connector_type">
                            <option *ngFor="let obj of PICKLIST_DB_CONNECTOR_TYPES" [value]="obj.id">
                                {{obj.name}}</option>
                        </select>
                    </div>

                    <div class="form-group row">
                        <label for="hostname" class="col-2">{{field_Connector_hostname}} <span
                                *ngIf="field_Connector_hostname_required"> (*) </span></label>
                        <div class="col-10">
                            <input type="text" class="form-control" name="hostname"
                                [(ngModel)]="current_DBconnector.hostname" #hostname="ngModel"
                                pattern="^(?:[A-Za-z0-9]+)(?:[A-Za-z0-9 _]*)$" [disabled]="!isComponentNew"
                                [ngClass]="{ 'is-invalid': f.submitted && hostname.invalid }"
                                [required]="field_Connector_hostname_required" />
                            <div *ngIf="f.submitted && hostname.invalid && (hostname.dirty || hostname.touched)"
                                class="invalid-feedback">
                                <div *ngIf="hostname.errors.required || hostname.errors.pattern">
                                    {{field_crudConnector_hostname_error_message}}</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="username" class="col-2">{{field_Connector_username}} <span
                                *ngIf="field_Connector_username_required"> (*) </span></label>
                        <div class="col-10">
                            <input type="text" class="form-control" name="username"
                                [(ngModel)]="current_DBconnector.username" #username="ngModel"
                                pattern="^(?:[A-Za-z0-9]+)(?:[A-Za-z0-9 _]*)$" [disabled]="!isComponentNew"
                                [ngClass]="{ 'is-invalid': f.submitted && username.invalid }"
                                [required]="field_Connector_username_required" />
                            <div *ngIf="f.submitted && username.invalid && (username.dirty || username.touched)"
                                class="invalid-feedback">
                                <div *ngIf="username.errors.required || username.errors.pattern">
                                    {{field_crudConnector_username_error_message}}</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="password" class="col-2">{{field_Connector_password}} <span
                                *ngIf="field_Connector_password_required"> (*) </span></label>
                        <div class="col-10">
                            <input type="text" class="form-control" name="password"
                                [(ngModel)]="current_DBconnector.password" #password="ngModel"
                                pattern="^(?:[A-Za-z0-9]+)(?:[A-Za-z0-9 _]*)$" [disabled]="!isComponentNew"
                                [ngClass]="{ 'is-invalid': f.submitted && password.invalid }"
                                [required]="field_Connector_password_required" />
                            <div *ngIf="f.submitted && password.invalid && (password.dirty || password.touched)"
                                class="invalid-feedback">
                                <div *ngIf="password.errors.required || password.errors.pattern">
                                    {{field_crudConnector_password_error_message}}</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="port" class="col-2">{{field_Connector_port}} <span
                                *ngIf="field_Connector_port_required"> (*) </span></label>
                        <div class="col-10">
                            <input type="text" class="form-control" name="port" [(ngModel)]="current_DBconnector.port"
                                #port="ngModel" pattern="^(?:[A-Za-z0-9]+)(?:[A-Za-z0-9 _]*)$"
                                [disabled]="!isComponentNew" [ngClass]="{ 'is-invalid': f.submitted && port.invalid }"
                                [required]="field_Connector_port_required" />
                            <div *ngIf="f.submitted && port.invalid && (port.dirty || port.touched)"
                                class="invalid-feedback">
                                <div *ngIf="port.errors.required || port.errors.pattern">
                                    {{field_crudConnector_port_error_message}}</div>
                            </div>
                        </div>
                    </div>


                    <div class="container">
                        <div class="row">
                            <div class="col-2">
                                <button class="btn btn-primary">
                                    <span *ngIf="isComponentNew">{{field_button_save}}</span>
                                    <span *ngIf="!isComponentNew">{{field_button_update}}</span>
                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="col-2">
                                <button type="button" class="btn btn-danger"
                                    (click)="onClickReset()">{{field_button_reset}}
                                    <i class="fa fa-times" aria-hidden="true"></i></button>
                            </div>
                            <div class="col-2">
                                <button class="btn btn-secondary" type="button"
                                (click)="onCancel()">{{field_button_cancel}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>