input { font-size: 16px; }
.text-info{
  font-size: 16px;
  }

.eyeicon {
  float: right;
  /* margin-left: -25px; */
  margin-top: -37px;
  z-index: 2;
  height: 31px;
  border: none;
  margin-right: 3px;
}

.form-control {
  color: black;
  border-color: darkgray;
}.card {
  border-top: 0px;
  margin-bottom: 256px;
  align-content: center;
}.form-control:focus {
  box-shadow: 0px 0px 0px 0px rgba(0, 123, 255, 0.823);
}

.form-control {
  border-width: 1px;
  border-radius: 1px;
}

.form-check {
  padding-bottom: 14px;
}.footer-bottom {
  margin-left: -215px;
  margin-right: -215px;
  margin-top: -160px;
  height: 160px;
  padding: 25px 0;
  text-align: center;
  color: #fff;
  background: #0078b8;
}

.pt-5,
.py-5 {
  padding-top: -1rem !important;
}
.mt-r{
  background-color: #0078b8;
}

.icon-login{
  
  float: none;
    font-weight: 800;
}
.img{
  height: 20px;
}

.sliderimage{
  height: 42px;
  margin-bottom: 20px;}
  .label{
    float: left;
    font-weight: 500 !important;
    font-size: inherit;
  }