<section class="login p-fixed d-flex text-center common-img-bg">


  <div class="auth-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="login-card card-body auth-body">
          <form class="md-float-material" (ngSubmit)="loginUser()" #loginForm="ngForm">

            <div class="auth-box">
              <div class="text-center">
                <img id="profile-img" height="42px" width="265px" src="assets/images/site-logo.png" />
              </div>
              <div class="col-md-12">
                <h3 class="text-center txt-primary">IDAM - Sign In</h3>

              </div>

              <hr />
              <div class="form-group">
                <input type="text" id="uname" class="form-control" name="uname" autocomplete="off" #uname="ngModel"
                  [(ngModel)]="userObject.uname" placeholder="Username" title="Please enter the username" required
                  autofocus>
                <div *ngIf="uname.touched && uname.invalid" class="alert alert-danger">
                  <p>
                    User Name is required
                  </p>
                </div>
              </div>
              <div class="form-group" *ngIf="auth_type == 2">
                <input type="text" id="DN" class="form-control" name="DN" #uname="ngModel" [(ngModel)]="DN"
                  placeholder="DN">
                <span *ngIf="auth_type == 2">
                  <p class="text-info" style="text-align:left;"><b>User DN:</b> cn={{userObject.uname}},{{DN}}
                  </p>
                </span>
              </div>
              <div class="form-group">
                <input [type]="password" id="upass" class="form-control" name="upass" autocomplete="off"
                  #upass="ngModel" [(ngModel)]="userObject.upass" placeholder="Password"
                  title="Please enter the password" required>

                <div class="eyeicon" (click)="onClick()">
                  <i class="fa fa-eye" aria-hidden="true" *ngIf="!show"></i>
                  <i class="fa fa-eye-slash" aria-hidden="true" *ngIf="show"></i>
                </div>
                <div *ngIf="upass.touched && upass.invalid" class="alert alert-danger">
                  <p>
                    Password is required
                  </p>
                </div>
              </div>


              <div class="form-group">
                <input type="text" id="authcode" class="form-control" *ngIf="this.tfaFlag" name="authcode"
                  autocomplete="off" #authcode="ngModel" [(ngModel)]="userObject.authcode"
                  placeholder="Two-Factor Auth code" title="Please enter the code" required>
              </div>

              <p class="text-info" style="text-align:left;">[<b>Authentication Type:</b> {{auth_type_text}}] </p>

              <div class="form-group">
                <label for="selected_user_type" class="label">User Type</label>
                <select placeholder="selected_user_type" class="form-control" name="selected_user_type"
                  [(ngModel)]="selected_user_type">
                  <option *ngFor="let obj of PICKLIST_USER_TYPES_ARRAY" [value]="obj.id"> {{obj.name}}</option>
                </select>
              </div>

              <div class="form-group">
                <label for="preferred_language" class="label">Language</label>
                <select placeholder="preferred_language" class="form-control" name="preferred_language"
                  [(ngModel)]="preferred_language">
                  <option *ngFor="let obj of PICKLIST_PREFERRED_LANGUAGE_ARRAY" [value]="obj.id">
                    {{obj.name}}</option>
                </select>
              </div>

              <button class="btn btn-primary btn-block text-uppercase" type="submit"
                [disabled]="uname?.errors?.required || upass?.errors?.required || (this.tfaFlag && authcode?.errors?.required) || clicked">
                <i class="fa fa-user-plus" aria-hidden="true"></i>Sign in</button>
              <p class="text-danger" style="text-align:center;" *ngIf="errorMessage">{{errorMessage}}</p>
              <hr />
              <div class="row">
                <div class="container mt-r">
                  <div id="logCarousel" class="carousel slide" data-ride="carousel">

                    <div class="carousel-inner">

                      <div class="carousel-item active">
                        <div class="row">
                          <div class="col-sm-6">
                            <span style="color: white;" (click)="onClickActiveDirectory()">Active
                              Directory</span><br> <br>
                            <img id="AD-img" class="sliderimage" src="assets/images/login/Active Directory.png"
                              (click)="onClickActiveDirectory()" alt=" Active Directory" />
                          </div>

                          <div class="col-sm-6">
                            <span style="color: white;" (click)="onClickDefault()">Default</span><br> <br>
                            <img id="AD-img" class="sliderimage" src="assets/images/login/HRMS.png"
                              (click)="onClickDefault()" alt="Default" />
                          </div>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <div class="row">
                          <div class="col-sm-6">
                            <span style="color: white;" (click)="onClickWindowsServer()">MSSQL</span><br> <br>
                            <img id="AD-img" class="sliderimage" src="assets/images/login/Windows servers.png"
                              (click)="onClickWindowsServer()" alt="MSSQL" />
                          </div>

                          <div class="col-sm-6">
                            <span style="color: white;" (click)="onClickHPS()">HPS</span><br> <br>
                            <img id="AD-img" class="sliderimage" src="assets/images/login/HRMS.png"
                              (click)="onClickHPS()" alt="HPS" />
                          </div>
                        </div>
                      </div>

                    </div>

                    <!-- Left and right controls -->

                    <div class="prevnext">
                      <a class="carousel-control-prev" href="#logCarousel" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                      </a>
                      <a class="carousel-control-next" href="#logCarousel" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                      </a>
                    </div>

                  </div>
                </div>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <div class="bg-cover">
  <div class="container">
    <div class="row ">
      <div class="col-md-12 min-vh-100 d-flex flex-column justify-content-center">
        <div class="text-center">
          <img id="profile-img" height="135px" width="135px" src="assets/images/Ogoul_Technology.png" />
        </div>
        <div class="row" style="margin: 15px;">
          <div class="col-lg-6 col-md-8 mx-auto">
            <div class="card rounded shadow shadow-sm">
              <div class="card-header">

                <h4 class="card-title  text-center">Sign In</h4>

                <div class="card-body">
                  <form class="form-signin" (ngSubmit)="loginUser()" #loginForm="ngForm">
                    <div class="form-group">
                      <input type="text" id="uname" class="form-control" name="uname" autocomplete="off"
                        #uname="ngModel" [(ngModel)]="userObject.uname" placeholder="Username"
                        title="Please enter the username" required autofocus>
                      <div *ngIf="uname.touched && uname.invalid" class="alert alert-danger">
                        <p>
                          User Name is required
                        </p>
                      </div>
                    </div>
                    <div class="form-group" *ngIf="auth_type == 2">
                      <input type="text" id="DN" class="form-control" name="DN" #uname="ngModel" [(ngModel)]="DN"
                        placeholder="DN">
                      <span *ngIf="auth_type == 2">
                        <p class="text-info" style="text-align:left;"><b>User DN:</b> cn={{userObject.uname}},{{DN}}
                        </p>
                      </span>
                    </div>

                    <div class="form-group">
                      <input [type]="password" id="upass" class="form-control" name="upass" autocomplete="off"
                        #upass="ngModel" [(ngModel)]="userObject.upass" placeholder="Password"
                        title="Please enter the password" required>

                      <div class="eyeicon" (click)="onClick()">
                        <i class="fa fa-eye" aria-hidden="true" *ngIf="!show"></i>
                        <i class="fa fa-eye-slash" aria-hidden="true" *ngIf="show"></i>
                      </div>
                      <div *ngIf="upass.touched && upass.invalid" class="alert alert-danger">
                        <p>
                          Password is required
                        </p>
                      </div>

                    </div>
                    <div class="form-group">
                      <input type="text" id="authcode" class="form-control" *ngIf="this.tfaFlag" name="authcode"
                        autocomplete="off" #authcode="ngModel" [(ngModel)]="userObject.authcode"
                        placeholder="Two-Factor Auth code" title="Please enter the code" required>
                    </div>

                    <p class="text-info" style="text-align:left;">[<b>Authentication Type:</b> {{auth_type_text}}] </p>

                    <div class="form-group">
                      <label for="selected_user_type">User Type</label>
                      <select placeholder="selected_user_type" class="form-control" name="selected_user_type" [(ngModel)]="selected_user_type">
                        <option *ngFor="let obj of PICKLIST_USER_TYPES_ARRAY" [value]="obj"> {{obj}}</option>
                      </select>
                    </div>

                    <div class="form-group">
                      <label for="preferred_language">Language</label>
                      <select placeholder="preferred_language" class="form-control" name="preferred_language"
                        [(ngModel)]="preferred_language">
                        <option *ngFor="let obj of PICKLIST_PREFERRED_LANGUAGE_ARRAY" [value]="obj.id">
                          {{obj.name}}</option>
                      </select>
                    </div>

                    <button class="btn btn-primary btn-block text-uppercase" type="submit"
                      [disabled]="uname?.errors?.required || upass?.errors?.required || (this.tfaFlag && authcode?.errors?.required) || clicked">
                      <i class="fa fa-user-plus" aria-hidden="true"></i>Sign in</button>
                    <p class="text-danger" style="text-align:center;" *ngIf="errorMessage">{{errorMessage}}</p>
                  </form>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
              <div class="col-sm-3"><span style="color: white;" (click)="onClickWindowsServer()">MSSQL</span><br> <br>
                <img id="AD-img" src="assets/images/login/Windows servers.png" (click)="onClickWindowsServer()" /></div>
              <div class="col-sm-3"><span style="color: white;" (click)="onClickActiveDirectory()">Active
                  Directory</span><br> <br>
                <img id="AD-img" src="assets/images/login/Active Directory.png" (click)="onClickActiveDirectory()" />
              </div>

              <div class="col-sm-3"><span style="color: white;" (click)="onClickDefault()">Default (MongoDB)</span><br>
                <br>
                <img id="AD-img" src="assets/images/login/HRMS.png" (click)="onClickDefault()" /></div>



              <div class="col-sm-3"><span style="color: white;" (click)="onClickHRMS()">HRMS</span><br> <br>
                <img id="AD-img" src="assets/images/login/HRMS.png" (click)="onClickHRMS()" /></div>

            </div>

          </div>
          <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div> -->