<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h2>Applications List</h2>
            </div>
            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="card">
                                <div class="card-body text-center">
                                    <img class="rounded-circle" src={{entityDetail.icon_location}} />
                                    <div>
                                        <h4 class="card-title">{{entityDetail.entity_name}}</h4>
                                    </div>
                                    <hr>
                                    <div>
                                        <a href="#" class="btn btn-primary "><i class="fa fa-plus"></i>Request</a>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="card">
                                <div class="card-body text-center">
                                    <img class="rounded-circle" src={{entityDetail2.icon_location}} />
                                    <div>
                                        <h4 class="card-title">{{entityDetail2.entity_name}}</h4>
                                    </div>
                                    <hr>
                                    <div>
                                        <a href="#" class="btn btn-primary "><i class="fa fa-plus"></i>Request</a>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="card">
                                <div class="card-body text-center">
                                    <img class="rounded-circle" src={{entityDetail3.icon_location}} />
                                    <div>
                                        <h4 class="card-title">{{entityDetail3.entity_name}}</h4>
                                    </div>
                                    <hr>
                                    <div>
                                        <a href="#" class="btn btn-primary "><i class="fa fa-plus"></i>Request</a>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="card">
                                <div class="card-body text-center">
                                    <img class="rounded-circle" src={{entityDetail4.icon_location}} />
                                    <div>
                                        <h4 class="card-title">{{entityDetail4.entity_name}}</h4>
                                    </div>
                                    <hr>
                                    <div>
                                        <a href="#" class="btn btn-primary "><i class="fa fa-plus"></i>Request</a>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="card">
                                <div class="card-body text-center">
                                    <img class="rounded-circle" src={{entityDetail5.icon_location}} />
                                    <div>
                                        <h4 class="card-title">{{entityDetail5.entity_name}}</h4>
                                    </div>
                                    <hr>
                                    <div>
                                        <a href="#" class="btn btn-primary "><i class="fa fa-plus"></i>Request</a>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="card">
                                <div class="card-body text-center">
                                    <img class="rounded-circle" src={{entityDetail6.icon_location}} />
                                    <div>
                                        <h4 class="card-title">{{entityDetail6.entity_name}}</h4>
                                    </div>
                                    <hr>
                                    <div>
                                        <a href="#" class="btn btn-primary "><i class="fa fa-plus"></i>Request</a>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>