<div class="card" *ngIf="flagShowShortcuts">
  <div class="card-header">
    <h2>Reconciliation</h2>
  </div>
  <div class="card-body">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-3">
          <div class="card">
            <div class="card-body text-center">
              <img class="rounded-circle" src="../../../assets/defaultImages/users1.png"
                (click)="onShortcutClick(SHORTCUT_HR_RESTORATION)" />
              <div>
                <h4 class="card-title">Collaborate Users from HR</h4>
              </div>

            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="card">
            <div class="card-body text-center">
              <img class="rounded-circle" src="../../../assets/defaultImages/default1.jpg"
                (click)="onShortcutClick(SHORTCUT_RESTORATION)" />
              <div>
                <h4 class="card-title">Restoration</h4>
              </div>

            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-6 col-lg-3">
    <div class="card">
      <div class="card-body">
        <h5><b>{{field_dashboard_heading_systems}}</b></h5>
      </div>
      <div style="width: 100%">
        <canvas id="pie"></canvas>
      </div>
      <br>
      <br>
    </div>
  </div>

  <div class="col-md-6 col-lg-3">
    <div class="card">
      <div class="card-body">
        <h5><b>{{field_dashboard_heading_networks}}</b></h5>
      </div>
      <div style="width: 100%">
        <canvas id="pie1"></canvas>
      </div>
      <br>
      <br>
    </div>
  </div>

  <div class="col-md-6 col-lg-3">
    <div class="card">
      <div class="card-body">
        <h5><b>{{field_dashboard_heading_files}}</b></h5>
      </div>
      <div style="width: 100%">
        <canvas id="pie2"></canvas>
      </div>
      <br>
      <br>
    </div>
  </div>

  <div class="col-md-6 col-lg-3">
    <div class="card">
      <div class="card-body">
        <h5><b>{{field_dashboard_heading_applications}}</b></h5>
      </div>
      <div style="width: 100%">
        <canvas id="pie3"></canvas>
      </div>
      <br>
      <br>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
        <h6><b>{{field_dashboard_heading_total_system_entities}}</b></h6>
      </div>
      <h1 class="text-center text-primary">{{totalSystemEntities}}</h1>
      <br>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
        <h6><b>{{field_dashboard_heading_total_network_entities}}</b></h6>
      </div>
      <h1 class="text-center text-primary">{{totalNetworkEntities}}</h1>
      <br>
    </div>
  </div>


  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
        <h6><b>{{field_dashboard_heading_total_file_entities}}</b></h6>
      </div>
      <h1 class="text-center text-primary">{{totalFileEntities}}</h1>
      <br>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card">
      <div class="card-body">
        <h6><b>{{field_dashboard_heading_total_application_entities}}</b></h6>
      </div>
      <h1 class="text-center text-primary "> {{totalApplicationEntities}}</h1>
      <br>

    </div>
  </div>

  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <h5><b>{{field_dashboard_heading_recent_activities}}</b></h5>
      </div>
      <div class="card-body table-responsive reset-table p-t-0">
        <table class={{COMMON_TABLE_OPTIONS}} [mfData]="systemEventsArr" #mf="mfDataTable" [mfRowsOnPage]="10">
          <thead>
            <tr>
              <th width="20%">
                <mfDefaultSorter by="event_source">{{field_dashboard_heading_activity_source}}</mfDefaultSorter>
              </th>

              <th width="20%">
                <mfDefaultSorter by="event_type">{{field_dashboard_heading_activity_type}}</mfDefaultSorter>
              </th>
              <th width="20%">
                <mfDefaultSorter by="event_time">{{field_dashboard_heading_activity_time}}</mfDefaultSorter>
              </th>
              <th width="20%">
                <mfDefaultSorter by="source_username">{{field_dashboard_heading_who_initiated}}</mfDefaultSorter>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let obj of mf.data">
              <td>{{ obj.event_source }}</td>
              <td>{{ obj.event_type }}</td>
              <td>{{ obj.event_time | date: 'dd/MM/yyyy hh:mm:ss' }}</td>
              <td>{{ obj.source_username }}</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="4">
                <mfBootstrapPaginator [rowsOnPageSet]="[10,25,50]"></mfBootstrapPaginator>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>

  <div class="col-md-8 col-lg-6">
    <div class="card">
      <div class="card-body">
        <h5><b>User Status</b></h5>
        <div style="width: 100%">
          <canvas id="line"></canvas>
        </div>

      </div>
    </div>
  </div>

  <div class="col-md-8 col-lg-6">
    <div class="card">
      <div class="card-body">
        <h5><b>Latest Active Sessions</b></h5>
        <div style="width: 100%">
          <canvas id="bar"></canvas>
        </div>

      </div>
    </div>
  </div>
</div>