<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <form class="form-horizontal form-material" name="form" #f="ngForm">
                <div class="card-header">
                    <h2> {{field_crudFormElement_heading_configure_form_element}} '{{currentFormElement.form_element_name}}'</h2>
                    <h6>{{field_crudFormElementComponent_info}}</h6>
                </div>
                <div class="card-body">
                    <span *ngIf="flagFormElementCombo">
                        <div class="form-group row">
                            <label for="sector_type">{{field_crudFormElement_select_combo}}</label>
                            <div class="col-2">
                                <select class="form-control" name="select_combo" (change)="onSelectComboData()"
                                    [(ngModel)]="currentFormElement" #select_combo="ngModel">
                                    <option *ngFor="let obj of formElementArr" [ngValue]="obj">
                                        {{obj.data_name}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-2" *ngIf="currentAction == 0">
                                <input type="text" class="form-control" name="data_value" disabled
                                    [(ngModel)]="current_form_data_value">
                            </div>
                            <div class="col-2" *ngIf="currentAction == 0">
                                <button class="btn btn-primary" (click)="onClickAddNew()">
                                    Add <i class="fa fa-pencil" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="col-2" *ngIf="currentAction == 0">
                                <button class="btn btn-primary" (click)="onClickUpdate()">
                                    Update <i class="fa fa-pencil" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="col-2" *ngIf="currentAction == 0">
                                <button class="btn btn-primary" (click)="onClickDelete()">
                                    Delete <i class="fa fa-pencil" aria-hidden="true"></i>
                                </button>
                            </div>

                        </div>

                        <span *ngIf="currentAction != 0">
                            <div class="form-group row">
                                <div class="col-4">
                                    <label for="data_name">{{field_crudFormElement_data_name}}</label>
                                    <!-- <input type="text" class="form-control" name="data_name"
                                        [(ngModel)]="current_form_data_name"> -->
                                </div>

                                <div class="col-4">
                                    <label for="data_value">{{field_crudFormElement_data_value}}</label>
                                    <!-- <input type="text" class="form-control" name="data_value"
                                        [(ngModel)]="current_form_data_value"> -->
                                </div>
                                <!-- 
                                <div class="col-2">
                                    <label></label>
                                    <button class="btn btn-primary" (click)="onClickCurrentAction()">
                                        {{currentActionName}} <i class="fa fa-pencil" aria-hidden="true"></i>
                                    </button>
                                </div> -->
                            </div>

                            <div class="form-group row">
                                <div class="col-4">
                                    <input type="text" class="form-control" name="data_name" required
                                        [(ngModel)]="current_form_data_name">
                                </div>
                                <div class="col-4">
                                    <input type="text" class="form-control" name="data_value" required
                                        [(ngModel)]="current_form_data_value">
                                </div>

                                <div class="col-2">
                                    <button class="btn btn-primary" (click)="onClickCurrentAction()">
                                        {{currentActionName}} <i class="fa fa-pencil" aria-hidden="true"></i>
                                    </button>
                                </div>
                                <div class="col-2">
                                    <button class="btn btn-primary" (click)="onClickCancelCurrentAction()">
                                        Cancel <i class="fa fa-pencil" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </span>

                    </span>
                </div>
            </form>
        </div>
    </div>
</div>